[2016-08-24 21:27] myedibleenso commented on #308
Unfortunately, this is a CoreNLP issue that we're not prepared to address right now.  Closing for the time being...

[2016-08-24 21:27] #308 closed

[2016-08-24 21:45] bgyori commented on #325
No, the simple solution would be to not extract anything at all. Figuring out what `docetaxel resistance` is would be beyond the capabilities of the system so it's better to leave it out. For the `NF1 mutant cells` example, in principle, `NF1 mutant cells` could be extracted as _context_ on the actual process that the sentence talks about but again it might be hard to do and it would be better not

[2016-08-25 02:46] johnbachman commented on #328
"level(s) of"

On Wed, Aug 24, 2016 at 5:17 PM, Mihai Surdeanu <notifications@github.com>
wrote:

[2016-08-25 02:52] johnbachman commented on #325
Actually, for the first sentence, a legitimate extraction would be "AR increases p21 expression."

[2016-08-25 13:29] bgyori commented on #328
+ amount of, transcription of

[2016-08-25 13:32] bgyori commented on #264
One further example comes from another issue I posted: `loss of neurofibromin in monocytes and macrophages enhances ROS production`. Here `loss of` needs to be taken into account to determine the polarity of the effect of neurofibromin on ROS.

[2016-08-25 13:33] bgyori commented on #325
Yes, John is right, I didn't explicitly say this when I wrote "the actual process that the sentence talks about".

[2016-08-25 19:41] myedibleenso opened #331 "ContextEngine warnings?"
I was running reach on some papers where I encountered these warnings:
[code]

Should I be concerned, @enoriega?  Unfortunately, I can't tell you which paper is to blame, as I was running reach over 1000 papers...

[2016-08-25 20:35] enoriega commented on #331
@myedibleenso: What version of bioresources is being used with this build of reach?

[2016-08-25 21:02] myedibleenso commented on #324
If you open it up, it looks like the file isn't formatted correctly (see lines 4-47).  There are a bunch of lines where it's just part of the text from some section in the paper.  Also the encoding is wonky.  I am about to push a "fix" for the encoding issue, but the formatting is another problem...

The `DSVParser` could be rewritten via the `application.conf` to allow for more flexibility in the

[2016-08-25 21:05] MihaiSurdeanu commented on #324
Tom, can you please document what's wrong with the format and let Natasa
know?

On Thu, Aug 25, 2016 at 2:02 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-08-25 21:14] hickst commented on #324
Wow, I never looked at this particular file but the problem is obvious in this one. I looked at several others where the problem is not so obvious. I picked this one because it was the smallest one that failed (that was clearly a mistake)!

[2016-08-25 21:18] myedibleenso commented on #324
Just to reiterate: the files should a) have  header and b) contain three columns: PMCID, chunk ID (could be blank), and text

[2016-08-25 21:21] myedibleenso commented on #331
v1.1.15 (same as the `master` branch of reach).

[2016-08-25 21:22] hickst commented on #324
Yes, and that's what the sample I sent her had. Thanks!

[2016-08-25 21:22] myedibleenso commented on #331
Actually, I'm seeing a lot more of these warnings as this jobs chugs along.

[2016-08-27 03:54] johnbachman opened #332 "Problems with "X activates Y-induced Z""
Hi, I've been looking over a bunch of sentences and I find that one common failure mode is with sentences of the form "X activates Y-induced Z." Often X and Y are genes/proteins/chemicals and Z is a biological process.

For sentences like these, REACH often extracts "X activates Y". The  extraction "Y activates Z" is correct but possibly trivial; "X activates Z" is possibly justifiable though will

[2016-08-29 17:31] enoriega commented on #331
The reason of why this warning gets printed is because the ids, for example `uaz:UAZ02290` aren't in any of the KBs of bioresources.

I'm not sure how that ID came to existence. Is it possible that `uaz:UAZ02290` is being generated by the CRF?

@hickst Is it possible that a CRF detected mention is hiding the a cell type or organ that matches the same text because proteins have higher priority than

[2016-08-29 17:42] hickst commented on #331
That's correct. If a string is not found in the KBs, it gets a "default" ID of this form from grounding.

If a string is not found in the KBs, it gets a "default" ID of this form from grounding.

Yes and no. The NER labeling (which uses CRF and the NER override KB) **TELL** grounding which KB to lookup the string in. So, if the NER labeling says a string *xyz* is a protein, it will be looked up in

[2016-08-29 17:45] enoriega commented on #331
In these particular examples, the labels are `Organ` and `CellType`, which are the first element of the tuples:

[code]

[2016-08-29 18:42] MihaiSurdeanu commented on #332
Hi John,

We actually had this discussion with MITRE, which was caused by the fact that MITRE doesn't really accept nested statements. We proposed your solution for ""X activates Y-induced Z": "X activates (Y activates Z)", but they suggested we instead report two flat statements: "X activates Y" and "Y activates Z". What do you think? Should we discuss this at the next PI meeting, if biologically

[2016-08-29 18:57] johnbachman commented on #332
The two statement interpretation (X activates Y, Y activates Z) is not generally applicable. Consider "Ras mediates EGF activation of ERK." Very frequently papers report findings of this type, identifying mechanistic intermediates involved in an overall process. It doesn't make sense to put Ras upstream of EGF (Ras -> EGF, EGF-> ERK).

However, if Ras->ERK had been discovered first, you might find

[2016-08-29 18:59] johnbachman commented on #332
So yes, we should definitely discuss at the next PI meeting, as this will be important in future evaluations.

[2016-08-29 19:14] johnbachman commented on #332
Here's another one I just came across (PMID21977288):

```The [mechanical] strain induced c-Fos expression can be reduced by PKC inhibition but not by PKA inhibition.```

REACH (correctly in my opinion) returns "PKC activates c-Fos." MITRE's interpretation would have "PKC activates strain." This is clearly nonsense as a standalone fact.

[2016-08-29 19:15] danebell commented on #328
Should this event type be merged with [the currently inactive type `Transcription`](https://github.com/clulab/reach/blob/master/src/main/resources/org/clulab/reach/biogrammar/inactive/transcription_events.yml)?

[2016-08-29 19:18] johnbachman commented on #328
No, because there are many post-transcriptional ways of regulating protein abundance (mRNA stability, microRNAs, translation efficiency, protein stability, etc.).

[2016-08-29 19:20] johnbachman commented on #328
But, having a Transcription type would be very useful! It would allow REACH-assembled networks to be used to explain transcriptional data, which is very abundant and relatively easy to obtain.

[2016-08-29 19:21] danebell commented on #328
Would you say then that `Transcription` is a special case of `Amount`? If so, are there other special cases that are crucial to capture?

[2016-08-29 19:26] johnbachman commented on #328
Yes, I think so. In fact we have also (partially) implemented such a hierarchy, with RegulateAmount as the Statement supertype and RegulateTranscription as the subtype.

[2016-08-29 19:27] johnbachman commented on #328
There may be other special cases that we can pick up on from language, but they could probably be dealt with later--I would say there would be a big boost in specifically addressing transcription as soon as possible.

[2016-08-29 19:28] danebell commented on #328
Okay, this makes sense to me. That shouldn't be an enormous investment, since we already have some rules written. Thanks!

[2016-08-29 19:33] johnbachman commented on #328
One other thing that is worth noting--I would say that most often what you will find in papers is some reference to the amount not of the overall protein, but of some specifically modified form. For example, "X increases the amount of phosphorylated Y," or "X increases the amount of Y at the plasma membrane." Here the overall amount of protein Y is not changing, but some modified amount is. So for

[2016-08-29 19:36] danebell commented on #328
If I'm understanding you, "X increases the amount of phosphorylated Y" is equivalent to "X increases the phosphorylation of Y", so we should aim to extract a regulation of a phosphorylation, not a regulation of an amount. That's a very valuable observation.

[2016-08-29 21:41] bgyori commented on #328
Yes, that's what I think too. It is a regulation of the _phosphorylation_ of Y, which is different from the regulation of the _overall amount_ / _expression_ of Y.

[2016-08-29 23:17] danebell commented on #325
Possible approaches:

1. Add contextual restrictions to the entity rules so we don't produce mentions for them, e.g. with negative lookaheads for the word 'resistance'. Potentially hurts coreference resolution.
2. Edit the event rules by providing either positive (allowed) words or negative (disallowed) words when the syntactic path includes an `nn` link. A disadvantage of this is that we'd have t

[2016-08-29 23:36] myedibleenso commented on #325
I like (1), but there is some small risk it could hamper the coref module's hunt for antecedent.  Generally, though, I don't think we care about entity mentions unless they happen to be participating in events.

(2) could be handled as a variable defining a lookaround constraint on certain args of events, but this will complicate the templates a bit...

[2016-08-29 23:42] myedibleenso commented on #324
As far as the encoding issue goes, I'm not sure if this is an acceptable solution: https://github.com/clulab/reach/compare/dsv-parser-encoding

[2016-08-30 18:01] bgyori opened #334 "Phosphorylation_token_3_noun fails in some ambiguous cases"
This rule seems to look for `X phosphorylation` in text and extract an `X is phosphorylated` event. However, `X phosphorylation` is ambiguous because it can either mean phosphorylation _of_ X or phosphorylation _by_ X.

Consider the following (simplified) sentences:
- The PTEN protein contains a CK2 phosphorylation site.
- Mutations of the AKT1 phosphorylation site of RUNX3 decreased RUNX3 sumoyla

[2016-08-30 18:09] bgyori commented on #325
Some more examples that result in incorrect negative activation events:
- PARP inhibition in Brca1 deficient cells
- MEK inhibition of BRAF V600E -positive melanoma cells

[2016-08-30 21:43] bgyori opened #335 "binding_17 extractions of "associated with""
The binding_17 rule extracts complex formation events for `A is associated with B` sentences. However, `is associated with` seems to be usually used to draw an observational, statistical link between "distant" molecular players or higher level processes - things like `Smoking is associated with lung cancer`. The `associated with` pattern accounts for a lot of the extractions from binding_17 (~50%)

[2016-08-30 22:04] MihaiSurdeanu commented on #264
Thanks Ben!
I am not sure what to do about changing the event representations... I get your point. But these new representations no longer match BioPAX, and that scares me.

Meanwhile, I added all the words you mentioned (I'll push my changes in a minute). Btw, the entire regex we use for polarity reversal is this:

`val SEMANTIC_NEGATIVE_PATTERN = "attenu|block|deactiv|decreas|degrad|delet|dimini

[2016-08-31 02:03] johnbachman opened #337 "What to do with "XREF_BIBR"?"
We very frequently find passages in the captured REACH text containing the string "XREF_BIBR" where citations or cross-references would have appeared in the text of the paper. Examples:

* "Moreover, given the previous reports that p19 ARF can inhibit the activity of Myc (XREF_BIBR; XREF_BIBR), the mutual antagonism between Myc and p19 ARF could be explained, at least in part, by their cross regul

[2016-08-31 15:32] bgyori opened #338 "Problems with complex formation from ligation"
We encountered a few suspicious extractions of complex formations based on the occurrence of the word `ligation`.

Two sentences where this seems to be the issue are:
- It has been reported that there is increased activity of MAPKs with ligation of ICAM-1, VCAM-1 or E-selectin ligation in epithelial and endothelial cells.
- Rac GTPases are activated by a broad array of extracellular stimuli releva

[2016-08-31 17:36] bgyori commented on #264
So the issue is that BioPAX is meant to represent _mechanisms_ whereas much of the literature (specifically many of the sentences that trigger this rule) describes _observations_. In this sense, it is not unexpected that BioPAX cannot express certain types of empirical observations. I understand that this would be a fundamental change in the system but it is something to keep in mind for the futur

[2016-08-31 20:12] hickst opened #339 "Process remaining CMU model papers extracted from HTML"
This started out as issue #324.

1. Review and process the CSV files extracted from the HTML publications by Terron
2. Send the results to NMZ.

[2016-08-31 20:26] hickst opened #340 "Process latest Open Access papers"
Post results directory on Wiki for team use.
Package and upload results.

[2016-08-31 20:27] hickst commented on #324
Refined and separated into issue #339

[2016-08-31 20:27] #324 closed

[2016-08-31 20:42] MihaiSurdeanu commented on #334
I thought our grammar handles these situations because we have this rule with higher priority: "X phosphorylation of Y", i.e., when X is a case, which is prioritized higher than "X phosphorylation", where X is the theme.
We'll look into this.

[2016-08-31 20:42] myedibleenso commented on #334
"site" is the smoking gun here.

[2016-08-31 20:44] MihaiSurdeanu commented on #335
@bgyori: we know "associated with" is ambiguous, but we're not sure how to disambiguate it. Any simple ideas?

[2016-08-31 20:51] MihaiSurdeanu commented on #337
@hickst: add XREF_BIBR to our NER/grounding black list

[2016-08-31 20:53] MihaiSurdeanu commented on #338
@bgyori: So, should we extract these complexes or not?

[2016-08-31 20:57] johnbachman commented on #337
While you're at it, blacklist XREF_FIG as well (see first example sentence, above).

[2016-08-31 20:57] bgyori commented on #335
I have some ideas:
1. In a statistical sense simply removing this case of the rule would be a net improvement.
2. I would classify `A associates with B` as likely to refer to a physical interaction between two molecular entities and `A is/was associated with B` as unlikely to refer to a physical interaction.
3. Is named entity recognition and grounding able to influence what is ultimately extracte

[2016-08-31 21:02] bgyori commented on #338
No, these two examples I showed are incorrect extractions based on the original sentences. Weirdly enough, the `antigen binds antigen receptor` is technically correct, but how does this rule get that from `lymphocyte antigen receptor ligation`?

[2016-09-01 02:03] MihaiSurdeanu commented on #264
Done.

Closing this issue, just for house cleaning. We can reopen if we have a practical solution for the remaining problems.

[2016-09-01 02:03] #264 closed

[2016-09-01 02:10] MihaiSurdeanu commented on #335
3 is a very good catch! We should do this!
@myedibleenso @marcovzla: can you please make sure that Binding rules operate only proteins, families, or chemicals?

[2016-09-01 05:46] hickst commented on #338
What is the correct interpretation of this sentence? (it seems multi-way ambiguous depending on where you attach the "with ligation...." and "in epithelial and endothelial cells"):
1. In epithelial and endothelial cells, there is increased binding of MAPKs to ICAM-1, VCAM-1, and E-selectin OR
2. When ICAM-1, VCAM-1, and E-selectin are bound (by some unspecified process) this increases MAPK activit

[2016-09-01 06:11] hickst commented on #337
@enoriega I added these to the Bioresources stop list but the Reach TestNERStopList test fails, claiming that XREF_BIBR entry is still producing a mention. Curiously, XREF_FIG does not produce a mention and that test succeeds. At the Reach shell, XREF_BIBR produces a GGP CorefTextBoundMention.

[2016-09-01 06:14] hickst commented on #337
I should have mentioned: because of the modified Bioresources, I'm using
Bioresources 1.1.16-SNAPSHOT and Processors 5.9.5-SNAPSHOT (using BR 1.1.16-SNAPSHOT) and Reach master using them both.

[2016-09-01 08:51] myedibleenso commented on #337
That's weird...it sounds like the blacklist may not be working.  Could it be that the blacklist entry is getting tokenized as `["XREF", "FIG"]`?  Probably not, right?   If it were getting split when processing the blacklist I would expect it to be tokenized the same way everywhere else...

The rule that produced the mention was `ner-gene_or_gene_product-entities`, right?

[2016-09-01 13:51] johnbachman commented on #338
The latter interpretation (2) is correct. I would guess that this is actually the most common use of "ligation", where the particular ligand is unmentioned. For example, "Ligation of the EGFR receptor activates downstream signaling." There are many possible EGFR ligands so authors don't mention any one in particular.

I've seen a number of examples (don't have the specific sentences/PMIDs handy) w

[2016-09-01 13:52] johnbachman commented on #338
Also, the appearance of the second ligation (after E-selectin) is just bad English, I would say.

[2016-09-01 13:55] bgyori commented on #338
The first sentence basically means: `if a ligand binds  to the ICAM-1 protein or if a ligand binds to the VCAM-1 protein, or if a ligand binds to the E-selectin protein, MAP kinases become activated. The meaning of the sentence is therefore perhaps faithfully captured by `ICAM-1 (indirectly) activates MAPK`, `VCAM-1 (indirectly) activates MAPK`, etc.

[2016-09-01 16:07] MihaiSurdeanu commented on #337
I'll look at this.

[2016-09-01 16:22] MihaiSurdeanu commented on #335
@myedibleenso, @marcovzla: if the above idea doesn't work, let's go brute force and simply remove "associate" from the list of triggers. It seems too noisy.

[2016-09-01 16:30] MihaiSurdeanu commented on #338
@marcovzla: it seems that the practical actions are:
1. Remove "ligation" as trigger word for binding.
2. See why we get `antigen binds antigen receptor` from the sentence "Rac GTPases are activated by a broad array of extracellular stimuli relevant to RA, including chemokines, lymphocyte antigen receptor ligation, inflammatory cytokines, and cell-cell adhesion". This is scary to me: it seems that

[2016-09-01 16:42] MihaiSurdeanu commented on #337
The stop list in bioresources only applies to entities with lower case or upper case. Since XREF* were all upper case, the override did not apply. I fixed this in processors with separate code. This change has been merged in master. I also removed XREF* from the bioresources stop list since they are no longer needed.

[2016-09-01 17:39] MihaiSurdeanu commented on #337
I added a new test in the Reach TestNERStopList, and it passes as well.
I will release processors 5.9.5 next.

[2016-09-01 18:12] MihaiSurdeanu commented on #337
5.9.5 has been released. @hickst, when you can, please update the build file for reach.

Closing this issue.

[2016-09-01 18:12] #337 closed

[2016-09-01 18:23] myedibleenso commented on #337
@MihaiSurdeanu: for the record, can you outline the procedure for adding a **case-sensitive** entry to the NER blacklist?  It sounds like this can't be done in bioresources...

[2016-09-01 18:39] MihaiSurdeanu commented on #337
The entries in the NER blacklist are matched in case-insensitive way. BUT, the override is only triggered if the original text in the paper is lower case or upper initial.

[2016-09-01 20:18] MihaiSurdeanu commented on #327
@bgyori: But if the text were `ERK suppression of SPRED1` than the event `ERK negatively activates SPRED1` would be correct?

[2016-09-01 20:18] MihaiSurdeanu commented on #327
@bgyori: What about the text `ERK suppression regulation of SPRED1` (I know this is a bit artificial)?

[2016-09-01 20:31] MihaiSurdeanu commented on #338
@marcovzla: related to point 2 above. In this other sentence: "Epidermal growth factor receptorvIII mediated cell proliferation and anchorage independent growth is both resistant and stimulated by gefitinib" we extract two overlapping entities: "Epidermal growth factor" and ""Epidermal growth factor receptorvIII", both labeled as GGP. This should not happen: we do not allow overlapping entities at

[2016-09-01 21:18] bgyori opened #342 "Bug in syntax_3c_verb"
The [any_ptm]_syntax_3c_verb rule seems to be buggy and consistently produces incorrect events. Some examples (I can provide more if it helps):
- Expression of SIRT1, SIRT2, and acetylated (Ac)-p53 in gastric cancer cell lines.
`-> SIRT1 is acetylated`
- Sirt1 is a deacetylase and can deacetylate proteins in order to regulate cellular function.
`-> Deacetylase is deacetylated`
- This involves coop

[2016-09-01 21:23] MihaiSurdeanu commented on #342
@danebell: we should fix this rule or remove it.

[2016-09-02 03:39] johnbachman commented on #337
Presumably this is addressed by the recent fix, but I also just found that the string "XREF_BIBR-XREF_BIBR" also appears frequently in our results.

[2016-09-02 03:55] johnbachman commented on #337
And here's another one, with a bracket: "XREF_BIBR]"

[2016-09-02 04:44] johnbachman commented on #337
And also "XREF_SUPPLEMENTARY"

[2016-09-02 15:06] bgyori commented on #327
I've been thinking about this and deciding on `ERK suppression of SPRED1` out of context and without assuming domain knowledge is not really possible. For instance, `Vemurafenib suppression of BRAF` has the same pattern and since Vemurafenib is a drug targeting BRAF, it's obvious that the interpretation is `Vemurafenib negatiely activates BRAF` and not the other way around.
So perhaps the rule jus

[2016-09-02 15:20] MihaiSurdeanu commented on #337
All things starting with XREF_ are covered.

On Thu, Sep 1, 2016 at 9:44 PM, John A. Bachman <notifications@github.com>
wrote:

[2016-09-03 19:46] hickst opened #343 "Create Reach text wrapper"
From Mihai's TODO list: Write the ReachTxt wrapper, which runs Reach on an arbitrary text file.

We need to have this ASAP in order to process the text extracted from CMU's non Open Access papers.

[2016-09-03 19:49] MihaiSurdeanu commented on #343
@myedibleenso: you said you'll do this.

[2016-09-03 20:12] hickst commented on #343
@terroni assigned to work on the HTML text extraction portion of this task, coordinating with Gus.

[2016-09-03 20:24] myedibleenso commented on #343
?

Yes, I'll write the text file reader.  Does this need to be done today?  It seems like there are at least two issues being discussed here...

[2016-09-03 20:25] myedibleenso commented on #343
The HTML reader should be it's own issue...

[2016-09-03 20:25] MihaiSurdeanu commented on #343
Yes:
1. @terroni will download the HTML files.
2. We need that text wrapper.

[2016-09-03 20:26] MihaiSurdeanu commented on #343
But 2 doesn't need to happen today. Early next week is fine.

[2016-09-03 20:29] hickst commented on #343
@myedibleenso maybe HTML issue should be its own issue but we need Terron to coordinate with you on the format of the input to the wrapper (and for your valuable advice and guidance :)

[2016-09-03 20:46] MihaiSurdeanu commented on #332
I agree with you that a nested representation is best here, so I implemented it. We now correctly parse sentences such as:

Gab1 protein enhances EGF-induced activation of the PI-3
RAS1 activates AKT-induced apoptosis (pardon the fake biology here)
Indeed, expression of RARbeta2 has been shown to restore retinoic acid induced apoptosis

Some of the above examples still fail, due to other minor iss

[2016-09-03 21:39] #343 closed

[2016-09-03 22:23] MihaiSurdeanu opened #346 "Mutants as Controllers does not work?"
"Gab1 mutant protein enhances EGF-induced activation of the PI-3" does not work, but
"Gab1 protein enhances EGF-induced activation of the PI-3" does

[2016-09-03 22:24] MihaiSurdeanu commented on #346
Gus, do you think you can fix this by Monday? (This is BUG2 in our emails)
If not, please let me and @hickst know, so he can restart the big run without it.
Thanks!

[2016-09-03 22:27] MihaiSurdeanu commented on #346
Sorry, I meant BUG1

[2016-09-03 22:29] MihaiSurdeanu opened #347 "sent24 in TestCoreference fails"
@danebell: sent24 in TestCoreference now fails. We catch a lot of the events in that sentence, so it's almost Ok. But we miss a couple, most importantly a NegAct(Binding(Gab1, p85), PI-3), I think.
Can you please see if you can fix at least this missing event (see my comments in code).

[2016-09-04 01:42] johnbachman commented on #332
Fantastic! We'll will make updates on our end accordingly.

[2016-09-04 03:51] myedibleenso commented on #346
I honestly don't know.  I'll take a look tomorrow (Sunday), but it is hard to say at this point...

[2016-09-04 05:39] myedibleenso commented on #346
### What I know so far...

Ok, this is really weird.

...produces this mention:

[code]
For some mysterious reason, [that mention disappears right after coref](https://github.com/clulab/reach/blob/5993323a4cf7d61ad5bf6558f110be3287b17205/src/main/scala/org/clulab/reach/ReachSystem.scala#L103).

I have no idea why (yet).

Tomorrow I guess I'll consult the Oracle at Delphi and try to step through `r

[2016-09-04 05:40] myedibleenso commented on #346
[issue346-log.txt](https://github.com/clulab/reach/files/453800/issue346-log.txt)

[2016-09-04 05:44] myedibleenso commented on #346
@danebell, any ideas why a mention (something with the label "Event") that makes its way into coref might not come out the other end?  The only thing I can think of that wouldn't make it through would be an anaphoric expression that you were unable to resolve, but the missing event does not carry the albatross of `Generic_event`.

[2016-09-04 19:29] MihaiSurdeanu commented on #346
Thanks Gus and Dane!
This sounds like a bug...

On Sat, Sep 3, 2016 at 10:44 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-09-05 22:18] danebell commented on #346
@myedibleenso Events are removed if they have required arguments that don't pass the `isComplete` check. But running that sentence with the filter removed doesn't solve the problem. The problem is in `resolveComplexEvents`, where I failed to make an exception for generic mutants. Because there's no resolution for the mutation, the `Positive_regulation` doesn't get carried over. It's probably easie

[2016-09-05 22:33] myedibleenso commented on #346
Thanks, @danebell!

Hope it didn't take you too long to figure out what was going on...

If you don't mind, I'd appreciate it if you took charge of this one (sounds like you already know how to fix it).  Once you've fixed the coref part, I believe there is  test that has been commented out that you can use.

[2016-09-06 20:04] danebell commented on #346
Update: An additional problem was that the Coref system explicitly ignored ComplexEvents that have ComplexEvents (like activations) as arguments. I've changed this and added an additional test with the errorful sequence. The only remaining TODO is for @myedibleenso to check/confirm whether the debug statements he put in are still appropriate.

[2016-09-07 09:16] myedibleenso commented on #346
I think it's fine.  If another example fails, it should now be a little easier to isolate what component is responsible by toggling the log level.

PR?

[2016-09-07 15:51] MihaiSurdeanu commented on #346
If the test passes, yes PR.

On Wed, Sep 7, 2016 at 2:16 AM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-09-07 17:44] #346 closed

[2016-09-07 17:46] #332 closed

[2016-09-07 20:54] MihaiSurdeanu commented on #338
@marcovzla: we shouldn't allow arguments in a complex that overlap in tokens. See mkRegulation for how I did this for regulations.

[2016-09-07 21:00] MihaiSurdeanu commented on #208
Closing for now.

[2016-09-07 21:00] #208 closed

[2016-09-07 21:12] MihaiSurdeanu opened #349 "coref link for "X homolog Y" (from issue #321)"
@danebell: add coref link for "X homolog Y"

[2016-09-07 21:14] MihaiSurdeanu opened #350 ""immunoprecipitated" a trigger for Binding? (from issue #321)"
@danebell, @myedibleenso: Why is the HSP20 example even creating a Binding? Is "immunoprecipitated" a trigger? If so, should we remove it?

[Evidence(reach, PMID24223153, {'cell_type': None, 'organ': None, 'tissue': None, 'location': [u'go:GO:0005623'], 'cell_line': None, 'species': [u'taxonomy:9986']}, (B and C) The empty vector transfected (lanes 1) and HSP20 overexpressing (lanes 2) HuH7 cell l

[2016-09-07 21:14] MihaiSurdeanu commented on #350
@johnbachman, @bgyori: is "immunoprecipitated" a valid trigger for Binding?

[2016-09-07 21:16] MihaiSurdeanu opened #351 "Don't allow Binding with itself (from issue #321)"
@danebell: HSP20 binds with itself. It is not allowed.

[Evidence(reach, PMID24223153, {'cell_type': None, 'organ': None, 'tissue': None, 'location': [u'go:GO:0005623'], 'cell_line': None, 'species': [u'taxonomy:10090']}, The binding partner (s) of HSP20 and their interaction (s) might be dependent on the cell types.),
Evidence(reach, PMID24223153, {'cell_type': None, 'organ': None, 'tissue': None

[2016-09-07 21:18] MihaiSurdeanu commented on #321
@bgyori, @johnbachman: on the "RAC1 or CDC42 binding p110beta" example, how can you say that it's not a complex with 3 elements? Domain knowledge?

[2016-09-07 21:21] MihaiSurdeanu commented on #351
Another example of binding with itself (B cell antigen receptor binds with BCR, which is the same):

[Evidence(reach, PMID10770799, {'cell_type': [u'cl:CL:0000236'], 'organ': None, 'tissue': None, 'location': [u'go:GO:0005694'], 'cell_line': None, 'species': [u'taxonomy:9606']}, Human germinal center B cells show increased Bam32 expression, and resting B cells rapidly upregulate expression of Bam3

[2016-09-07 21:23] MihaiSurdeanu commented on #321
@bgyori, @johnbachman: in the ""we tested whether..." examples, did you check if these interactions are marked as "is_hypothesis = true"? They should. If so, you can just remove all hypothesized extractions from your model

[2016-09-07 21:25] danebell commented on #321
Some of these are caused by allowing a binding to have themes with the same grounding. This can be fixed by adding an `if` statement to guarantee unequal grounding ids here: https://github.com/clulab/reach/blob/1b70b3245a0ae252837103b5e60b8ee9a7bc34bb/src/main/scala/org/clulab/reach/darpa/DarpaActions.scala#L237

[2016-09-07 21:26] MihaiSurdeanu opened #352 "Erroneous extraction of binding between PRL3 and Src (from issue #321)"
[Evidence(reach, PMID23691193, {'cell_type': None, 'organ': None, 'tissue': None, 'location': None, 'cell_line': [u'cellosaurus:CVCL_0546'], 'species': [u'taxonomy:10090']}, Although these results do not indicate whether PRL-3 is a direct or indirect target of Src, and indeed unequivocal demonstration of a direct relationship between kinase and substrate in cells is technically not feasible with c

[2016-09-07 21:29] MihaiSurdeanu opened #353 "Appositives should override initial grounding (from issue #321)"
"Son of sevenless" misgrounded to the gene SON instead of SOS (gene family)::

[Evidence(reach, PMID26617336, {'cell_type': None, 'organ': None, 'tissue': None, 'location': None, 'cell_line': None, 'species': [u'taxonomy:10090']}, Grb2 binds to the guanine nucleotide exchange factor Son of Sevenless (SOS), which promotes the removal of GDP from Ras for GTP, a necessary step in the re-activation of

[2016-09-07 21:31] MihaiSurdeanu opened #354 "prefixes such as GST, FLAG, His, etc. should be stripped off during grounding (from issue #321)"
"GST-p85" erroneously grounded to CBFA2T2, instead of p85 (protein family). In general, epitope tag prefixes such as GST, FLAG, His, etc. for fusion proteins should be stripped off during the entity extraction step::

[Evidence(reach, PMID12515821, {}, GST-p85 or either of its SH2 domains could bind to Abi1 (XREF_FIG B) and to various pTyr containing proteins, one of which co-migrated with Abi1 (u

[2016-09-07 21:31] MihaiSurdeanu commented on #354
@johnbachman, @bgyori: can you please tell us what these prefixes are? Also, is there an exhaustive list? Thanks!

[2016-09-07 21:34] MihaiSurdeanu commented on #352
Another weird example:
Yields a binding event between TGF-beta and PAK2, even though the sentence doesn't support that::

[Evidence(reach, PMID22880011, {'cell_type': [u'cl:CL:0008019'], 'organ': None, 'tissue': None, 'location': None, 'cell_line': None, 'species': [u'taxonomy:4932']}, Pak2 is specifically activated by TGF-beta only in mesenchymal cells, as the result of phosphatidylinositol 3-kin

[2016-09-07 21:35] MihaiSurdeanu commented on #321
Closing this issue, because it's been broken in multiple simpler ones.
Also, I can't scroll this much :)

[2016-09-07 21:35] #321 closed

[2016-09-07 22:14] bgyori commented on #354
Those are experimental tags on proteins, e.g. copied from the internet "The GST Tag. Glutathione S-transferase (GST) is a 211 amino acid protein (26kDa) whose DNA sequence is frequently integrated into expression vectors for production of recombinant proteins."

Handling them correctly leads to bigger questions - one would essentially have to have an understanding and a model of the experimental m

[2016-09-07 22:15] MihaiSurdeanu commented on #354
We would like to keep the entire String in the name, but ground it using the stripped off version. Best of both worlds for now?

[2016-09-07 22:24] bgyori commented on #350
It's tricky because immunoprecipitation is an experimental procedure done by a human, not something that happens inside the cell. Sometimes though, sentences talking about immunoprecipitation will provide evidence for the binding/interaction of two proteins. That's because the experiment tries to find things in a complex. So for instance the `immunoprecipitated (IP) with antibodies for PI3K` exper

[2016-09-07 22:25] MihaiSurdeanu commented on #350
Thanks! @danebell: please remove it for now.

[2016-09-08 01:10] hickst commented on #354
OK, but we still need a complete list of what these prefixes can be in order to recognize and remove them.

[2016-09-08 01:38] johnbachman commented on #350
Certainly, none of the sentences that you list provide evidence for a binding interaction extraction--these presumably come from a figure legend where only the experimental procedure is described, not the outcome. However, one could very well find sentence where "immunoprecipitated" is used to specify binding interactions. For example, the abstract of one of the papers referenced, PMID 24223153 (h

[2016-09-08 01:46] johnbachman commented on #354
You don't need to capture the presence of the GST/His/Flag tag in the extraction (i.e., it doesn't need to be represented as a kind of modification). Similar for fluorescent tags (GFP/Venus/YFP/CFP/mCherry etc.) While these tags can certainly affect function, generally a good study will measure the effect of the tag on the function of the protein and only proceed in cases where the tag doesn't app

[2016-09-08 02:16] johnbachman commented on #321
@MihaiSurdeanu : On your question about Rac1/Cdc42 binding...that's an interesting point, I hadn't considered that possibility. I guess domain knowledge comes in in at least two ways (without me even having to read the whole paper).

1. Rac and Cdc42 are both members of the same protein family (Rho family GTPases), so it's likely that they would have similar interactions with PI3K, making them com

[2016-09-08 15:18] hickst opened #355 "Update grounding to include new cell lines KB"
Enrique's secondary atcc.tsv file with ~120 entries to be used as a CellLine dictionary. Needs to be integrated into the Reach grounding KB stack.

[2016-09-08 15:19] hickst opened #356 "Add LINCS drug KB"
The HMS LINCS drug KB needs to be processed into our KB format and added to Reach grounding KB stack.

[2016-09-08 15:36] hickst opened #357 "Errors during Big Run"
Hitting a few internal errors during the big run. All referenced papers are available on River at:
`/net/kate/storage/data/nlp/corpora/pmc_openaccess/pmc_aug2016_explorer/nxml`
[code]

[2016-09-08 15:37] hickst commented on #357
[code]

[2016-09-08 15:38] hickst commented on #357
This error looks like the previous one, but in a different paper:
[code]

[2016-09-08 16:45] danebell commented on #350
@johnbachman Is this true in general of "co(-)immunoprecipitated", as opposed to "immunoprecipitated"? If not, it doesn't seem that there's any linguistic basis for the the distinction, and we should just remove this trigger.

[2016-09-08 23:04] enoriega opened #358 "NER Override file missing in the context KB lister"
There are some context entries in the KB in the NER override file. We need to add them to the Context KB lister in order to retrieve their id.

A paper that catches some of the entries missing in the lister is `PMC4345513.nxml`. An example of the displayed warning message is:

`WARNING: key (CellLine,uaz:UA-CLine-100111) not found in the context vocabulary`

[2016-09-14 18:39] hickst opened #363 "Add unit test to confirm that Controlled arg is left nested in FRIES format"
- URGENT - Tom, add unit test to confirm that Controlled arg is left nested in FRIES format (X up-regulates the Y-induced phosphorylation of Z)

[2016-09-14 18:58] #338 closed

[2016-09-14 21:23] hickst opened #364 "Add overrides to KB from results of Hans error analysis & test them"
There are a few entries that should be added to the override KB: GTP, GDP, cadherins, etc.

[2016-09-14 21:48] MihaiSurdeanu commented on #364
Good!

[2016-09-14 22:03] johnbachman commented on #354
I've compiled a list of 137 prefixes and suffixes are frequently attached to gene names and included it in the latest bioentities. These were found by reviewing the entities extracted by REACH on 32k papers (70k entities).

https://github.com/sorgerlab/bioentities/blob/master/gene_prefixes.csv

There's a description of entries and categories in the CSV file in the README:

https://github.com/sorge

[2016-09-15 19:36] hickst commented on #339
We're working on a couple more of these from CMU Model 2.

[2016-09-15 21:15] hickst commented on #339
All CMU DyCE model inputs (NXML, HTML, and extracted CSV files), docs, and result files have been place in the directory: /net/kate/storage/data/nlp/corpora/CMU-DyCE-model (including the most recent two, processed today).

[2016-09-15 21:15] #339 closed

[2016-09-15 21:26] hickst commented on #357
Update: just looked at the 7 errors so far in processing: 6 are the RulesBasedEngine NullPointer error and 1 is the tail of empty list error (example of both shown above).

[2016-09-15 21:28] enoriega commented on #357
The NullPointer error is fixed now

[2016-09-15 21:31] myedibleenso commented on #357
@hickst, can provide the commit hash you used for this run?  I'm trying to track the first error (tail of empty list).

Thanks!

[2016-09-15 21:41] myedibleenso commented on #357
@enoriega, I'm guessing that is the hash for your fix, right?  Can you put in a PR for the context engine fix, or is there still work that needs to be done?

[2016-09-16 23:44] hickst commented on #356
Closed by Pull Request #366.

[2016-09-16 23:44] #356 closed

[2016-09-16 23:51] hickst commented on #364
Closed by pull request #366.

[2016-09-16 23:51] #364 closed

[2016-09-16 23:57] hickst commented on #355
Closed by pull request #366.

[2016-09-16 23:57] #355 closed

[2016-09-17 06:35] myedibleenso opened #367 "Missing binding"
I'm working through the missing events from the assembly corpus annotations and noticed that we no longer capture a binding in this sentence:

I'm not sure when this disappeared (I believe we were still finding it when https://github.com/clulab/reach/commit/60ae87a79ea079a5abdc2ba363085af726bff343 was pushed), but this seems like an obvious pattern and the graph doesn't look odd:

[code]

In the `

[2016-09-17 07:14] myedibleenso opened #368 "Missing entity E2F"
In ancient times (circa last May?), coref found an `Activation` with the trigger "upregulates" for the following text (from PMC2721311):

I think the activation was something like "E2F upregulates cyclin E", which formed a nice precedence relation with the "cyclin E gene product binds to CDK2" from the sentence that follows.

Currently, all we find are a couple of entities (transcription seems que

[2016-09-17 07:37] myedibleenso opened #369 "Missing activations?"
In PMC2808051, we have the following sentence:

It seems like we should find two activations (one positive and one negative), but we only find the positive regulations (the phosphorylations with controllers).

I am unsure if this is because of limitations in our rules, or if there is some filter constraint we impose on the output (ex. "prefer regulations over activations").

[2016-09-17 09:38] myedibleenso opened #370 "Missing complexes and Phosphorylation with obvious patterns"
Until recently, we detected two complexes (Bindings) and a `Positive_regulation` (`Phosphorylation` with a `controller`) in this sentence from PMC3337673:

While we find all of the needed entities, we fail to find any event.  We should something for "YAP-TEAD complex", "YAP-p73 complex", and " LATS1 phosphorylation of YAP".   Surface patterns should suffice for the two Bindings:

[code]

Given the

[2016-09-17 09:45] myedibleenso commented on #370
The phosphorylation bug may have been introduced in https://github.com/clulab/reach/commit/beb7024045f8a140d5429833cb2934829e0a004a, @danebell.

[2016-09-19 08:23] myedibleenso commented on #367
Here is another example of missing bindings from PMC3351432:

[2016-09-19 10:48] myedibleenso opened #371 "Overzealous rule (Positive_regulation_syntax_following_activation)"
@MihaiSurdeanu, your `Positive_regulation_syntax_following_activation` seems overzealous.

Example text:

Previously, we found this mention:

[code]

Now, however, this extraction is blocked by `Positive_regulation_syntax_following_activation`, which produces the following extractions:

[code]

Is your rule meant to capture precedence information?  If so, it should probably be handled in assembly,

[2016-09-19 10:49] myedibleenso commented on #371
I've pushed a branch (`nn-stimulation-of`) with a test for the old extraction.

[2016-09-19 21:30] MihaiSurdeanu commented on #371
We looked at it. Syntax is messed up.

[2016-09-19 21:30] #371 closed

[2016-09-19 21:33] MihaiSurdeanu commented on #369
Double check that we don't get the activation because we prefer the regulation. If so, this is expected behavior.

[2016-09-20 04:01] hickst commented on #357
A somewhat disturbing error occurred right at the very end of one of the BigRun batches. Disturbing because this looks like the kind of error one might get chasing a cycle in a data structure (Gus just questioned this possibility at our last weekly meeting):
[code]
**.....repeat this error 1024 times....** then the JVM died, leaving 4 files unprocessed from that batch.

By comparing start messages

[2016-09-22 01:16] MihaiSurdeanu commented on #368
@myedibleenso: I checked and processors finds E2F as a GGP correctly. This information is preserved in Document.entities, but there is no Protein entity produced by the entity grammar. Can you please check why? You are more familiar with that grammar than I am. I suspect it is somehow overwritten by a rule in there.

[2016-09-22 01:17] MihaiSurdeanu commented on #368
Please use the `e2f` Reach branch for this work. I added a test there in TestEntities, which currently fails

[2016-09-22 04:35] hickst commented on #368
I noticed that E2F is the only entry in the NER override KB with that particular pattern. I added NER override entries for `E2E, F2E, F2F, A2A, A2B, B2B, and A2Z` (all with grounding identical to 'E2F'). I then compiled a local Bioresources and Processors and ran the Reach shell on top of them. At the prompt I entered the phrase:
```E2F, E2E, F2E, F2F, A2A, A2B, B2B, and A2Z are proteins.```
GGP e

[2016-09-26 18:09] #187 closed

[2016-09-26 18:15] MihaiSurdeanu commented on #47
Closing this. Not sure how to handle bad syntax.

[2016-09-26 18:15] #47 closed

[2016-09-26 18:18] MihaiSurdeanu opened #376 "Re-evaluate & refactor dash patterns in grounding."
We currently tag "Oct-4", "Sep-4", and "May-4" (maybe others too) as entities. Grounding finds some id as well. At least for "May-4" it is incorrect (it uses the string "4").

[2016-09-26 18:25] johnbachman commented on #376
Not sure if this applies here, but one infamous problem is that the gene Oct4 (https://en.wikipedia.org/wiki/Oct-4) gets turned into a date by Microsoft Excel (trying to be helpful). It's possible that the curated data used to train the NER suffered from this problem. Though I'm not sure where 'Sep-4' and 'May-4' would come from.

[2016-09-26 19:11] hickst commented on #376
Oct-4 is a legitimate protein found in mice, pigs, monkeys,and humans (Q01860). The Oct-<digits> family includes at least a dozen other proteins whose names would also fit this date pattern.

Searches of our KBs show that Oct-<digit> pattern is also a *prefix* string on (60) entries in the PubChem, ChEBI, HGNC, and HMDB (so if it parsed out as a date, those strings would presumably then fail to co

[2016-09-27 16:36] MihaiSurdeanu commented on #376
I tend to agree. But why is the string "4" used to ground "May-4"?

[2016-09-27 20:36] #350 closed

[2016-09-27 22:18] #342 closed

[2016-09-27 23:35] hickst commented on #376
That's an odd one but there is apparently a gene named '4' listed in Uniprot (also listed in HGNC gene KB) and since we use gene names as synonyms for protein names, we have 32 entries in our Uniprot KB; for proteins from this gene.

[2016-09-28 03:21] danebell commented on #328
@myedibleenso, @hickst I believe the taxonomy, some admittedly limited rules, and basic tests are in place in the branch `issue328`. Could you please update the export and assembly code to allow the `Amount` events to be well-represented?

[2016-09-28 15:44] MihaiSurdeanu commented on #376
Ok. But we shouldn't use "4" to ground "May-4"...

[2016-09-28 16:55] hickst commented on #376
I see your point since the parser is not identifying the '4' as a separate entity. It turns out that this is being grounded as a protein because of yet another of our heuristics: we have a pattern which grounds proteins IF they occur as the right hand side of a dashed conjunction (May-4 matches) and otherwise assumes the LHS is a mutant spec:

[code]
I can think of 3 different ways to handle this.

[2016-09-28 20:57] MihaiSurdeanu commented on #328
@myedibleenso: this is mainly fixed; but assembly needs to be updated for Transcription.

[2016-09-28 20:59] MihaiSurdeanu commented on #331
closing for now. probably a configuration issue.

[2016-09-28 20:59] #331 closed

[2016-09-28 21:03] #369 closed

[2016-09-28 21:08] MihaiSurdeanu commented on #376
Eliminate 4 from Uniprot for now.

[2016-09-28 21:15] MihaiSurdeanu commented on #354
The prefixes from Harvard are here:
https://github.com/sorgerlab/bioentities/blob/master/gene_prefixes.csv

Important points:
- You only care about single word prefixes, e.g., "Ad-Gene", but not multiword ones, e.g., "endogenous gene"
- The very last part of the file (line 117 onwards) has semantic meaning (inhibition). In the future, we need to modify the polarity flipping code for these. This do

[2016-09-28 21:15] MihaiSurdeanu commented on #354
Mihai: build a specialized NER that recognizes these as proteins/genes, if the prefix is present.

[2016-09-28 21:18] MihaiSurdeanu opened #380 "Save all grounding resolutions in the FRIES output"
This is urgent because Harvard could use it for corrections.

[2016-09-28 21:21] MihaiSurdeanu opened #381 "Generate a tabular format for output"
We have this, thanks to Gus.
But make sure it works all the time, even withAssembly = false

[2016-09-28 21:32] MihaiSurdeanu opened #382 "Implement case sensitivity for the GGP KB"
Compare HashSet(case sensitive keys) vs. HashSet(case insensitive keys)

[2016-09-28 21:47] hickst opened #383 "Problematic BRAT output due to complex event nesting."
Need example of nested controller problem.

[2016-09-29 02:42] johnbachman commented on #354
Hi @MihaiSurdeanu, not sure if this is what you meant about single vs. multi word prefixes, but we do need to pay attention to multiple combinations of the various prefixes/suffixes: "the prefixes/suffixes may be applied additively, for example Myr-Flag-Akt1, indicating myristoylated, FLAG-tagged AKT1; or GFP-KRAS-G12V, indicating GFP-tagged KRAS with a G12V mutation."

[2016-09-29 13:00] aabutchy opened #384 "#NAME error in excel"
The #NAME error has appeared in various fields after translation. I believe that this is a result of starting a cell with a hyphen.
![name_error](https://cloud.githubusercontent.com/assets/22522429/18954910/1c6fe0b6-8623-11e6-8119-9038036bf811.PNG)

[2016-09-29 15:03] hickst commented on #384
I do not understand this issue: the attached image shows neither a '#NAME' error nor a cell starting with a hyphen.

[2016-09-29 15:21] aabutchy commented on #384
This was in response to a question Mihai asked me a little while ago. Here are screenshots of the error in excel and here is the same code again but with the error highlighted. It is the same as in the one above, I was just using a search function in the one above so it highlighted what I was looking for. The same error is in line 1484 above.
![name_error2](https://cloud.githubusercontent.com/asse

[2016-09-29 15:31] MihaiSurdeanu commented on #384
Thanks @aabutchy!

[2016-09-29 15:42] MihaiSurdeanu commented on #354
@johnbachman: this is a good observation, thanks! @hickst: please sure this is captured in your stripping code. But I was talking about prefixes that appear in separate words, e.g., "endogenous <gene>". These are generally not included in the entities, so they don't need to be handled explicitly.

[2016-09-29 18:33] #340 closed

[2016-09-29 19:21] enoriega opened #385 "Optimize the rule based context engines' performance"
Make the rule based context engines work faster.

[2016-09-29 21:20] myedibleenso opened #386 "Publication date and paper size in scores.tsv"
It would be nice to add the publication date and paper size as columns in the `scores.tsv` file produced by `NxmlSearcher`.

[2016-09-29 21:22] hickst commented on #331
Can you elaborate on the configuration issue?
Data point: in the recent BigRun we got 29,968 of these warnings.

[2016-09-30 21:16] hickst commented on #376
I did some more checking and, sadly, this won't work as there are about 96 gene/protein names which are just numbers. I think our LHS-RHS heuristic has just been OBE (overcome by events).
We need to revisit its purpose(s) and update the code.

[2016-09-30 21:27] MihaiSurdeanu commented on #376
Can you please list those genes here? If they are from species we don't
care about, can we remove them all?

On Fri, Sep 30, 2016 at 2:16 PM, Tom Hicks <notifications@github.com> wrote:

[2016-09-30 23:58] hickst commented on #376
Remove all 96 genes? They are responsible for 1671 entries in the uniprot KB. While only 22 of those entries explicitly list Human, almost all of the others are proteins found in viruses, including some important human viruses (e.g., HHV-3, Varicella-zoster virus) and at least one virus related to cancer (Herpesvirus saimiri). The majority of the entries relate to bacteriophages but those types of

[2016-10-01 01:55] MihaiSurdeanu commented on #376
Ok. Then we should understand when this grounding heuristic is triggered.
Can you please run Reach (or the NER + grounding) and flag the entities
that are grounded after this heuristic is applied?

I suspect we introduced these rules to extract exactly the prefixes
identified by Harvard. So it may no longer be needed.

On Fri, Sep 30, 2016 at 4:58 PM, Tom Hicks <notifications@github.com> wrote:

[2016-10-01 02:11] hickst commented on #382
Using Unix command line tools, I looked at a few of our largest KB files (PFAM, PubChem, and UniprotProteins) to compare the number of unique mixed-case KB keys (cs) against the number of unique keys that result without regard to case (ci).

Since we currently canonicalize the keys as we read them in, including lowercasing them, the (ci) measure should approximate what we currently use for process

[2016-10-01 02:58] MihaiSurdeanu commented on #382
It seems this is a major issue for proteins.
We could create both case-sensitive and case-insensitive keys JUST for the proteins that appear in both forms.

[2016-10-01 03:14] hickst commented on #376
I think that **is** part of what it did. Another part is that it claims to identify proteins tagged with their domains as suffixes (e.g. Nck-SH3). A third use-case is the identification of `<mutant>-<protein>` lexical conjunctions which, according to Dane, may no longer occur because of changed tokenization. Anyway, I will look more into what is actually being matched by this heuristic pattern.

[2016-10-01 03:38] hickst commented on #382
I guess the question that this approach did not answer is are the *values* (i.e. the IDs) different for the two different keys (cs vs ci) or are there just duplicates in the file, distinguished only by the case of their (otherwise matching) keys?

It's clear that Uniprot contains both. Here's a true value distinction example:
[code]
and here's an example where the case is not used meaningfully:
[c

[2016-10-01 05:13] hickst commented on #376
A run on the DR3 papers shows that every one of the strings which matched the LHS-RHS pattern was an example of case (2): extracting the protein from a `<protein>-<domain>` string.
[code]

Another run, on the 100 summer evaluation papers, shows that 35 of 52 were protein domain suffixes.
The remaining 17 instances should not have reached the heuristic as they were either `F-actin` (a protein polym

[2016-10-01 13:34] MihaiSurdeanu commented on #376
maybe we should build a list of domains, and mutation patterns, and only
apply it in those cases?

On Fri, Sep 30, 2016 at 10:13 PM, Tom Hicks <notifications@github.com>
wrote:

[2016-10-01 13:38] MihaiSurdeanu commented on #382
(I thought we eliminate the entities longer than 5 or so words; they are
unlikely to be matched anyway.)

But this could all be detected programmatically: we should build the
different case keys only when necessary, i.e., when they exists to begin
with, and when they point to different grounding ids. This could be done in
an offline preproceesing, before we load these grounding KBs.

On Fri, Sep 3

[2016-10-03 01:42] johnbachman commented on #382
Jumping in, perhaps out of my element here, but...as you probably already know, human gene names are "supposed" to be in all caps when written in text, (e.g. "TP53"), whereas the mouse gene names are supposed to first letter capital only ("Tp53"). However, in practice I find that that biologists (myself included) routinely refer to human gene/protein names with only the first letter capitalized (e

[2016-10-03 02:16] hickst commented on #382
We always welcome your input, especially on these issues of biology. Your synopsis sounds like what I had gathered: that capitalization would be very useful if only it was a convention that was consistently followed. The use of camel-case is noted and we will take it into consideration when we re-examine how we detect the kinds of "abbreviations".

[2016-10-03 17:26] MihaiSurdeanu commented on #381
A few additional things to add: information if the interaction is direct or indirect (remember that we have this information for regulations; activations are always indirect); and context information (everything there is relevant).

[2016-10-05 04:47] hickst commented on #328
I fixed the FRIES output (without Assembly) but Assembly is still causing errors for FRIES output with Assembly and for IndexCards.

On last commit (b49a28) in this branch,  I renamed the Amount subevents to use the previous naming scheme (using underscores). It's not as pretty but it has the big advantage that underscores are converted automatically to hyphens so we get a nice field value of "dec

[2016-10-05 17:46] myedibleenso commented on #385
Should #390 have closed this?

[2016-10-05 17:53] myedibleenso commented on #328
@hickst, can you paste in the error?  Is there a particular test that's failing or a whole slew of them?

[2016-10-05 18:14] myedibleenso commented on #328
Ah, nm.  Found the problem...

[2016-10-05 18:35] myedibleenso commented on #328
Ok, I've modified the `AssemblyManager` in `reach-assembly` to handle these events.  For the record, I ran it with the following examples and there weren't any hiccups:

[code]
[amount-examples.json.txt](https://github.com/clulab/reach/files/512018/amount-examples.json.txt)

I have another pending TODO in `reach-assembly`, after which I will release a new version of that project and then put in a

[2016-10-05 20:16] enoriega commented on #358
This becomes obsolete after addressing issue #385

[2016-10-05 20:16] #358 closed

[2016-10-05 20:16] enoriega commented on #385
Yes

[2016-10-05 20:16] #385 closed

[2016-10-05 20:17] MihaiSurdeanu commented on #380
@hickst: is this done?

[2016-10-05 20:48] MihaiSurdeanu commented on #322
No longer happening?

[2016-10-05 20:53] MihaiSurdeanu commented on #376
will be addressed once the Harvard prefixes are used.

[2016-10-05 23:56] #380 closed

[2016-10-06 02:53] hickst commented on #322
Why was this closed without some evidence that the problem is fixed?
[code]

[2016-10-06 03:06] MihaiSurdeanu commented on #322
People commented today that this could does occur anymore. True?

On Wed, Oct 5, 2016 at 7:53 PM, Tom Hicks <notifications@github.com> wrote:

[2016-10-06 03:38] hickst commented on #322
In case it wasn't clear from my last post -- the error message shown *just* happened on a run using current Reach master, 16G of RAM, 8 threads and *with* Assembly (the error does not happen without Assembly).

In the future, before we close an issue, maybe we should require a thumbprint from someone who certifies that they've really testing it. :)

[2016-10-06 04:18] hickst commented on #322
Just as a side note: I ran the 27 files that originally got errors (from a batch of 1k files) on 8/4/2016. This is the only one that still gets an error.

Without Assembly the run took 630 seconds (11.5 min) and with Assembly it took 5377 seconds (89.6 min) but 21 files finished in under 11min, 3 files around 20min, and just two slow files taking around 87min.

[2016-10-06 05:43] myedibleenso commented on #322
😱

[2016-10-06 05:45] myedibleenso commented on #322
What are the papers?

[2016-10-06 16:19] hickst commented on #322
I've uploaded all 27 inputs to /net/kate/storage/work/hickst/temp/1krun-error-papers_160804.tgz

The longest papers were:
[code]

[2016-10-06 21:24] bgyori opened #392 "Read nxml string with ApiRuler?"
This is a question about the ApiRuler. Currently the `annotateNxml(nxml: String, outFormat: String)` method at
https://github.com/clulab/reach/blob/master/src/main/scala/org/clulab/reach/apis/ApiRuler.scala#L43
seems to only work with an nxml file path as an argument. Is it possible that it _used to_ take an nxml string as an argument? I'm confused because we used this API call with nxml strings,

[2016-10-06 23:42] hickst commented on #392
Hi Ben, I think the calls you want for that are in the sister class `Api.scala` in the same package.

[2016-10-06 23:42] #392 closed

[2016-10-07 03:23] MihaiSurdeanu commented on #386
Resolved by pull request in branch NxmlSearcher.

[2016-10-07 03:23] #386 closed

[2016-10-10 04:52] myedibleenso commented on #135
Should `isDirect` be set to `true` for "Akt interacts with Raf and **phosphorylates it at Ser259** ." in	PMC1242134?  Currently, it seems to be `false`...

[2016-10-10 04:59] MihaiSurdeanu commented on #135
I think so...

On Sun, Oct 9, 2016 at 9:52 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-10-10 23:30] #316 closed

[2016-10-12 17:03] hickst commented on #376
I think the investigation and discussion above show that this will not be solved by the Harvard prefix enhancements because they are a new pattern involving the dash. **None** of the cases found in the test above were Harvard prefixes. We still need to re-evaluate and refactor the dash handling in grounding (simultaneous with stripping Harvard prefixes). I am renaming this task to reflect this add

[2016-10-12 17:41] hickst commented on #382
The latest TODO email list appears to change this task to implement case sensitivity for the GGP KB so I will change the task title accordingly. This may involve some code refactoring (and/or new code) as we designed all KBs to use the same "canonical" key transformation.

[2016-10-12 18:06] hickst commented on #322
I just tested this with Reach has 76b06926cf62520960cc08d2633598621e074eef and it has been fixed.

[2016-10-12 18:06] #322 closed

[2016-10-12 20:39] MihaiSurdeanu commented on #354
@hickst: we need to handle generic dashes (e.g., mutations, domains) in the same code here.

[2016-10-12 20:40] MihaiSurdeanu commented on #354
@hickst: would a generic record-linkage library help?

[2016-10-12 20:43] MihaiSurdeanu commented on #354
@hickst: for example this: http://infolab.stanford.edu/serf/

[2016-10-12 21:05] MihaiSurdeanu commented on #328
Done.

[2016-10-12 21:05] #328 closed

[2016-10-12 21:22] MihaiSurdeanu opened #397 "NER: Handle appositives for detecting abbreviations/acronyms; propagate globally"

[2016-10-12 21:24] MihaiSurdeanu commented on #353
Not doing this for cautionary reasons.

[2016-10-12 21:24] #353 closed

[2016-10-12 21:24] MihaiSurdeanu commented on #397
@danebell: can you please send us the code for grounding appositives? @myedibleenso

[2016-10-12 21:25] MihaiSurdeanu commented on #397
@danebell: if contradicting with existing ids, add all of them

[2016-10-12 21:45] danebell commented on #397
The existing code is [here](https://github.com/clulab/reach/blob/76b06926cf62520960cc08d2633598621e074eef/main/src/main/scala/org/clulab/coref/Coref.scala#L379-L404). The Alias rules are [here](https://github.com/clulab/reach/blob/76b06926cf62520960cc08d2633598621e074eef/main/src/main/resources/org/clulab/reach/biogrammar/coref/alias_template.yml) and are called [here](https://github.com/clulab/re

[2016-10-12 22:46] MihaiSurdeanu commented on #397
Thanks! This is a great foundation for this issue.

[2016-10-14 21:15] hickst opened #400 "Suspect phosphorylation result"
Why is "link" classified as a Site in this mention from PMC3847091?:
[code]

[2016-10-14 21:59] danebell commented on #400
In the shell:
[code]
In other words, the NER thinks it's a link. So maybe we should make a special exception in the `ner-domain-entities` rule, e.g.:
[code]
But it's uncomfortably ad-hoc

[2016-10-14 22:14] hickst commented on #400
Yes, I agree: too adhoc. Is 'link' used anywhere important in the rules (say as a trigger for binding)? If not, we could add it to the NER stop list.

[2016-10-14 22:24] MihaiSurdeanu commented on #400
I agree: please add it to the NER stop list.

On Fri, Oct 14, 2016 at 3:14 PM, Tom Hicks <notifications@github.com> wrote:

[2016-10-16 19:54] myedibleenso commented on #381
Addressed by #399, #396, and #394

[2016-10-16 19:54] #381 closed

[2016-10-17 16:09] MihaiSurdeanu opened #404 "insulin receptor substrate-1"
In the sentence: "We now show that mTOR inhibition induces insulin receptor substrate-1 expression and abrogates feedback inhibition of the pathway." we get "insulin receptor" as an entity, instead of the longer match "insulin receptor substrate-1", which, according to our biologist friends exists in Uniprot with id UniProtKB - P35568 (IRS1_HUMAN).

Why is this? This is scary to me, because it may

[2016-10-17 17:27] hickst commented on #404
We do have "Insulin receptor substrate 1" in our Uniprot KB (without a dash) so this should be found by grounding IFF the NER labels it as a GGP. But, I think you told me the other day that the NER does not remove the dashes when it does its comparison, so I suspect that the dash is preventing NER from labeling this as a GGP.

[2016-10-17 17:31] hickst commented on #404
I think this points out the need for a global, common (canonical) treatment of strings (for lookup purposes) which spans several projects and functional levels within projects. I think that the best place in the architecture for such methods would be in a utility class within the Bioresources project, upon which all other projects depend (i.e. the base project).

[2016-10-17 21:56] bgyori opened #407 "Sub-project "assembly" clashing with "sbt assembly""
We have been assembling REACH into fat jars using the sbt-assembly plugin (https://github.com/sbt/sbt-assembly) by running `sbt assembly`. However, this doesn't work anymore, and I suspect this is because of the new `assembly` subproject. I might be missing something obvious but I haven't been able to get `sbt assembly` to work and looking for ideas. Thanks!

[2016-10-17 22:13] hickst commented on #407
I have to smile: honestly, I had no idea Ben was doing this when I asked for this feature at last Wednesday's meeting. So now it's an official issue.

[2016-10-17 22:28] #351 closed

[2016-10-18 00:42] #407 closed

[2016-10-18 00:49] hickst commented on #407
@bgyori  Marco updated the subproject name so it should no longer clash with the plugin.
When you get the UberJar working, can you please email (or attach) your build file containing the definitions and tasks that create it. Thanks.

[2016-10-18 00:55] marcovzla commented on #407
I already added the sbt-assembly plugin to reach, so running `sbt assembly` should work.

[2016-10-18 01:00] marcovzla commented on #407
To run it type:

`java -classpath reach-gordo-1.3.3-SNAPSHOT.jar org.clulab.reach.ReachCLI`

[2016-10-18 01:03] hickst commented on #407
Thanks @marcovzla  -- that's great. I mentioned the task config because I was under the impression that it required some configuration to work, as in this project where Gus used it:

https://github.com/myedibleenso/processors-server/blob/master/build.sbt#L56-L68

[2016-10-18 01:05] marcovzla commented on #407
The default merge strategy of the current version of sbt-assembly works.
You can see it here: https://github.com/sbt/sbt-assembly#merge-strategy

look for "Here is the default:"

[2016-10-18 02:00] hickst commented on #407
It starts working, but it appears to be including the test classes and running all the tests before it builds the Uber JAR. Since we will *never* create an Uber JAR without having thoroughly tested the code :), I added a line to the build file to prevent testing within the assembly task. I made this pull request #409.

[2016-10-18 13:49] bgyori commented on #407
Thanks! The reason we make fat (gordo, uber) jars is that INDRA uses REACH via a python-java bridge that needs to see REACH and all its dependencies on the classpath. So this is the most convenient way to get all that in one place. We have been disabling tests (`test in assembly := {}`) for assembly.

[2016-10-18 14:16] bgyori commented on #407
One more thing here I just remembered: with `sbt assembly` I get a bunch of deduplication errors like
[code]

The solution I found to get around this was to add this snippet to the end of `build.sbt`. You might consider adding this unless this is something that shouldn't be done...
[code]

[2016-10-18 18:52] bgyori commented on #407
I have some further questions, we need the Api and ApiRuler classes in the assembled jar. This seems to have gone away with the current settings. How can I get these classes to appear in the jar?

[2016-10-18 19:01] myedibleenso commented on #407
Hmm...I don't see any errors when running `sbt assembly` on `master`.

[2016-10-18 19:04] myedibleenso commented on #407
The api stuff is now under `org.clulab.reach.export.apis`) (`org.clulab.reach.export.apis.Api` and `org.clulab.reach.export.apis.ApiRuler`).  Are you perhaps using a different path?

[2016-10-18 19:08] myedibleenso commented on #407
@bgyori: https://github.com/sorgerlab/indra/blob/9f53525efbf9428a9b8eed1eb8c5b43a74aefee1/indra/reach/reach_reader.py#L30

[2016-10-18 19:29] bgyori commented on #407
Thanks! I updated the path and it works. I couldn't find where ApiRuler went but it makes sense now.

[2016-10-20 18:33] johnbachman opened #412 "Error running REACH fatjar at the command line"
Hi,

I built the REACH fatjar to use at the command line on Amazon EC2. I added the following line into build.sbt to define the main class:

```mainClass in assembly := Some("org.clulab.reach.ReachCLI")```

I can successfully build but then when I attempt to run with

```java -jar /pmc/reach/target/scala-2.11/reach-gordo-1.3.3-SNAPSHOT.jar indra.conf```

I get the following error:

[code]

Thanks

[2016-10-20 18:40] hickst commented on #412
Hi John,

When you built the FAT JAR had you updated your application.conf file for the target environment?

The default logging section in the application.conf file looks like this (which probably isn't what you want):

[code]

[2016-10-20 18:44] johnbachman commented on #412
Whoops--as you say, just figured out that I need to add the logging section to my configuration file (indra.conf in this case). It's working now :)

[2016-10-20 18:44] #412 closed

[2016-10-21 01:20] hickst opened #413 "Add Harvard KBs: complexes & families"
[https://github.com/sorgerlab/bioentities](https://github.com/sorgerlab/bioentities)

The grounding_map.csv file maps strings to identifiers. The first
entry in each row is the text, then the following entries are
namespaces and ids as key value pairs. Protein families and complexes
are mapped to entities in the "INDRA" namespace. These entities are
then listed in the entities.csv file (this file

[2016-10-23 19:19] hickst opened #415 "Reach error reading rules"
I'm stuck on a mysterious error that's preventing me from deploying a new Reach website. When I run the BioVisualizer web app on Tomcat on Mac, it works fine. When I try the same WAR file on the  same version of Tomcat (with same version of Java) on my Linux system, it fails. I've tried both traditional WAR file and WAR file with one big Reach FAT JAR -- same error. The error appears to be down in

[2016-10-23 19:24] myedibleenso commented on #415
We're working on another issue right now.

If this is urgent, @hickst, can you try debugging this a bit more on your own first (add some logging lines right before those failing calls, etc.)?

Also, what was the last reach version that you successfully used with this component of the website?

[2016-10-23 19:28] marcovzla commented on #415
what is the default charset in your linux machine?

[2016-10-23 19:34] hickst commented on #415
reach_2.11-1.2.3 but that doesn't tell you much since we don't increment the version numbers often enough -- the version running successfully on Agathon is from March 12th, 2016. Processors version is 5.8.1 from March 8th, 2016.

charset -- now that's a plausible lead to investigate...thanks!

[2016-10-23 22:32] hickst commented on #415
@marcovzla Thanks Marco: the locale settings were the problem but it took me an hour to figure out why they were not being properly initialized on that machine only.

[2016-10-23 22:32] #415 closed

[2016-10-24 09:04] hickst opened #417 "Subproject config files should minimize configuration"
Example: the Assembly reference.conf file assumes that it is being run by a user with a HOME directory. This is not true for web applications. Since Reach cannot currently be compiled without Assembly this causes a runtime error in the web app (or forces the reconfiguration of multiple config files, prone to error when one forgets to change them all).

Perhaps all subprojects should inherit a comm

[2016-10-24 09:07] hickst commented on #417
BTW the application.conf file uses `${HOME}/Documents/reach` as the default for path prefixes whereas Assembly reference.conf seems to use `${HOME}/Downloads` (note Downloads, not Documents). Is this intentional or a typo?

[2016-10-24 11:32] MihaiSurdeanu commented on #404
This was fixed in a recent PR in processors, available in 6.0.1.-SNAPSHOT.

[2016-10-24 11:32] #404 closed

[2016-10-24 15:38] hickst commented on #404
Please be more specific when closing an issue: 1) what was done and 2) which pull request fixed it.

[2016-10-24 17:38] hickst commented on #415
@marcovzla I really appreciate your help finding the problem but perhaps the reader should catch this error and give a better message. I wasted time trying to figure out why the input was empty when it really wasn't (implied by the message of the thrown exception). It seems like the wrong character set could be a fairly common mistake for some users (with Windows inputs)?

[2016-10-24 17:55] marcovzla commented on #415
I agree the reader should either be more robust to encoding or at least produce a more informative error. The grammars included in the jar are utf8 encoded, so no need to query based on the locale. On the other hand, new grammars may have a different encoding. Maybe we should add encoding as a configuration option instead of using the default one?

[2016-10-24 18:44] myedibleenso commented on #417
So your errors are due to the use of `${HOME}`?  That's a shame, as none of those paths/variables are used by your web app or `ReachCLI`.

As it is a `reference.conf`, any of its settings will be overwritten by an `application.conf`, which you can pass to the jar you're running.  That means you should change anything in the `reference.conf`.

I believe you should be using a custom `application.con

[2016-10-24 19:27] hickst commented on #400
Added and NER regenerated, checked in Mon Oct 24 10:41:15 2016 -0700

[2016-10-24 19:27] #400 closed

[2016-10-24 20:16] hickst commented on #417
I **am** using a custom application.conf for the the web app, which replaces any HOME vars. I wanted to avoid customizing more than one conf file, which it sounds like you are saying is possible IF I add settings to application.conf to override the ones in reference.conf. Of course, this means I have to know which ones need overriding and update the application.conf file if any are added to refere

[2016-10-24 20:20] marcovzla commented on #417
Yes, `reference.conf` is standard.

This is the order in which variables are resolved in decreasing order of priority:
  - system properties
  - `application.conf` (all resources on classpath with this name)
  - `application.json` (all resources on classpath with this name)
  - `application.properties` (all resources on classpath with this
    name)
  - `reference.conf` (all resources on classpath

[2016-10-24 20:22] hickst commented on #417
OK, thanks for the reference! I'll update my web application.conf file, then.

[2016-10-24 20:22] #417 closed

[2016-10-24 20:23] myedibleenso commented on #417
Yes, I understand why you were annoyed.  If you just look at the `application.conf`, it isn't obvious where the property is being set.  I wasn't thinking about `$HOME` being an undefined environment variable on some systems.  I was trying to avoid cluttering the `application.conf` with things that aren't relevant to the top-level stuff, but maybe now I don't have a choice...

More details on the r

[2016-10-24 20:37] hickst commented on #417
I wasn't annoyed I was just trying to reduce my already error-prone process of updating a configuration file specifically for a web compile.
Web containers like Tomcat usually run as special users who are not root and who do not have any login ability (and no home directories).

[2016-10-25 14:50] MihaiSurdeanu commented on #367
@myedibleenso: this was fixed in processors by the PR #105 "Improved validation of named entities in RuleNER". It was caused by a new entity "Mdm2-binding", which is tokenized into "Mdm2 binding", which caused the NER to over match. I modified the NER validator to detect if the "-ing" token is followed by "to", in which case the expansion to include "binding" is not accepted.

Also, I changed the

[2016-10-25 14:50] #367 closed

[2016-10-25 14:51] MihaiSurdeanu commented on #367
The PR was in processors, not reach

[2016-10-25 18:27] myedibleenso commented on #367
clulab/processors#105

[2016-10-25 18:29] myedibleenso commented on #415
I guess this is related to #222

[2016-10-25 19:58] MihaiSurdeanu commented on #404
In reality there have to be 2 canonicalization procedures:
- One for grounding, which we *do* have. We also normalize casing, remove non-alpha characters, etc. @hickst: where is the code for this? Note that this procedure works by *removing* characters.
- One for NER, which I just added: https://github.com/clulab/processors/blob/master/corenlp/src/main/scala/org/clulab/processors/bionlp/ner/Lexica

[2016-10-25 20:21] hickst commented on #404
The actual canonicalization function is in:
https://github.com/clulab/reach/blob/master/main/src/main/scala/org/clulab/reach/grounding/ReachKBKeyTransforms.scala#L13-L19

Note that this file is currently changing (in a development branch) to implement the (somewhat misnamed) "prefix stripping" (issue #354).

[2016-10-25 20:32] johnbachman commented on #404
Good point, I was overlooking the fact that what I referred to as "raw text" has already been canonicalized by REACH (handling of greek letters, slashes, etc.). I guess the big boost for us would be if all the readers canonicalized strings the same way so that we didn't have to re-curate the same entities. Not sure how the logistics of a shared canonicalization procedure would work though!

[2016-10-25 20:40] myedibleenso commented on #404
I can imagine that is a pain.

Perhaps we could provide an option where we take normalized, tokenized text and run our system against that.  Our trained models and grammars are likely sensitive to many of those normalization decisions, though.

[2016-10-25 21:24] hickst commented on #382
I looked at this again and decided that my previous analysis not very useful: it doesn't relate case of key strings to the count differences. I've re-measured the Uniprot Protein KB because it is the most likely one to have meaningful case differences. Each line of the Uniprot KB has a text key, an ID, and a species:
[code]
But, it seems to me, that what we really want to know about is whether the

[2016-10-25 21:54] MihaiSurdeanu commented on #382
I am not sure this is what we need to know. What we need to know is, if we
preserve casing, how many collisions in grounding ids do we avoid?

On Tue, Oct 25, 2016 at 10:24 PM, Tom Hicks <notifications@github.com>
wrote:

[2016-10-25 21:56] MihaiSurdeanu commented on #404
We can certainly discuss this. Ours is a bit ad-hoc.
Mihai

On Tue, Oct 25, 2016 at 9:32 PM, John A. Bachman <notifications@github.com>
wrote:

[2016-10-25 23:27] hickst commented on #382
OK....currently we provide a key "aaa" to the KB and we get back a set of candidate ID-species pairs. So, are you asking how often, in a case-sensitive KB, a lowercased key would return an entirely disjoint set from a key with a different case?

[2016-10-26 01:54] enoriega opened #420 "Keep the grounding info of BioMentions when using JSONSerializer"
[mentions.txt](https://github.com/clulab/reach/files/552169/mentions.txt)

Grounding information is not been kept when serializing to json. The code looks like it tries to but it doesn't make its way through the json object and the deserialization code doesn't attempt to load any existing info from the json string.

I also noticed that the serializer stores the complete document to which the menti

[2016-10-26 04:09] hickst commented on #382
So I did the aforementioned analysis of Uniprot case-sensitive keys mapping to entity IDs (see previous comment). I found that 32,843 of our current canonicalized keys would have 2 or 3 different sets of mappings is we used case-sensitive keys. My program does not check whether the different sets are mutually disjoint but, in a random of check of dozens of the sets, I find no sets which overlap. T

[2016-10-26 04:33] myedibleenso commented on #420
Ah, I see what's happening.  You're not casting to `CorefMention`.  A `Mention` does not have grounding, though a `BioMention` does (I don't have an implicit class for `BioMention` right now).

A `CorefMention` has grounding info, along with a few other things.

Here's an example of the serialized grounding entry for a `CorefTextBoundMention`: https://gist.github.com/myedibleenso/8383af789b37ba598

[2016-10-26 04:41] myedibleenso commented on #420
"Believe me, It's a tremendous size--the best size.  It will be yuge."

In order to deserialize a `Mention` from `json` (or anything), the `Document` to which it belongs must be available.  For convenience and practicality, the Documents referenced by the mentions in a  `Seq[Mention]` are also stored, but only once (ex. `mentions.json(pretty = false)`).  You can reduce the file size by setting `pr

[2016-10-26 09:01] MihaiSurdeanu commented on #384
This is not really a bug: we catch "-delta" as an entity, as well as the preceding "C/EBPbeta". This means that the real canonical name for this entity should be "C/EBPdelta". We do not do this normalization at this point. For this reason, the entity remains "-delta", which shows up incorrectly in Excel.

[2016-10-26 09:01] #384 closed

[2016-10-26 09:40] MihaiSurdeanu commented on #325
@myedibleenso, @danebell: it looks like the actionable item here is to add 1 (or 2) grammar rules to capture: "NF1 mutant cells" and "Brca1 deficient cells" and "BRAF V600E -positive melanoma cells" as CELL_TYPE. Thus disabling events on the proteins included in these entities. @myedibleenso, @danebell: please decide between the two of you who should add these rules.

[2016-10-26 09:43] MihaiSurdeanu commented on #363
We have confirmed this works. And the unit test would be too complex.
Let's close this.

[2016-10-26 09:43] #363 closed

[2016-10-26 09:47] MihaiSurdeanu commented on #241
@marcovzla, @myedibleenso: wasn't this done?

[2016-10-26 09:49] MihaiSurdeanu commented on #222
@terroni, @marcovzla: enforce UTF-8 encoding when Reach starts?

[2016-10-26 09:50] MihaiSurdeanu commented on #160
@danebell: please fix this

[2016-10-26 09:58] #352 closed

[2016-10-26 09:59] MihaiSurdeanu commented on #335
Another weird example for "associated with":
Yields a binding event between TGF-beta and PAK2, even though the sentence doesn't support that::

[Evidence(reach, PMID22880011, {'cell_type': [u'cl:CL:0008019'], 'organ': None, 'tissue': None, 'location': None, 'cell_line': None, 'species': [u'taxonomy:4932']}, Pak2 is specifically activated by TGF-beta only in mesenchymal cells, as the result of phos

[2016-10-26 10:00] MihaiSurdeanu commented on #335
@MihaiSurdeanu will try to clean binding_17 next.

[2016-10-26 11:12] MihaiSurdeanu opened #423 "Incorrect overlapping of events"
Several events incorrectly overlap due to the precedence assigned to their grammars. For example:

Pak2 is bound with TGF-beta activated Ras.
Pak2 is bound with TGF-beta phosphorylated Ras.
Pak2 is bound with TGF-beta phosphorylation of Ras.

In all these examples we find Binding(Pak2, TGF-beta), which is incorrect in all cases. This is because these events overlap on who gets "TGF-beta", and Bind

[2016-10-26 11:14] MihaiSurdeanu commented on #423
Important note: filtering these binding events at the end, after all event grammars, would not work because these binding events prevent other correct events to match. For example, in the first example, matching "Pak2 is bound with TGF-beta" first prevents the correct activation "TGF-beta activated Ras" to trigger.

[2016-10-26 12:35] MihaiSurdeanu commented on #326
@myedibleenso: this is hard: we would have to transfer the negative trigger ("negative") from the first activation to the second. Not sure how to do this... Any ideas? If not, I think we should take the hit on this one...

[2016-10-26 12:43] MihaiSurdeanu commented on #423
Another example: "GRD also disrupted the ERK suppression of SPRED1"
(Let's ignore the ambiguity of "suppression" - issue #327)
In here, we should get: NegReg(GRD, NegAct(ERK, SPRED1))
Instead we get:
NegAct(ERK, SPRED1) - let's say correct
NegAct(GRD, ERK) - not really correct...
PosAct(GRD, SPRED1) - not really correct...

[2016-10-26 12:55] MihaiSurdeanu commented on #327
I really don't know what to do here...
@bgyori: this might be an assembly issue? That is, we do the best we can using *just* the textual information. Then, on your side, you flip the participants using domain information?

Closing for now. But happy to reopen if we have a better solution.

[2016-10-26 12:55] #327 closed

[2016-10-26 15:39] MihaiSurdeanu commented on #382
For this analysis, it would be nice to see 2 numbers:
- Number of keys that would have 2+ sets of mappings is we used
case-sensitive key. Let's call this N. Is this 32,843?
- Number of keys that would have 2+ sets of mappings is we used
*case-insensitive* key. Let's call this M.

If M >> N, then it's worth trying case-sensitive keys.
Mihai

On Wed, Oct 26, 2016 at 5:09 AM, Tom Hicks <notifications

[2016-10-26 15:40] enoriega commented on #420
I see. Thanks for the clarification!

[2016-10-26 15:44] enoriega commented on #420
I'm casting to BioMention, and that brings and empty Option[KBResulution]

[2016-10-26 19:11] hickst commented on #382
Yes, correct.

I don't understand this question as stated: we **currently** use case insensitive keys and, currently, each key always maps to exactly **one** set of IDs. There are currently 333,303 unique keys in the Uniprot KB (when considered case-insensitively) meaning we have that many distinct mappings of a key to a set of IDs.

IMO, the goal of using case-sensitive keys would be to partition

[2016-10-26 19:50] bgyori commented on #325
Foud another one:
`Treatment of AI resistant cell lines with LBH589 repressed NF-kappaB1 mRNA and protein expression`
Here `AI` shouldn't be extracted as negatively activating `NF-kappaB1`.

[2016-10-26 21:26] hickst commented on #330
The following is a shell script which can be used to test the cross-reference links for all FRIES output files in a given directory:
[checkResultsInDir.sh.txt](https://github.com/clulab/reach/files/554474/checkResultsInDir.sh.txt)

Mihai suggested closing this issue as we have verified this is working.

[2016-10-26 21:26] #330 closed

[2016-10-26 21:31] hickst commented on #368
@myedibleenso what is the status of this issue?

[2016-10-26 21:32] myedibleenso commented on #368
It is a hideously complex rule which is undocumented and has caused us trouble before.

This is most likely the problem.

[2016-10-26 21:34] MihaiSurdeanu opened #424 "clean up of the events master grammar"
I'd like to clean up the events master grammar. What I'd like to do is set the triggers of regs/activations to some global variables. For example, instead of what we have now:
- import: org/clulab/reach/biogrammar/events/pos-reg_template.yml
  vars:
    triggers: "acceler|activat|aid|allow|augment...

I'd like to have:
- import: org/clulab/reach/biogrammar/events/pos-reg_template.yml
  vars:
    t

[2016-10-26 21:35] myedibleenso commented on #241
No this has not even been discussed.

As far as I can tell, the `displayLabel` (and the `Display` trait) is only relevant to "fries" (and index card?) export.  Is it used by anything else?  If not, perhaps we don't need that trait, and/or it is something that can be done at export for the relevant target formats...

[2016-10-26 21:39] myedibleenso commented on #326
If it bothers you to have it open, we can close it.  That said, I think these kinds of issues should be marked as unsolved in case we decide to revisit at some point in the future.  Simply closing it without a record to that effect gives the false impression that it's been "solved".

[2016-10-26 21:40] #326 closed

[2016-10-26 21:42] MihaiSurdeanu commented on #326
Good point. Can you please mark it as unsolved as well?

On Wed, Oct 26, 2016 at 10:40 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-10-26 21:47] bgyori opened #426 "REACH taking long time on certain texts"
I'm not specifically interested in this abstract but it is one example on which REACH seems to take a very long time. I'm putting it in as an issue because looking at why it's so slow might expose some more general issue. If not, feel free to close this!

https://www.ncbi.nlm.nih.gov/pubmed/27551758

[code]

[2016-10-26 21:53] myedibleenso commented on #426
@bgyori, thanks.  This paper doesn't appear to be a part of the open access subset.  Are you processing just the `nxml` for the abstract, or are you processing the full text?  If the latter, what format are you using?  If it is the raw text of the full paper and you're including the references, that may be one reason.

[2016-10-26 21:57] bgyori commented on #426
Just the raw text of the abstract. When open access full text is not available, we usually read the abstract as raw text using the ApiRuler.annotateText API. One thing to note about the abstract is that it has a lot of unicode characters. Maybe that's relevant?

[2016-10-26 21:59] MihaiSurdeanu commented on #424
Currently, variables can replace each other, but you can't use a variable when defining another variable.

We can add a limited version of this in which variables declared in a previous scope can be used in the current one.
This handles your example in which you want to use a global variable to initialize a local one.

I believe this could be accomplished by replacing this (see link below) Map con

[2016-10-26 22:00] MihaiSurdeanu commented on #424
@marcovzla: can you please implement this, when you feel like coding some basic stuff? Not urgent.

[2016-10-26 22:00] myedibleenso commented on #426
@bgyori, when you get a chance, would you please attach a `.txt` file to this issue with the raw text that you sent to Reach?

[2016-10-26 22:01] myedibleenso commented on #424
This seems like a `processors` issue, no?

[2016-10-26 22:05] MihaiSurdeanu commented on #424
It's both:
- First, Odin needs to be adjusted, as Marco notes above. This is now processors issue #107.
- Mihai adjusts the events grammar when the above issue is solved.

[2016-10-26 22:06] hickst commented on #241
What is the purpose of the `resolveDisplay`, `resolveDisplayForArguments`, `resolveDisplayForEntity` methods in the `ReachSystem` object?

They appear to be a post-extraction "fixup" in which heuristics are applied to try and disambiguate certain GGP entities. The `displayLabel` is used to hold the result of the heuristic; presumably so that the label set is not actually modified?

[2016-10-26 22:08] bgyori commented on #426
Here it is, the text in the file is UTF-8 encoded (I also pasted the raw text in my original question above).
[PMID27551758_abstract.txt](https://github.com/clulab/reach/files/554532/PMID27551758_abstract.txt)

[2016-10-26 22:11] #420 closed

[2016-10-26 22:34] hickst opened #427 "Estimate Explorer fixes"
Time cap: 2 hours to investigate and fix current woes, or else estimate remaining fix time.
Also try to estimate time to change/add items listed in Odinweb issue 3: https://github.com/clulab/odinweb/issues/3

[2016-10-26 23:10] myedibleenso commented on #241
Looking at it a bit more, it seems this used to disambiguate/sift through GGPs after grounding:
https://github.com/clulab/reach/blob/a12abd9cdcf0a3afb1aa00c2afe469fe162f0362/main/src/main/scala/org/clulab/reach/ReachSystem.scala#L249-L258

It is the last thing we're doing in extraction.  The mentions are then passed along to export (I guess?).

I think this issue can be closed.  The category assig

[2016-10-26 23:25] #397 closed

[2016-10-26 23:27] myedibleenso commented on #383
@hickst, have you seen an example of this nesting in the web app's error log?

[2016-10-26 23:47] myedibleenso commented on #368
Yes, it must be a rule issue.  The token is getting assigned `B-Gene_or_gene_product`: https://gist.github.com/myedibleenso/817b430b41787df4e45b9cf542930da5#file-e2f-doc-json-L10

[2016-10-27 00:55] hickst commented on #383
@myedibleenso No, but this may be an example:
`X up-regulates the Y-induced phosphorylation of Z.`

When I run this in the current BioVisualizer, no BRAT output is returned but no errors appear in any of the web app logs, either.

That is compared to this sentence, which I believe is a nested controlled:
`Ras mediates EGF activation of ERK.`

[2016-10-27 01:19] hickst commented on #383
Hmmm...I take it back. The previous failure must be due to fake entities (x, y, z) because when I try this sentence `AKT up-regulates the KRAS-induced phosphorylation of p38.` I get output (albeit a bit odd-looking).

[2016-10-27 04:36] myedibleenso commented on #368
Ok, I understand what's going on.  In the `mkNERmention` action, there is a filter to see if any overlapping entities have already been found.  This is a conservative check to avoid labelling something as a `GGP` that is more likely a `Mutant` or `Site1.  In this case, `E2F` has already been identified as a `SubstitutionMutant` by `mutant_sub1`:

[code]

@danebell, did you write the `mutant_sub1`

[2016-10-27 04:41] myedibleenso commented on #368
@hickst, do you mean you searched for something like `[A-Z]\d[A-Z]` ?  That makes me think that `[A-Z]\d[A-Z]` might more commonly indicate a mutant.

[2016-10-27 05:26] myedibleenso commented on #368
Relevant: https://en.wikipedia.org/wiki/Gene_nomenclature#Mutant_nomenclature

I tried querying a Lucene index with this pattern using project odinson. Here are some example matches:

 - [ ] `P2X` (receptor site?)
 - [ ] `P2Y` (receptor site?)
 - [ ] `C1M`
 - [ ] `C4M`
 - [ ] `C4A`
 - [ ] `C4B`
 - [ ] `Q2W`
 - [ ] `Q4W`
 - [ ] `S1P`
 - [ ] `H2A`
 - [ ] `H2B`
 - [ ] `A1C`
 - [ ] `A2A`
 - [ ] `A2B`

[2016-10-27 15:39] MihaiSurdeanu commented on #241
That's it.
They are not really used for export purposes. They generate canonical
labels into displayLabel. Yes, those labels are then read during export,
but there are other purposes for displayLabel. Mainly that they are easier
to interpret by human users.
If this is the only problem, I suggest to close this.

On Wed, Oct 26, 2016 at 11:06 PM, Tom Hicks <notifications@github.com>
wrote:

[2016-10-27 17:42] danebell commented on #368
I did write the mutant rules. AFAIK, `[ACDEFGHIKLMNPQRSTVWY]\d[ACDEFGHIKLMNPQRSTVWY]` is a very, very common (substitution) mutant string. The exceptions you cite above are exactly that. Mutant detection right now is priority 1, but if we put those exceptional cases into a priority 1 rule, I think that the mutant detection rules could be made priority 2 without creating other problems. Then the mu

[2016-10-27 23:42] myedibleenso commented on #368
Thanks, @danebell.  I hesitate to add a bunch of exceptional cases to any of the rules.  If we care to detect these, perhaps the answer is to call grounding on these mutant candidates, and only promote those without an real entry in one of our KBs.

Thoughts?  While this will increase precision, it may have an impact on runtime.  @hickst, can you give us a sense of the computational cost of attemp

[2016-10-27 23:47] myedibleenso commented on #368
Do we (successfully) ground mutants?  Do our KBs include entries specific to mutants, or are they grounded to the superclass protein (ex mutant PROTEIN_A -> PROTEIN_A)?  Does the KB resolution produced by grounding have any element that distinguishes between mutant and non-mutant entities?

[2016-10-28 02:15] bgyori commented on #325
I found another one that is not about cell types but has a similar pattern in which a modifier is missed after the entity name: `a new mechanism of oxygen independent activation of HIF-1 has been identified` from which `oxygen activates HIF-1` was extracted and `independent` was ignored.

[2016-10-28 07:58] MihaiSurdeanu commented on #368
Since this overlaps significantly with mutants, I propose to not do anything for now.

[2016-10-28 08:00] MihaiSurdeanu commented on #325
@bgyori: syntactically, this looks similar but it has to be handled differently in our system. This fits under code that detects the polarity of activations/regulations. Except, in this case, if the activation is independent of the controller, we should discard the interactions. I will start a separate issue for this.

@myedibleenso: please add rules for "* cell"?

[2016-10-28 08:02] MihaiSurdeanu opened #428 "Discard activations/regs marked as "independent""
I found another one that is not about cell types but has a similar pattern to issue #325  in which a modifier is missed after the entity name: a new mechanism of oxygen independent activation of HIF-1 has been identified from which oxygen activates HIF-1 was extracted and independent was ignored.

[2016-10-28 08:02] MihaiSurdeanu commented on #428
@bgyori: syntactically, this looks similar but it has to be handled differently in our system. This fits under code that detects the polarity of activations/regulations. Except, in this case, if the activation is independent of the controller, we should discard the interactions. I will start a separate issue for this.

[2016-10-28 08:23] #368 closed

[2016-10-29 01:11] hickst opened #429 "Find and process 22 PMC files for Cheryl"
PMC2248754
PMC2568943
PMC2740868
PMC2788426
PMC2887830
PMC3027602
PMC3088706
PMC3176292
PMC3395716
PMC3427313
PMC3464875
PMC3749168
PMC3822699
PMC3906956
PMC4074809
PMC4190548
PMC420458
PMC4223012
PMC4270087
PMC4509450
PMC4725756
PMC4942780

[2016-10-29 03:37] MihaiSurdeanu commented on #429
She needs the tabular"Arizona" format.

On Oct 29, 2016 2:11 AM, "Tom Hicks" <notifications@github.com> wrote:

[2016-10-29 21:38] hickst commented on #429
Which you provided, so I'm closing this.

[2016-10-29 21:38] #429 closed

[2016-11-01 05:52] hickst commented on #427
The number of pieces in Reach that have changed in the year since the Explorer was built are impressive. The current problems are due to (1) changes in the taxonomy of events, (2) changes in the structure and field names of FRIES outputs, and (3) changes in the structure and field names of the indices in Elasticsearch to match 1 and 2.

Estimate: 4 to 6 hours to achieve previous functionality.

[2016-11-01 05:52] #427 closed

[2016-11-01 16:59] johnbachman opened #432 "Missing enzyme for sentence about phosphorylation of multiple sites"
Here's something I came across today:

When processing the following sentence: "Activated Akt phosphorylates FoxO3a protein at Ser-318 and Ser-321 and Ser 253, which mediates FoxO3a nuclear exportation and transcription inhibition (XREF_BIBR)."

I get three phosphorylations (in INDRA statement form):

[code]

The phosphorylation event for S253 correctly identifies the enzyme as the string "Akt", w

[2016-11-02 18:37] marcovzla commented on #426
It seems that this specific sentence is the problem:

[2016-11-02 20:03] myedibleenso commented on #426
According to conversations in today's meeting, the problem here is supposedly not the speed of the parser.  We'll look into this further.  Thanks for narrowing it down, @marcovzla.

[2016-11-02 20:46] myedibleenso commented on #383
This may have been addressed by the flattening, although currently the flattening is only performed when we produce "fries" output...

[2016-11-02 21:02] hickst commented on #413
apply complexes before proteins

[2016-11-02 21:14] myedibleenso commented on #383
Tests or it didn't happen...

[2016-11-02 21:24] MihaiSurdeanu commented on #423
It seems we need 2 layers of complexity: syntactic + semantic. The priority should be:
- nominal-simple
- nominal-complex
- verbal-simple
- verbal-complex

[2016-11-02 21:25] #241 closed

[2016-11-02 21:27] MihaiSurdeanu commented on #51
We don't even know what this is.
May be superseded by issue #423.

[2016-11-02 21:27] #51 closed

[2016-11-02 21:34] MihaiSurdeanu commented on #428
@myedibleenso: the better solution is a lookbehind for all nominal predicates. You just volunteered to fix the reg/act grammar.

[2016-11-02 21:34] myedibleenso commented on #428
It was my idea, but I didn't volunteer!

[2016-11-02 21:36] MihaiSurdeanu commented on #432
@danebell: improve matching of sites?

[2016-11-02 21:38] MihaiSurdeanu commented on #428
Too late.

On Wed, Nov 2, 2016 at 2:34 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-11-02 22:01] #349 closed

[2016-11-03 20:51] hickst commented on #383
No, that's bad software engineering. Fine to mark it unsolved and make it low priority but we should not be closing this.

[2016-11-03 21:04] myedibleenso opened #435 "Include event triggers in tabular output"
Based on today's conversation with CMU, we'll add a new column to the output that lists the lemmatized triggers for the evidence associated with each row.  We'll sort these event triggers by their frequency.  This will be used for analysis of regulations with the aim of eventually developing a subtype of regulations that model increase/decrease effects.

[2016-11-03 21:55] hickst commented on #354
MS suggests iterative stripping. Try the longest match(es) first.

[2016-11-04 01:46] cl4yton commented on #435
Hi Gus, can you elaborate on this?  It sounds like you're saying this could
be used as a proxy for evidence strength, but I don't follow the logic of
counting trigger frequency to then informing modeling increase/decrease
effects.

On Thu, Nov 3, 2016 at 2:04 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

--
Clayton T. Morrison
Associate Professor
School of Information
University of Arizon

[2016-11-04 02:06] myedibleenso commented on #435
Sorry, Clay.  That was mostly a note for myself on what we agreed to provide CMU.

Natasa mentioned today that her group is only interested in a subset of the regulations that we are reporting (@MihaiSurdeanu has a nice example of this).

Basically there are a number of "non-essential" regulations that are not causal.  We sometimes see these in the form of `[A increases the [positive regulation of

[2016-11-04 02:28] cl4yton commented on #435
Yes, this does make sense.  Please keep be abreast of what is going on
here, and if possible, I'd like to be a part of any discussions on this,
including with CMU -- it's essential to the work we're doing on assembly.

On Thu, Nov 3, 2016 at 7:06 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

--
Clayton T. Morrison
Associate Professor
School of Information
University of Arizona
web: http:/

[2016-11-05 03:05] #435 closed

[2016-11-05 22:47] hickst commented on #413
TODO: NER override file currently contains ~33 protein complex names which (as a kludge) we are grounding to the ID of the first protein subunit (e.g. AMPK a1b1g1 => uniprot:Q13131). I think I need to make sure all of these protein complex names are re-mapped to an entry in the Bioentities relations file.

[2016-11-08 00:11] hickst commented on #413
Another TODO: since the NER KB overrides the other KBs, I will have to search for and remove any (redundant) NER entries which conflict with the Bioentities entries. Any synonymous entries will also have to be handled: I am currently talking with the Harvard guys about how this should work.

[2016-11-08 20:44] danebell opened #441 "${ eventName }_syntax_4_noun and ${ eventName }_syntax_1a_noun errors"
Admittedly, this is an unlikely and awkwardly constructed sentence, but Reach extracts faulty events:
[code]

The up- and down-regulation of two phosphorylations is discussed, one of Src and one of IP3R1. Only the latter's amino acid is specified (Tyr). The phosphorylations don't interact.

[2016-11-08 20:58] danebell opened #442 "Coreference error: "the region between aa 90 and 103""
1. After coreference, `the region` is resolved to refer to `miR-223`. Because `miR-223` is involved in a binding with `the region`, this should not be allowed. In the short term, this resolution should (already be) blocked in favor of p27.
1. `the region` should probably not be matched as a generic entity when followed by `between ...`. However, this is a good candidate for ellipsis resolution, as

[2016-11-08 21:27] danebell opened #443 "'time' is a cell line"
`time` is recognized as a cellosaurus cell line. This and any other cell lines that are more likely to be common English words should be filtered out during NER.

[2016-11-08 21:39] danebell opened #444 "binding1b error"
Reach produces two different Binding(estrogen, Sema4D). The only correct binding is between the membrane and the (penultimate) Sema4D.

[code]

[2016-11-08 21:49] danebell opened #445 "${ eventName }_syntax_1a_verb and activation errors"
Reach correctly finds a PosReg(AMPK, Phospho(ACC)) for the first `ACC` mention, but produces extraneous events for the second `ACC` as well, and misses the `inactivate` trigger.

[2016-11-08 23:37] hickst commented on #383
GHP says:

At the same time, the catalytic activity of KSR1 was confirmed by the fact that tumour necrosis factor alpha (TNFα) and ceramide can induce KSR1 autophosphorylation and increase its capacity to phosphorylate and activate Raf-1

[2016-11-08 23:38] danebell commented on #383
I think it breaks it because of the α character. When I replace same with `alpha`, it works.

[2016-11-08 23:48] hickst commented on #383
@myedibleenso Yea, that sentence breaks my mind but it does seem to be an example of the type we were looking for previously: it breaks the BRAT visualization javascript. I believe the problem is these BRAT statements which have a relation as an element of an event:
[code]
I think the sentence can be simplified to "At the same time, the catalytic activity of KSR1 was confirmed by the fact that tum

[2016-11-08 23:49] danebell commented on #383
Oh, I see what you mean, now. Only the controllers get marked.

[2016-11-08 23:50] hickst commented on #383
@danebell thanks for pointing that out but even if you eliminate the whole `(TNFa)` part, it still fails to graph some of the links. My theory is this is because of an event trying to control a relation (in BRAT).

[2016-11-08 23:53] hickst commented on #383
BTW - there are absolutely no errors from the Visualizer backend (i.e., including Reach) and the Visualizer can actually graph the syntax tree for that twisted (and deeply nested) sentence.

[2016-11-09 01:41] hickst commented on #443
Yea, biologists seem to love these kind of computer-vexing names. We can add 'time' but the general problem is finding the "common" English words among our 28 KBs which total 4M+ entries. If you've got a list of (say a couple hundred) common words, I can check those against our KBs and add any conflicts to the stop list. On the downside, a couple hundred is a small set (unless you're really good a

[2016-11-09 02:30] MihaiSurdeanu commented on #443
For now we can incrementally remove these by adding them to the
ner_stoplist file:
https://github.com/clulab/bioresources/blob/master/src/main/resources/org/clulab/reach/kb/ner_stoplist.txt

On Tue, Nov 8, 2016 at 6:41 PM, Tom Hicks <notifications@github.com> wrote:

[2016-11-09 02:35] hickst commented on #443
Yes and that's what I am doing in this case, of course. I was just suggesting that, if we could identify more potential candidates, I could test them against the KBs for conflicts and add the conflicts to the stop list. Currently the stop list is only 33 words (now 34).

[2016-11-09 02:50] myedibleenso commented on #443
We have a set of w2v embeddings trained on gigaword on the file server.  I grabbed those, filtered out the few entries that didn't start with a-z, and then took their intersection with the terms listed in `/usr/share/dict/words`.  I don't have frequency information on these words and I know the list is a bit noisy (ex. acronyms, single letter entries), but I am curious to see how many of these ter

[2016-11-09 02:53] MihaiSurdeanu commented on #443
Very nice!

On Tue, Nov 8, 2016 at 7:50 PM, Gus Hahn-Powell <notifications@github.com>
wrote:

[2016-11-09 02:54] hickst commented on #443
Working on getting you that key list now.

[2016-11-09 15:49] hickst commented on #443
I got the key list down to ~186k by dropping the PubChem KB and filtering entries to single "words". The file is on Jenny: /net/kate/storage/work/hickst/temp/wordKEYS

[2016-11-09 15:50] hickst commented on #443
GHP said:

[2016-11-09 15:52] MihaiSurdeanu commented on #443
Let's discuss today.

On Wed, Nov 9, 2016 at 8:50 AM, Tom Hicks <notifications@github.com> wrote:

[2016-11-09 20:20] hickst opened #446 "Add profiling to Reach"
Issue #426 depends on gathering this information. First, gather times by functional step.

[2016-11-09 20:29] hickst commented on #413
Update NER in Processors.

[2016-11-09 21:11] myedibleenso commented on #443
@hickst, can you please generate another KB dump that doesn't include uniprot and the organs kb?

[2016-11-09 23:14] MihaiSurdeanu commented on #424
Solved by PR 447

[2016-11-09 23:14] #424 closed

[2016-11-10 01:18] hickst commented on #443
@myedibleenso the new one, without Uniprot proteins and the Uberon organ KB (and w/o any chemicals) is in: /net/kate/storage/work/hickst/temp/wordKEYS2

[2016-11-11 22:41] davidserv opened #448 "No configuration setting found for key 'csv'"
Hi all,

Does anybody get that error message with the last version of REACH while running it:

_[error] (run-main-0) com.typesafe.config.ConfigException$Missing: No configuration setting found for key 'csv'
com.typesafe.config.ConfigException$Missing: No configuration setting found for key 'csv'__

It seems that it can't find the configuration file for ReachCSV... while I have it though: csv.conf

[2016-11-11 22:48] myedibleenso commented on #448
David, could you provide us with a bit more information?  What version of Reach are you using?

The `ReachCSV` runnable has been removed from Reach, though we are still able to read column-based files: https://github.com/clulab/reach/wiki/Supported-Input-Formats#tsv-files

Thanks for pointing out `csv.conf` file, though.  It seems that we forgot to remove that file.

[2016-11-12 00:20] davidserv commented on #448
I use the REACH currently available on the master branch.

Thanks for telling me that the ReachCSV has been removed. Now I use the papersDir variable in the application.conf file to point to my new tsv file and this time, when I run REACH with the command line 'sbt "runMain org.clulab.reach.ReachCLI main/src/main/resources/application.conf" ', I get the message:

_00:06:07.834 [run-main-0] INFO  o

[2016-11-13 01:57] myedibleenso commented on #448
@davidserv, I'm noticing two things about what you've reported...

1) If you're altering the provided `application.conf`, you don't need to specify the path.  `sbt "runMain org.clulab.reach.ReachCLI"` should be sufficient.
2) It sound like you may have an encoding error.  The default config assumes your files are UTF-8: https://github.com/clulab/reach/blob/master/main/src/main/resources/applicatio

[2016-11-14 22:08] davidserv commented on #448
Indeed specifying the path to the config file is useless, I should start acquiring good habits...

After a check, I can tell that my input file is in utf-8 already so the problem is somewhere else. I'm asking myself if it could be a simple java version problem.

Best,
David S.

[2016-11-14 22:16] hickst commented on #448
Hi David,

Is the file proprietary or huge? Otherwise, perhaps you can just upload it and we can try to run it and see what happens for us.

[2016-11-14 23:22] davidserv commented on #448
I don't use my own input file anymore, instead I use the nxml files located in reach/main/src/test/resources/inputs/nxml. I get that same error message whatever it is my input file or the nxml files.

Best,
David S.

[2016-11-14 23:36] hickst commented on #448
1) I'm confused: from the previous messages, it looks like you were (are?) having problems with a specific input file in CSV form. Is this true of not?
2) Reach does require Java 8.

[2016-11-14 23:48] davidserv commented on #448
At first this was the case, but then I realised that the same problem occurs with any kind of input file actually, even with the example files that comes with REACH ! Sorry, I didn't make that point clear.

Also, I forgot to mention that all this happens on a server running ubuntu 16.04. On my own laptop ubuntu 16.04 everything's fine but not on the server I'm working on.

Best,
David S.

[2016-11-14 23:50] davidserv commented on #448
Java 8 is installed and up and running but the issue is still there...

Best,
David S.

[2016-11-15 20:08] bgyori opened #449 "Invalid UniProt ID assigned"
For some reason, whenever `HRE` appears in text it is grounded to UniProt with id `HRE`. This is strange becase HRE is the  raw string name of the entity and is not a valid UniProt ID.

Here is an example sentence:
`In the present study, we first demonstrated that HIF-1alpha binds to an HRE in FGF-2 gene in ASCs to enhance mRNA and protein expression of FGF-2, thereby promoting proliferation.`
for

[2016-11-15 20:13] hickst commented on #449
Thanks for the report Ben, I'll check that out immediately.

[2016-11-15 20:25] hickst commented on #449
It looks like HRE is a bad entry in the override file. I don't find HRE in any of our KBs nor in Uniprot online. Can you tell me what this entity is (family, protein, cell line, other?) and to what should it be grounded?

[2016-11-15 20:25] johnbachman commented on #449
Also FYI HRE is not a protein (had to look this one up): https://en.wikipedia.org/wiki/Hormone_response_element

[2016-11-15 20:26] johnbachman commented on #449
So to answer your question (our posts crossed) I don't think you could ground it to anything, at least not for the time being.

[2016-11-15 20:28] hickst commented on #449
Thanks John. This will be corrected in the next release of the Bioresources project (hopefully coming by the end of the week).

[2016-11-15 20:47] hickst commented on #449
I looked for other invalid entries with the same pattern in our override file and found 'ARE'. Again, not in our KBs and not sure what it refers to. Any ideas?

[2016-11-15 22:28] bgyori commented on #449
I don't remember seeing ARE, do you know any papers it appears in?

[2016-11-15 22:31] hickst commented on #449
I do not have any specific papers and, since it's a bad entry and I don't know where it came from, I'm just going to remove it. If it **is** used in papers, it will surface again.

[2016-11-15 22:31] #449 closed

[2016-11-15 22:32] bgyori commented on #449
It might actually be Antioxidant Response Element, which is not currently groundable.

[2016-11-15 23:12] bgyori opened #450 "Named entity prioritization issue"
We found that `DNA damage` which appears extremely often in the literature is cropped to `damage` and then grounded to MAGEE1 in UniProt. I would have expected `DNA damage` to appear as an entity that would be prioritized over `damage` as a longer match. The minimal example to reproduce this is the sentence: `DNA damage induces apoptosis`. @johnbachman might have other examples that include damage

[2016-11-16 01:12] hickst commented on #450
I think this should be in our Bio Process KB but what process should this be linked to? I'm looking at
[cellular response to DNA damage stimulus](http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006974#term=info) as a good choice. Please let me know what you guys think:

[2016-11-16 03:25] johnbachman commented on #450
We talked to @MihaiSurdeanu about this today. We often get events involving the entity text "damage" which, as @bgyori mentioned, gets grounded to MAGEE1. Depending on the corpus, this is *often* a truncation of "DNA damage", but not always--other forms of damage are sometimes mentioned.

I've attached a tab-separated file with 56 PMIDs/sentences that gave us extractions involving the entity "dama

[2016-11-16 18:48] johnbachman opened #451 "Best practices for extraction text from PDFs for reading with REACH?"
Hi, this is a question, not an issue. I've been looking at expanding the proportion of full text content that we can access, and the next biggest publisher to cover after Elsevier is Wiley. Wiley has TDM access to full text papers via the CrossRef clickthrough API, but they only return PDFs (not XML or plain text). So I'm playing around with Python packages for extracting text from PDFs (not invol

[2016-11-16 19:12] johnbachman commented on #451
Addendum--I stripped the references off the end of the paper and then ran REACH, it gave pretty good-looking results, so I guess it wasn't too screwed up by the formatting and mishmash of headers, etc.

Results:

[code]

[2016-11-16 19:16] hickst commented on #451
We tried something like this approach for PDF extraction but the results were just horribly inconsistent -- too many variations in the PDF formats and resulting extractions. Also, the text had intermixed figures, columns, labels, tables, authors, references, etc. Also many of the PDF documents we were interested in were older and were just images embedded in the PDF. We gave up.

We were going to

[2016-11-16 20:33] cl4yton commented on #450
A thought: these problematic examples sound like generally modifications to an existing groundable state or entity.  Should we consider "compound" grounding, where "damage" is grounded to a modifier, and associated with the entity/process?  (Are other cases similar?)

[2016-11-16 21:35] hickst commented on #450
I agree with Clay: these all seem "stative"; much in the same way that "phosphorylated" or "activated" refer to different states of a (groundable) entity. Perhaps these could be represented in Reach as entities with state modifications attached?

[2016-11-17 13:01] MihaiSurdeanu commented on #451
@johnbachman: we are not that affected by weird white spaces, as long sentences are maintained as sentences...

In any case, you should talk to @GullyAPCBurns. Gully developed a tool that converts PDFs into the NXML format, and I think he addressed several of these issues. No need to reinvent the wheel.

[2016-11-17 14:55] johnbachman commented on #451
Nice! I assume this is lapdftext? https://github.com/GullyAPCBurns/lapdftext

[2016-11-17 15:51] MihaiSurdeanu commented on #450
I think these grounding workarounds make sense.
But there might be also a NER bug here... The truncation from "DNA damage"
to "damage" should not happen, because we prefer longer entities in the
NER. I will look at this.

Mihai

On Wed, Nov 16, 2016 at 2:35 PM, Tom Hicks <notifications@github.com> wrote:

[2016-11-17 16:44] hickst commented on #450
@MihaiSurdeanu I added 'DNA damage' as a bio_process entry a couple days ago, so you should find that entry in the KB and in the ner files of the master (1.1.9-SNAPSHOT).

[2016-11-17 17:00] GullyAPCBurns commented on #451
That's it. Let me know if you have any difficulty, there might be some
wrinkles in terms of setting this up for the first time.

Gul

On Thu, Nov 17, 2016 at 6:55 AM, John A. Bachman <notifications@github.com>
wrote:

[2016-11-17 20:22] GullyAPCBurns commented on #451
Actually, you should use this version.

https://github.com/BMKEG/lapdftext

G

On Thu, Nov 17, 2016 at 9:00 AM, Gully Burns <gullyburns@gmail.com> wrote:

[2016-11-18 05:23] davidserv commented on #448
Hi,

I thought it would be easier for you to help me if you could see for yourself what is going on so I managed to reproduce the issue on a google server.

In attachment are the ssh keys (public and private) to be placed in your .ssh folder. Then to access the server type "ssh david@104.196.232.188" and it should work.

On the server, if you do a "ls" inside the home folder you will recognize the

[2016-11-18 06:16] davidserv commented on #448
Here is the link to my ssh keys: http://www.4shared.com/folder/EP8CQJdy/_online.html

Best,
David S.

[2016-11-20 05:59] myedibleenso opened #452 "Negation detection is too aggressive"
I'm getting a `Negation` modification on the following Mention:

I think we need to adjust things to avoid "NEG only" and similar expressions.

[2016-11-20 18:58] MihaiSurdeanu commented on #452
Good catch

On Nov 19, 2016 22:59, "Gus Hahn-Powell" <notifications@github.com> wrote:

[2016-11-22 17:33] #432 closed

[2016-11-22 19:34] danebell commented on #160
@hickst I was not able to reproduce this error with the paper cited above. Do you have any other (perhaps more current) papers that produced errors?

[2016-11-22 19:47] danebell commented on #441
Upon further study, these errors are due to poor parsing. Rule changes aren't justified in this case.

[2016-11-22 19:47] #441 closed

[2016-11-22 19:55] danebell commented on #445
Upon further study, these errors are due to poor parsing. Rule changes aren't justified in this case.

[2016-11-22 19:55] #445 closed

[2016-11-22 20:04] danebell commented on #444
Upon further study, these errors are due to poor parsing. Rule changes aren't justified in this case.

[2016-11-22 20:04] #444 closed

[2016-11-22 20:39] hickst commented on #160
@danebell I just tried and it succeeded. I have to conclude that the error has been OBE (overcome by events) or should we coin a new term FBRC (fixed by recent changes). I'm closing.

[2016-11-22 20:39] #160 closed

[2016-11-23 20:56] #451 closed

[2016-11-23 20:59] MihaiSurdeanu opened #454 "Correct polarization of some regulations"
We need to improve the lexicon for polarity flipping.
See examples where we get the polarity incorrectly in the attached spreadsheet (rows in red).

[Summary of annotated.xlsx](https://github.com/clulab/reach/files/609990/Summary.of.annotated.xlsx)

[2016-11-23 21:01] MihaiSurdeanu opened #455 "Add from/to locations to the tabular output for Translocation"

[2016-11-26 21:19] hickst commented on #368
Note that E2F is still not being recognized as any entity and therefore we will miss any sentences containing E2F.

[2016-11-29 18:32] hickst commented on #413
Adding these KBs was a big shakeup to the existing NER/grounding. The 500 new entries replaced 220+ of our previous Override entries. Protein complexes should be better resolved but many of these entries are still (inherently) ambiguous between proteins and families.

Pull request #458 puts the infrastructure in place and updates all the tests so they pass, but I think we're going to be tweaking t

[2016-11-29 18:32] #413 closed

[2016-11-29 21:42] bgyori opened #459 "Duplicate complex assembly with inconsistent is-direct flags"
For the sentence `Binding of EGF to EGFR has been shown to stimulate EMT`, there are 3 events extracted, two of which are `complex-assembly` between EGF and EGFR. Interestingly, one of the `complex-assembly` events has no `is-direct` flag, while the other is set to `false`. What might be causing this behavior?

In general, I think complex-assembly events can be safely assumed to be `is-direct: tru

[2016-11-29 23:26] bgyori commented on #392
Just a remark: it looks like your commit https://github.com/clulab/reach/commit/7b3571356fa02fdee3a9c8a85044d9ec1f8ce220 in October reversed this behavior. Now the ApiRuler annotateNnxml againg takes the nxml string and not the file name.

[2016-11-30 20:34] MihaiSurdeanu commented on #455
Completed.

[2016-11-30 20:34] #455 closed

[2016-11-30 20:37] MihaiSurdeanu opened #460 "New "cmu" tabular format"

[2016-11-30 22:05] hickst opened #461 "Add missing DyCE entities"
Gorji says:

[2016-12-01 18:41] hickst commented on #461
All but one of the "short form" strings (within the parens) were already in the NER-Grounding-Override KB. I added several longer-form synonyms,  in case we see expanded names (e.g. Cysteine protease as longer form synonym for ATG4A). Added ARE as a Cellular Component with MeSH ID  'D061745', per CMU email 11/1/2016. Closed by Bioresources commit https://github.com/clulab/bioresources/commit/57114

[2016-12-01 18:41] #461 closed

[2016-12-02 23:29] hickst commented on #454
The Harvard guys have identified several contexts for inhibition. I should be able to handle the ones involving dashed prefixes and suffixes in grounding (issue #354) but here are the "standalone ones" (i.e. separated from the target by whitespace):

dominant negative {Gene name}   inhibition      dominant negative
dominant-negative {Gene name}   inhibition      dominant negative
silencing {Gene n

[2016-12-02 23:29] danebell commented on #454
That's very helpful! Thank you!

[2016-12-06 15:10] johnbachman opened #463 "Missing log file for debugging ReachCLI issues"
Hi there,

Lately I've had some issues running large reading jobs on Amazon (using the ReachCLI) where the job seems to just halt in the middle of a set of papers. Running "top" indicates that java is still running, but output from standard out stops and no new output .json files are produced.

The output to standard out looks normal, here are the last few lines:

[code]

I want to inspect the REA

[2016-12-06 16:18] hickst commented on #463
I've never used AWS John, but you should not have the second 'logFile' entry: just keep the logging section.

Otherwise, the usual caveats apply: e.g., your process must have correct permissions (write) on the output directories. Make sure you run with as much RAM as you can manage: an absolute minimum of 8G.

Are standard output and standard error redirected somewhere by AWS? You might try findin

[2016-12-06 16:19] hickst commented on #426
Note that issue #463 is probably another report of this problem.

[2016-12-06 16:30] johnbachman commented on #463
I doubt it's just long runtime on certain files for at least two reasons:

1) We're talking about a 12 hour gap since the last output was produced and when I checked on the process.

2) When I restart the job on the remaining papers, it continues to run.

Write access should be OK since the program is writing out the .json files to the output directory--presumably the logger would have the same pe

[2016-12-06 16:50] hickst commented on #463
Yes, please try to identify the problem files and we can run a couple here as a test.

[2016-12-08 06:24] davidserv commented on #448
Lately I had the surprise to discover that reach works not on VPS ubuntu servers (and I tested several of them) but works well on the VPS CentOS servers. Indeed, the java error I had never appears on VPS CentOS servers. On laptops, reach seems to run like a charm on every plartforms, except on VPS servers. How can this be ?

Best,
David S.

[2016-12-11 17:45] hickst commented on #448
Sorry, I don't know and I haven't had time to test this. However, I note that most virtual machine images do not include Java and those that do include Java, do not include Oracle Java due to licensing restrictions. Are you testing with an "official" Oracle version of Java 8? We're using (at least) 1.8.0_60 and 1.8.0_74.

[2016-12-11 17:48] hickst commented on #463
@johnbachman Hi John, are you still having problems with certain files? Have to managed to identify any specific problematic files? Did increasing memory help with those files?

[2016-12-12 18:13] davidserv commented on #448
I confirm that I installed the Oracle java 1.8.0_112 both on the Ubuntu and CentOS virtual server. I obtained that java directly from the Oracle website. On the Ubuntu one, I get the java error, not on the CentOS one.

[2016-12-12 18:54] hickst commented on #448
OK and which versions of Ubuntu and CentOS are you using? Which VM platform are you running those in (VirtualBox, EXSi, Parallels, etc).

[2016-12-12 22:25] hickst opened #465 "Ensure MITRE's Phase III data sets are added to our KBs"
See DarpaList email: "Fwd: Big Mechanism: SkMel 133 Data on Handshake"

[2016-12-13 01:03] davidserv commented on #448
I used the Ubuntu 16.04.1 64bit and CentOS 7.2.1511. Currently the VM platform is qemu, however I tried other servers previously and they might run other VM platforms.

[2016-12-14 05:02] myedibleenso commented on #460
closed by #466

[2016-12-14 05:02] #460 closed

[2016-12-14 20:56] hickst opened #467 "Restart capability for Reach"
Write the paper's filename to a separate "restart" log file when paper finishes successfully. On restart, read the restart file to create a table of which files to ignore in the restarted run.

[2016-12-16 18:29] hickst commented on #467
Other suggestions from Gorji for ReachCLI:

[2016-12-19 20:08] MihaiSurdeanu opened #468 "Beyond PubMed Open Access"
We should aim to read open-access papers that are available from other sources beyond PubMed. I suspect most of these will be in PDF format, so @GullyAPCBurns's software becomes very handy.

Ideas for additional sources:
FROM THEA NORMAN:
"After we spoke I was thinking more about search sources.  I think we talked about patent databases as a source of papers and findings that could enrich your bas

[2016-12-19 20:36] MihaiSurdeanu commented on #450
This happened because "damage" is also a protein:
GROUNDING: KBResolution(damage, uniprot, Q9HCI5, homo sapiens)

@bgyori, @johnbachman: is this a valuable protein, or should we add "damage" to our stop-word list, i.e., words that are not tagged as entities when they appear in lower case?

[2016-12-20 17:57] johnbachman commented on #468
This is a great idea. I've been talking to the Harvard library about getting access to a large amount of subscription-based content, which would all be in the form of PDFs.

Other great sources would be the Wikipedia entries for various genes; the open access biology textbooks available through NCBI; and the overview blurbs on proteins at Uniprot. One wrinkle with Uniprot is that the sentences all

[2016-12-20 18:42] MihaiSurdeanu commented on #468
These are great ideas.
We can fix the lack of a subject: if the sentence syntactic analysis misses
one, we can artificially add it from the protein name.

On Dec 20, 2016 12:57, "John A. Bachman" <notifications@github.com> wrote:

[2016-12-20 19:48] MihaiSurdeanu commented on #450
Ok, I propose the following:
1. @hickst: please add "damage" to our stop-word list. I think if it appears in lower case, it is highly unlikely to *not* be a protein. I think this term is highly ambiguous, and we should not tag as anything when in lower case.

2. @bgyori: in the file attached to this issue, I see other forms of this phrase:
"cell damage"
"cellular damage"
"ischemic damage"
"hepatic

[2016-12-20 19:50] GullyAPCBurns commented on #468
What were you guys thinking of in terms of the data sources? The system I
have is tailored to individual journal formats so there is tweaking needed
to generally get the extraction as good as it can be. Still, it would be
interesting to see how this goes.

Gully

On Tue, Dec 20, 2016 at 10:42 AM, Mihai Surdeanu <notifications@github.com>
wrote:

[2016-12-20 19:53] hickst commented on #468
To be practical, it seems like the extraction has to be tailored to individual input formats because PDF mixes so much of the formatting information and text together.

[2016-12-20 19:53] MihaiSurdeanu commented on #468
My top 2 choices for PDF papers are preprints (https://cos.io/preprints/) and Core (https://core.ac.uk/).
I hope they use a standard format throughout (haven't checked yet)? If they do, at the most we need 2 more parsers.

[2016-12-20 19:59] GullyAPCBurns commented on #468
LAPDFText actually uses rule files to do the extraction for each
formatting. So you specify what characteristics the narrative text has in a
given article and where the boundaries are, and the system can usually do
quite a good job of extracting them. I would like to use some machine
learning to automatically classify the different blocks of text and read
them in order but haven't had the bandwidt

[2016-12-20 20:01] MihaiSurdeanu commented on #468
I think this is a question for @johnbachman and @bgyori. Would looking at additional data be useful?

[2016-12-20 21:09] johnbachman commented on #450
Of these, I would map only the following to DNA damage:

- genotoxic damage
- alkylation damage
- DNA methylation damage

[2016-12-21 01:16] #454 closed

[2016-12-21 01:17] MihaiSurdeanu commented on #450
Thanks @johnbachman!
@hickst: can you please add the 3 entities above, to be mapped to the same id as "DNA damage"?
And then close this issue? Thanks!

[2016-12-21 15:43] johnbachman commented on #450
Also one note--you mentioned that "damage" can also connote a protein (aka MAGEE1). I've never heard of this protein, but one way of making sure to get references to this protein would be to map only "DAMAGE" (all caps) to the protein, and not otherwise.

[2016-12-21 15:47] johnbachman commented on #450
By the way, this appears to be the paper where the gene name "DAMAGE" was coined. May the authors be forever cursed for coming up with such a name...

https://www.ncbi.nlm.nih.gov/pubmed/14623885

[2016-12-22 01:24] MihaiSurdeanu commented on #450
Agreed!

@hickst: it's safe then to add "damage" to stop word list. And the other 3 variants to be mapped to the same id as "DNA damage". Thanks!

[2016-12-22 02:10] hickst commented on #450
@johnbachman Ha, you think that's bad....Uniprot has entries for genes with names '1' to '9'!!
For example, see: http://www.uniprot.org/uniprot/Q01016

[2016-12-22 03:05] hickst commented on #450
Done: "damage" added to NER stop list, other 3 variants added to bio_processes KB (available in Bioresources 1.1.20-SNAPSHOT). Ran all Reach tests with version 1.1.20.

[2016-12-22 03:05] #450 closed

[2016-12-23 00:43] hickst commented on #465
Restored 'goat' entries to the Reach Species KB, since the Phase III evaluation files included goat in the species data. Goat was previously filtered from our more complete Species data by the read-1k-papers-filter-species process.

[2017-01-07 08:12] #459 closed

[2017-01-11 17:11] hickst commented on #467
Closed by pull request #472

[2017-01-11 17:11] #467 closed

[2017-01-11 19:18] hickst commented on #465
I'm not understanding the MITRE Korkut data: species is listed for every entry, none of them are human, but every associated protein ID is a HUMAN protein ID. I have to assume that the species column does not refer to the protein ID chosen for grounding?

[2017-01-11 20:24] hickst commented on #465
Response from MITRE:

[2017-01-11 20:25] hickst commented on #465
Need to redo Phase3 override file to remove species information as I have verified that ALL entries in Korkut data are Human.

[2017-01-11 23:59] hickst commented on #465
Need to filter out the Site portions of the Korkut entries when the KB is generated. Regular expressions already exist in the Reach rules:
https://github.com/clulab/reach/blob/e51a3abb14a7ed618b5d8e2c8a3fd2509330f1c0/main/src/main/resources/org/clulab/reach/biogrammar/entities/entities.yml#L2

[2017-01-13 01:31] hickst commented on #465
Fulfilled by release of BioResources 1.1.21 and Processors pull request #132

[2017-01-13 01:31] #465 closed

[2017-01-13 15:52] johnbachman commented on #468
Catching up to this one. @MihaiSurdeanu, what do you mean by "additional data"? Certainly additional papers would be useful. However, for our current purposes, I'm not sure if we need a lot of additional metadata on paper sections, etc. Since we are currently operating on assertions rather than data (for better or worse), we're generally willing to take them from any section of the paper.

Another

[2017-01-13 16:00] johnbachman opened #474 "REACH versions that change results?"
Hi, I was wondering if it's possible to get information on REACH updates that affect the extraction results rather than internal performance improvements, use-case specific additions, etc. We cache REACH reading results for papers on Amazon S3 along with the REACH version, and re-read papers when we have a sense that there have been a lot of updates to REACH since those papers were last read. Gene

[2017-01-13 19:17] MihaiSurdeanu commented on #468
Thanks @johnbachman! Yes, schema and examples would be nice.

[2017-01-13 19:19] MihaiSurdeanu commented on #474
@johnbachman: this is a good comment.
@hickst: we should add a simple statement to future Reach version ("this impacts extraction results") to clarify changes.

[2017-01-13 19:42] hickst commented on #474
OK, I'll try to do that. Many of my changes have had to do with data handling, such as KB modifications and overrides, entity processing, and grounding IDs. Such changes always have the **potential** to modify the resulting identifications, whether they do or not. This is a recurring problem for our data-driven software test suites, some small test of which will often fail when I add a new entity

[2017-01-13 19:44] MihaiSurdeanu commented on #474
@hickst: also, please ask around the group before each release. There may be changes you are not aware of.

[2017-01-13 19:51] hickst commented on #474
That's a good idea but perhaps I misunderstood John's request. I thought we were talking about attaching the impact information to each **issue** or **pull request** so that they know when to recompile and rerun their papers?
@johnbachman you guys are recompiling more frequently than official releases, right?

[2017-01-13 19:53] bgyori commented on #474
Yes, we typically work off of the latest master.

[2017-01-13 19:55] MihaiSurdeanu commented on #474
Ok. We can attach this to each PR. Tom, can you please remind me to discuss
this Wed?

On Fri, Jan 13, 2017 at 12:53 PM, Benjamin M. Gyori <
notifications@github.com> wrote:

[2017-01-13 20:03] hickst commented on #474
@MihaiSurdeanu OK, I'm assigning this issue to you (as a reminder) and I've added it to the URGENT column of the project task control page.

[2017-01-13 22:13] enoriega opened #475 "Multiple output formats"
Let's be able to output more than one output format at once. This is to be able to have multiple formats when doing big runs, like one over the whole open access subset

[2017-01-17 23:26] hickst commented on #475
@myedibleenso Why was the `skipFiles` Set moved down to the instance level? It was a "class constant" and thus shared by all threads. Now each thread (of potentially several dozen) has to reread the file, creating another Set instance containing (potentially) hundreds of thousands of filename strings.

[2017-01-18 00:36] hickst commented on #475
OK, we believe this is not the case: closing this issue again.

[2017-01-18 00:36] #475 closed

[2017-01-18 01:18] hickst opened #477 "Cleanups of ReachCLI"
1) Do we need the ReachCLI object anymore: is there a use case for direct instantiation or is this simply a top-level app?
2) Do we need any class instantiation? We might consider two objects: setup and runnable.
3) Is there a use case for the capability to read the restart file but not add to it during a run? Did we lose this ability when we stopped checking the useRestart file within the instanc

[2017-01-18 19:00] bgyori commented on #428
In the evaluation results we bump into incorrect explanations due to a frequently occurring error related to this issue. Consider these examples:

19244107 This is supported by a previous study showing that **haplodeficiency of Akt1** dramatically inhibits prostate tumor development in Pten +/- mice (XREF_BIBR).
23603119 By western, PTEN repression was most strongly relieved by **knockdown of Akt1

[2017-01-18 19:04] bgyori commented on #325
In the evaluation results we bump into incorrect explanations due to a frequently occurring error related to this issue. Consider these examples:

19244107 This is supported by a previous study showing that haplodeficiency of Akt1 dramatically inhibits prostate tumor development in Pten +/- mice (XREF_BIBR).
23786676 Akt1 and 2 deficiency is sufficient to markedly reduce the incidence of tumors in

[2017-01-18 23:07] MihaiSurdeanu commented on #325
Thanks @bgyori! Unfortunately, these are multiple issues showing for the same interaction... We are discussing these.

[2017-01-18 23:28] MihaiSurdeanu commented on #474
@hickst, @danebell, @myedibleenso, @marcovzla, @enoriega, @bgyori, @johnbachman: we will mark new PRs with the phrase "(RESULTS CHANGE)" when the PR affects the Reach output.

[2017-01-18 23:28] #474 closed

[2017-01-19 16:20] johnbachman commented on #474
Great, thanks!

On Wed, Jan 18, 2017 at 6:28 PM, Mihai Surdeanu <notifications@github.com>
wrote:

[2017-01-24 19:59] hickst commented on #463
@johnbachman Hi John, are you still having problems with certain files? Have you managed to identify any specific problematic files? Did increasing memory help with those files?

[2017-01-25 16:15] johnbachman commented on #463
Hi Tom, I just did a big run last weekend and again had some issues where
the processes would freeze up and have to be restarted. I still also
haven't been able to generate a log file (just a dump of standard out). I
will try again to see if it happens on specific files.

On Tue, Jan 24, 2017 at 2:59 PM, Tom Hicks <notifications@github.com> wrote:

[2017-01-25 16:42] hickst commented on #463
I don't understand the missing log file as, by default, the application.conf will produce a log file `reach.log` in the root directory. By any chance, are you adding Reach to some other software which overrides the Log4j configuration?

You should try the latest master Reach, as we have recently changed the application.conf file to, by default, use a single root directory (from which all other dir

[2017-01-25 23:30] cl4yton commented on #222
Marco: this has been fixed in processors: https://github.com/clulab/processors/pull/123
Awaiting development of unit tests to verify before merging and then publishing version of processors with fix.  Marco currently working on unit tests. (Just need example text with weird characters to test response.)

[2017-01-25 23:48] cl4yton opened #478 "Configure REACH to run on HPC/ElGato"

[2017-01-25 23:55] cl4yton commented on #478
To get started confguring reach:
https://github.com/clulab/reach/wiki/Running-REACH

[2017-01-25 23:59] myedibleenso commented on #426
Profiling this now...

[2017-01-26 23:56] marcovzla commented on #446
We used flight recorder for profiling in #426.
I think it is not necessary to add this since flight recorder is sufficient.
Should we close this?

[2017-01-27 00:24] myedibleenso commented on #446
I think so.  The profiling that was proposed would've been too coarse-grained to pinpoint the problem in #426.

[2017-01-28 01:11] #426 closed

[2017-01-28 01:14] marcovzla commented on #446
closing in favor of using flight recorder

[2017-01-28 01:14] #446 closed

[2017-01-30 20:17] johnbachman commented on #463
Hi, so I'm still not able to see the log file. I changed the permissions on the temporary directory I'm creating to be world-writeable to see if that would fix it, but not luck.

Also, here are a few papers that took a long time in the most recent run, though they did eventually finish::

[code]

[2017-01-30 20:21] myedibleenso commented on #463
@johnbachman, regarding the slow processing time, did you run these papers with the latest version of reach (38d2c4330e2ec8064a2829288a3c7b42b844eeef)?  While the last PR that was merged isn't supposed to change output, it should vastly improve runtime on some papers.  I'm curious if that is/was the problem with the papers you've referenced...

[2017-01-30 20:23] johnbachman commented on #463
Yes, these were run with the version 38d2c4330, updated today.

[2017-01-30 20:29] myedibleenso commented on #463
Thanks. We'll open an issue and start exploring the cause.

[2017-01-30 20:39] myedibleenso opened #480 "Slow processing of certain texts"
There was mention in #463 of three papers with a slow runtime:

[code]

We should try to profile these and understand what might be slowing things down.

[2017-01-30 21:00] myedibleenso commented on #480
@johnbachman, I was only able to find the full text nxml for PMC5050443 (PMID 27630114).  I just have abstracts for the other two.  Is that what you ran?

[2017-01-30 21:12] johnbachman commented on #480
I used the nxml for PMID27630114, but got Elsevier full-text XML (from which we extracted plain text) for the other two. We've noticed with some papers that sometimes the extracted text gets words stuck together with no spaces--I'm actually looking into that as a separate issue on our side.

I'll email the text files to you privately so as not to run afoul of Elsevier's license agreement.

[2017-01-30 21:13] myedibleenso commented on #480
I've seen this, too.

Ah, that's why I couldn't find them through our normal channels.  Thanks!

[2017-01-30 22:01] myedibleenso commented on #480
After profiling, it seems the bottleneck here are some long sentences gumming up the chart parser.  If we exclude the initial KB loading, ~70% of the processing time is spent parsing.

[2017-01-31 16:56] johnbachman commented on #463
Just as an update, I ran REACH on a corpus of ~100k papers last night without it freezing up--so it could be that the latest PR fixed the underlying problem. I have a larger corpus of 270k papers that was causing a lot of problems before, will try that one next and report back.

[2017-01-31 16:58] MihaiSurdeanu commented on #463
Awesome!

On Jan 31, 2017, 9:56 AM -0700, John A. Bachman <notifications@github.com>, wrote:

[2017-02-08 23:39] hickst opened #482 "Sparse use of KBs suggests embedded database"
We could save resources by using an embedded SQL database for the KBs, wrapped with an object cache for speed.

[2017-02-09 18:33] hickst opened #483 "Allow mentions-json output from ReachCLI"
Allow our cleaner, more straightforward JSON output (which we are calling `mentions-json`) to be generated by the ReachCLI driver program.

[2017-02-10 17:38] MihaiSurdeanu commented on #482
Now that I think about it, I think this would unfortunately not work for NER, which shares the same resources. To guarantee fast executions, all available strings must be loaded in memory, in a HashTrie...

Nevertheless, I think we should try to reduce the memory footprint of the KBs! Ideas?

[2017-02-10 18:09] hickst commented on #482
The Trie could just as easily be built from the DB as from flat files. And the Trie is not used by  Grounding, which currently uses about 20 additional in-memory hash tables to hold the 4M+ entries and the 4-8M+ keys, most of which could be eliminated with the embedded DB + a cache.

[2017-02-10 18:12] MihaiSurdeanu commented on #482
Good point about the additional hashes needed by grounding. How big are those?

[2017-02-13 19:23] hickst commented on #483
Closed by PR #484

[2017-02-13 19:23] #483 closed

[2017-02-15 17:10] hickst opened #487 "Reach compiler failure cites ai.lum class"
I'm trying to update Reach to use the newly released Bioresources 1.1.22 and Processors 6.0.3 but the updated build file won't compile the project. When Processors 6.0.3 is specified for Reach, it fails to compile, citing missing dependencies and mentioning `ConfigUtils.class` and `com.typesafe.config` (see compiler errors below).

Both Reach and Processors use version 1.2.1 of `com.typesafe.confi

[2017-02-15 19:24] hickst commented on #487
Some additional, possibly related, info: Reach is also using `ai.lum.nxmlreader 0.0.7` which, in turn uses, a very old version of `ai.lum.common`: **version 0.0.1!**
Thus, both 0.0.1 and 0.0.7 are being downloaded into the Ivy cache so perhaps the compiler is choking on this.

[2017-02-15 20:23] hickst commented on #487
Another datapoint:
5. I compiled a locally published Processors (6.0.4-SNAPSHOT) and then wiped the `.ivy/cache` completely and recompiled Reach against the snapshot: it worked! I'm very confused...perhaps the published 6.0.3 version of Processors is bad somehow?

Anyway, I would still suggest that we update all ai.lum libraries to use consistent dependencies and recompile against the updated ai.l

[2017-02-15 23:20] MihaiSurdeanu opened #488 "Use FastBioNLPProcessor in Reach"
Replace BioNLPProcessor with FastBioNLPProcessor in Reach.
Make sure tests pass. If they fail, try to align the output of the NN parser with the older output from the constituent parser.

[2017-02-16 02:29] hickst commented on #487
As we discussed, I will clone the ai.lum.nxmlreader project, update the dependency, test it and report back. If this fails to solve the problem we may try to re-release Processors.

[2017-02-16 05:19] myedibleenso commented on #487
Why would processors need to be re-released?  the nxml reader isn't a dependency of processors, right?

[2017-02-16 06:58] hickst commented on #487
Right, but if the update of nxmlreader doesn't solve the problem, then I have to assume that the Processors release is damaged somehow. Especially since 6.0.2 and 6.0.4-snapshot do not exhibit the problem.

[2017-02-16 06:59] myedibleenso commented on #487
Ah, got it.

[2017-02-17 02:16] hickst commented on #487
This is closed by pull request #489

[2017-02-17 02:16] #487 closed

[2017-02-17 19:06] hickst opened #490 "Test memory usage for grounding refactoring"
Perhaps this can be of use: https://github.com/jbellis/jamm

[2017-02-19 01:03] hickst commented on #490
Tried 4 different methods of testing this: 2 failed utterly. 1 was very rough estimate base on GC and memory allocation.
JAMM lib succeeded but still needs much more testing as the implementations differ in the number and root data structures of KB objects. Initial, rough measure reported:
1,246,808,136 bytes for master
1,384,729,816 bytes for grefac

[2017-02-19 21:41] hickst commented on #490
Retried the GC/memory alloc method and the results are **all over the map**, making it meaningless.

Refined the JAMM library method to report details. For the master branch:
[code]
and for the refactored branch:
[code]

[2017-02-22 02:10] hickst commented on #490
I'm surprised by how difficult it was to measure data structures in memory in the JVM. Assuming that we can trust the JAMM library numbers above (and I have no evidence one way or another), then the refactored grounding definitely increases memory consumption. This seems like another indicator that we should move to use a real (embedded) database (as per issue #482). However, I would still recomme

[2017-02-22 02:27] MihaiSurdeanu commented on #490
OK for me.

On Feb 21, 2017 7:10 PM, "Tom Hicks" <notifications@github.com> wrote:

[2017-02-22 07:56] hickst commented on #490
Closed by pull request #491

[2017-02-22 07:56] #490 closed

[2017-02-22 07:57] hickst commented on #354
Closed by pull request #491

[2017-02-22 07:57] #354 closed

[2017-02-22 07:57] hickst commented on #376
Closed by pull request #491

[2017-02-22 07:57] #376 closed

[2017-02-22 07:58] hickst commented on #382
Closed by pull request #491

[2017-02-22 07:58] #382 closed

[2017-02-22 19:35] hickst commented on #490
Note on usage of JAMM, since it must be run as a Java Agent:

`java -jar -javaagent:/Users/hickst/workspaceCLU/clulab/reach/main/lib/jamm-0.3.1.jar /opt/local/share/sbt/sbt-launch.jar 'run-main org.clulab.reach.ShowMemReachable'`

[2017-02-22 22:13] hickst commented on #477
Reviewed the design: decided it was fine. (3) has been resolved, (4) is only an issue if (1 & 2) are changed. Made only minor formatting cleanups and doc string additions.

Closed by pull request #492.

[2017-02-22 22:13] #477 closed

[2017-02-22 23:18] cl4yton commented on #452
Recheck: @marcovzla says fix to issue with documents taking too long to parse might have changed this behavior

[2017-02-22 23:30] cl4yton commented on #97
Coming... summer 2017

[2017-02-22 23:33] cl4yton commented on #347
@danebell: best way to fix is remove the test

[2017-02-23 00:15] hickst commented on #347
Closed by pull request #493.

[2017-02-23 00:15] #347 closed

[2017-03-06 03:00] hickst opened #494 "Create FRIES format extraction program for OHSU"
MS says:
This is very time critical. The output doesn't have to be biopax, or even JSON for that matter.
All we need is a one-time extraction procedure.

The output is anything we define, as long as it includes the fields requested by Ozgun: (https://github.com/PathwayCommons/pathway-cards/blob/master/convertor/src/main/java/org/pathwaycommons/pathwaycards/convertor/Constants.java)

The representa

[2017-03-07 18:11] hickst commented on #494
Closed by the initial release of the code in the reach-frext repository.

[2017-03-07 18:11] #494 closed

[2017-03-14 18:30] johnbachman opened #495 "Errors arising from binding11_token rule"
Hi guys, just anecdotally I found a few errors with this rule--in all of the below cases it takes a fragment referring to the "association between KRAS and BRAF mutations" to extract a statement that "KRAS binds BRAF." (KRAS *does* bind BRAF, so these extractions happen to be right but for the wrong reason.)

PMID20147967:  "Recent clinical data has shown a compelling association between K-Ras and

[2017-03-14 21:27] MihaiSurdeanu commented on #495
@johnbachman: thanks!

Should we disable "association between A and B" as a Binding rule?

[2017-03-15 15:13] johnbachman commented on #495
I will try taking a look at a sample of statements extracted by that rule and see what it's accuracy is more generally.

[2017-03-15 15:16] MihaiSurdeanu commented on #495
Thanks!
We definitely saw this rule perform well, especially for verbal predicates ("A associates with B").

[2017-03-15 15:18] bgyori commented on #495
I think this points to a more general issue that we discussed in #325 and I don't think it's specific to `association`. The issue, I think, is that the statement `the associations between KRAS and BRAF mutations` is not actually about `BRAF`, but about `BRAF mutations`. A similar omission leads to incorrect extractions in the examples I gave in #325.

[2017-03-15 15:36] MihaiSurdeanu commented on #495
@bgyori: I agree.

@danebell: Ben's example should be captured by your mutation rules + coref for mutations. Can you please check what's wrong?

[2017-03-15 15:37] MihaiSurdeanu commented on #495
@bgyori, @johnbachman: but beyond the mutation mistakes, is the pattern "association between A and B" actually indicating a Binding event? I think that is a separate question.

[2017-03-15 23:27] MihaiSurdeanu commented on #488
Giving up on this. Too many differences between the old context parser and the new dependency one.
The context parser is better at long distance dependencies than the new NN dependency one…

[2017-03-15 23:27] #488 closed

[2017-03-16 00:29] bgyori commented on #495
I think "association between A and B" does indicate physical interaction, for instance a real example is "The association between EGF and EGFR induces conformational changes...". One just has to be very sure that A and B are genes and not other, more complicated noun phrases that just contain a gene name.

[2017-03-20 16:08] danebell commented on #495
I don't think I was able to recreate this wrong extraction. That is, we do retrieve a binding between KRAS and BRAF in each case, and each time, the entity immediately preceding "mutations" is marked as a generic mutant (one we don't know the specific mutation(s) of). Should we remove events that involve such mutants, or is the mutation modification not making into your format of interest?

[2017-03-20 16:18] bgyori commented on #495
Dane, the issue is that the sentence "To identify the mutation rate of KRAS and BRAF in Chinese patients with colorectal carcinoma (CRC), and to analyze the **associations between KRAS and BRAF mutations** and patients ' clinicopathological characteristics"
isn't actually about KRAS and BRAF **binding**. It talks about a statistical association between **mutations**. So extracting that KRAS and BR

[2017-03-20 16:37] danebell commented on #495
Ah, I see. My first guess is that we should check for a conjunction between entities and non-entities, e.g. between `KRAS` and `patients' clinicopathological characteristics`, and if we find one, rule out a binding event. Does that sound reliable to you?

How about the counter-example, "This work investigations association between KRAS and BRAF and resulting effects on downstream apoptosis." inser

[2017-03-26 17:25] hickst opened #496 "Akka microserver for knowledge base queries"

[2017-03-26 17:41] hickst commented on #496
1 and 2 can be implemented now.
For 3, many KBs don't make this distinction. The Uniprot protein database does, but our Uniprot KB collects and mixes all entries from the recommended name, short names, alternative names, alternative short names, gene names, and gene name synonyms (and so does not distinguish among the sources). To implement 3, I would have to re-create our Uniprot KB, so I'm going

[2017-03-26 17:56] MihaiSurdeanu commented on #496
Thanks Tom!
How soon can you have something running?

[2017-03-26 18:02] hickst commented on #496
### An example from Uniprot: Q02750 (MP2K1_HUMAN):
**Protein names**
_Recommended name:_
-    Dual specificity mitogen-activated protein kinase kinase 1 (EC:2.7.12.2)

**Short name:**
-    MAP kinase kinase 1
-    MAPKK 1
-    MKK1

**Alternative name(s):**
- ERK activator kinase 1
- MAPK/ERK kinase 1

_Alternative Short name:_
- MEK 1

**Gene names**
- Name: MAP2K1
- Synonyms: MEK1, PRKMK1

[2017-03-26 18:08] hickst commented on #496
I think the previous example is fairly typical: there can be more than one "short name" and some alternatives may be more common than the official "short names" (e.g., it seems like I've seen 'MEK 1' a lot more than 'MKK1')

[2017-03-29 21:08] ozgunbabur opened #497 "Several wrong inferences"
During my experience with the REACH output from the last Big Run, I collected several of the cases where the inference was wrong. Please use them for debugging/improving the inference rules. Those errors are in the attached file.

[Some-errors.txt](https://github.com/clulab/reach/files/880379/Some-errors.txt)

[2017-03-29 21:42] ozgunbabur opened #498 "Missing handling of siRNAs"
Sentence from PMC3954793:

CSK siRNA decreased the phosphorylation of Src Y530 and dramatically increased the phosphorylation of Src Y419 following H 2 O 2 treatment ( XREF_FIG ) , which is in contrast to data obtained using SHP-2 siRNA .

From this sentence, REACH infers that "CSK phosphorylates SRC at Y419", but this is wrong. It is probably due to it misses the meaning of "siRNA" word. siRNA is

[2017-03-29 21:53] MihaiSurdeanu commented on #497
Thank you @ozgunbabur!

[2017-03-29 22:21] johnbachman commented on #498
"siRNA" is included as one of our negating suffixes in Bioentities: https://github.com/sorgerlab/bioentities/blob/master/gene_prefixes.csv

Not sure if these have been incorporated already?

[2017-03-29 23:06] ozgunbabur commented on #498
If it was incorporated already, then please use the below frext output for debugging.

[code]

[2017-03-29 23:30] hickst commented on #498
We did incorporate a heuristic to identify and strip prefixes and suffixes which were separated from the entity name by a dash (e.g. CSK-shRNA) but siRNA didn't fit that pattern so it probably isn't picked up.

[2017-03-30 00:29] ozgunbabur opened #499 "Author name confused with protein family"
In the below REACH output from PMC3533183, we see the author name (Lim et al.) is confused with the protein family name Lim. The "XREF_BIBR" in the sentence shows REACH has already recognized that part as a paper reference. But looks like it is still considered as an entity name.

[code]

[2017-03-30 03:26] MihaiSurdeanu commented on #498
We can (should) incorporate this in our polarity flipping module. @ozgunbabur: just to confirm: this event should be interpreted as negative-reg?

[2017-03-30 03:28] ozgunbabur commented on #498
Yes it should be negative-regulation.

[2017-03-30 03:29] MihaiSurdeanu commented on #498
Got it. This should be easy to fix.

[2017-03-31 23:37] ozgunbabur opened #501 "A sign error"
In the below output, the sentence says that PKCalpha does something by phosphorylating fascin (should be positive-regulation), but the sign is falsely inferred as negative-regulation probably because of the complexity of the sentence.

[code]

[2017-04-01 00:02] ozgunbabur opened #502 "Inference with both signs"
Below two inferred events are from the same sentence that tells Cdc2 is phosphorylating vimentin. The first event falsely predicts a "negative-regulation", while the second event seems correct. But why are there two events on the same sentence?

[code]

[2017-04-13 15:13] hickst opened #503 "Cleanup logging of KB loading"
Cleanup KB loading cycle -- possible redundant loading.

[2017-04-13 17:23] hickst commented on #503
Closed by pull request #504.

[2017-04-13 17:23] #503 closed

[2017-04-16 15:35] hickst commented on #496
This task closed by delivery of a new repository: [kbquery](https://github.com/clulab/kbquery).

A MySQL dump of the `kbqdb` database has been uploaded to Kate at this location:

/net/kate/storage/data/nlp/code/KBQuery/kbqdb-twelf_17-04-09_23.57_wKeys.sql

This dump file can be used to very quickly (3-5 minutes) load/reload all our KBs into an existing installation of MySQL. Follow the instruction

[2017-04-16 15:35] #496 closed

[2017-04-16 15:47] hickst commented on #499
I confirmed that this problem still exists in the current version of Reach. The input NXML file is attached (with a spurious `.txt` extension, as demanded by GitHub).
[PMC3533183.nxml](https://github.com/clulab/reach/files/924389/PMC3533183.nxml.txt)

[2017-04-16 15:53] hickst commented on #482
A proof-of-concept, using an external MySQL database, has been implemented as part of the [kbquery](https://github.com/clulab/kbquery) project. This could be ported to Reach for use with grounding and/or NER.

[2017-04-19 23:30] MihaiSurdeanu commented on #502
@ozgunbabur: it seems to me that the first event is the correct one: "inhibited the phosphorylation of vimentin at Ser 55  and Ser 50  by Cdc2"? The text of the second one is included in the first text, so the second one should be wrong because it is incomplete.

@hickst: can you please make sure that this is not a translation error from FRIES to this format? If not, please let @danebell. @danebel

[2017-04-19 23:32] MihaiSurdeanu commented on #501
@danebell: this is a negation detection issue, where "inhibits" is incorrectly modifying "phosphorylating". If it's a syntax issue, not much we can do... BUT, it may be from our semantic negation detection code. Please check.

[2017-04-19 23:36] MihaiSurdeanu commented on #499
@hickst: this happens because we do not remove citations that are not properly marked in the NXML. However, we should handle this in BioNLPPreProcessor:

https://github.com/clulab/processors/blob/master/corenlp/src/main/scala/org/clulab/processors/bionlp/BioNLPPreProcessor.scala

We need a function similar to removeFigureAndTableReferences().

[2017-04-19 23:42] MihaiSurdeanu commented on #498
@danebell: can you please add "siRNA" to our lexicon that triggers flipping in the semantic negation code. See countSemanticNegatives() in:

https://github.com/clulab/reach/blob/38d2c4330e2ec8064a2829288a3c7b42b844eeef/main/src/main/scala/org/clulab/reach/darpa/DarpaActions.scala

"siRNA" is actually in SEMANTIC_NEGATIVE_PATTERN. So, what happened?
However, "siRNA" should apply only to the control

[2017-04-19 23:42] MihaiSurdeanu commented on #497
@danebell, @myedibleenso, @marcovzla: this is great material for the hackathon?

[2017-04-19 23:44] MihaiSurdeanu commented on #495
@bgyori, @johnbachman: so, what's the conclusion here?

[2017-04-19 23:46] MihaiSurdeanu commented on #480
I will close this. But I will start a new issue on using the faster parser.

[2017-04-19 23:46] #480 closed

[2017-04-19 23:47] MihaiSurdeanu opened #505 "expose the new FastBioNLPProcessor"
Add this to the Reach config, so external users can use it.

[2017-04-19 23:50] bgyori commented on #495
All I can say is that I still think problem can be reduced to #325. It is not a problem with the interpretation of "association" itself but rather with the fact that association is between A and B **mutations** rather than A and B (where A and B are two proteins).

[2017-04-19 23:51] MihaiSurdeanu commented on #448
We can't replicate this issue, so closing this for now.

[2017-04-19 23:51] #448 closed

[2017-04-19 23:57] myedibleenso commented on #325
The consensus at this point seems to be to try @danebell's **possible approaches 1** (modifying the entity rules).

[2017-04-19 23:59] MihaiSurdeanu commented on #495
Syntactically, they look similar, but semantically they are different... What is the exact biology for the text "association between KRAS and BRAF mutations"? I'm not sure I get it...

[2017-04-20 00:04] bgyori commented on #495
It's not really about a biological mechanism at all but more about _statistical_ association.

For instance "Recent clinical data has shown a compelling association between K-Ras and B-Raf mutation status and response to EGFR blockade by cetuximab and panitumumab" means that there is some correlation between whether a patient has K-Ras and/or B-Raf mutation and whether the patient responds to drug

[2017-04-20 22:38] hickst commented on #502
I compared the original FRIES output with the Frext output and believe that Frext is faithfully translating the FRIES output. Here are the relevant text extractions from both outputs:
[code]

I'm not up to date on this but, to my naive eye, it looks like Reach is overgenerating event mentions, whether from some over-zealous rule or from a bad syntactic parse.

[2017-04-21 00:46] hickst commented on #499
@mihai Sorry, that's a bit ambiguous: should I remove all parenthesized expressions containing xrefs of type "bibr" or are there some citations that are "properly marked" and which should not be removed?

[2017-04-21 14:54] MihaiSurdeanu commented on #499
All citations should be removed. Text in parens confuses the parser.

On Thu, Apr 20, 2017 at 5:46 PM, Tom Hicks <notifications@github.com> wrote:

[2017-04-22 07:41] hickst opened #506 "TestJSONSerializer fails with released Processors 6.0.5"
@myedibleenso I think we discussed this particular issue before but the problem is still around and it means the Reach master tests don't pass with the currently released Processors 6.0.5.

[code]

[2017-04-22 18:34] hickst commented on #499
Closed by Processors pull requests 146 (fix) and 147 (tests).

[2017-04-22 18:34] #499 closed

[2017-04-22 18:37] hickst commented on #463
@johnbachman How did the tests go? Can we close this issue?

[2017-04-26 16:11] hickst commented on #482
Renaming this issue as the goals are expanding:
1) normalize data tables for efficiency
2) retest embedded database(s)
3) make Slick queries more efficient or replace them

[2017-04-26 20:23] myedibleenso commented on #506
@hickst, the tests have been fixed on the `json-fix` branch.  I've only run the `TestJSONSerializer` suite (all of these tests now pass), so I am still unsure if upgrading to processors v6.0.5 breaks anything else.

[2017-04-26 20:30] danebell commented on #502
I believe this is a case of an unusually bad parse. `inhibited` is assigned both an `nsubj` outgoing to `EGCG` and an `nsubjpass` outgoing to `Cdc2`. In principle, in cases where a single entity is the controller of both a `Positive_regulation` and a `Negative_regulation`, we could eliminate one or both of the events to stay consistent, but choosing which event to keep is a challenge I don't have

[2017-04-26 21:23] #506 closed

[2017-04-26 23:23] MihaiSurdeanu commented on #502
@danebell: add this constraint:
- If the bigger event completely dominates the smaller one (by span), and the smaller is the Controlled in the bigger one, then don't allow them to have the same Controller. Drop the bigger event in this case.
Please add this as a constraint. Plus a unit test for this sentence :)

[2017-04-26 23:30] danebell commented on #495
Closed with pull request #507

[2017-04-26 23:30] #495 closed

[2017-04-26 23:39] hickst opened #509 "Frext-style output should be added as another output format in Reach"
Frext eliminates the 3 separate output files used by FRIES, which is very handy, and eliminates the "squashing" of nested relations.

[2017-05-06 02:38] johnbachman commented on #463
Hi, so I just did another large reading job and I had one paper that caused REACH to hang--it was text extracted from Elsevier so it's a bit garbled. The paper is PMID17032502, I sent the text to @hickst by email to keep it out of the public domain. I saw a few others that caused REACH to issue errors but I'll have to go through the logs to find them all.

[2017-05-09 15:50] hickst opened #510 "Investigate special XML input format"
Investigate special XML article format for collaborators: can sufficient coherent article text be extracted and processed?

[2017-05-12 18:25] #510 closed

[2017-05-13 01:15] hickst opened #511 "Help Sameer Pradhan apply Reach"
Sameer stated issue:

[2017-05-25 21:41] marcovzla opened #512 "windows friendliness"
replace `${HOME}` with `${user.home}` in config files

[2017-05-25 21:59] marcovzla commented on #512
also seen on windows:

[code]

[2017-05-25 23:37] hickst commented on #512
I haven't programmed on Windows in 25 years but the first message looks like you it is telling you to substitute the Windows 'user.home' variable for all uses of Unix 'HOME' variable. A quick grep of Reach shows that HOME is only used in the main/src/main/resources/application.conf and main/src/main/resources/application.conf files to setup the paths to documents and KB files. The bad paths to tho

[2017-05-25 23:39] hickst commented on #512
I haven't programmed on Windows in 25 years but the first message looks like it is telling you to substitute the Windows 'user.home' variable for all uses of Unix 'HOME' variable. A quick grep of Reach shows that HOME is only used in the main/src/main/resources/application.conf and assembly/src/main/resources/reference.conf files to setup the paths to documents and KB files. The bad paths to those

[2017-05-26 03:38] bgyori opened #513 "New labels causing errors"
The rule
[code]
with Domain being at the top level of the taxonomy (right next to Site) causes the shell to crash on the sentence `GRB2 has an SH2 domain`:
[code]

[2017-05-26 03:47] myedibleenso commented on #513
@danebell, I think this `Mention` isn't being grounded, but `Coref` is expecting it to be.  As an extension, one option may be to bypass the current extractor engines and the rule in run another engine instance that is initialized with their output.  I suspect the `Mention` will still need a (UAZ) grounding to be compatible with the rest of the system.

[2017-05-26 04:06] johnbachman opened #514 "Rule sensitive to specific entities"
With this rule, intended to capture metabolic reactions:

[code]

The following sentence works:

```KRAS converts BRAF to MAP2K1.```

but this one doesn't work:

```GAPDH converts NAD+ to NADH.```

In both cases all entities appear to be recognized as BiochemicalEntity-s.

[2017-05-26 04:11] bgyori opened #515 "Reload rules without reloading resources"
When changing a rule, currently, the shell needs to be fully restarted (takes a minute or two) before the changes can be tested. Is it possible to add functionality that can reload the rules while the shell is still running?

[2017-05-26 04:16] bgyori commented on #515
I realize this is the same as #53. Well, here is a +1 for reintroducing this feature :)

[2017-05-26 04:25] myedibleenso commented on #515
## Notes on required changes

- add `jar://`, `file://`, and possibly `url://` prefixes to imports to better discern location of grammars.

[2017-05-26 04:31] johnbachman opened #516 "Positive_activation_syntax_1_verb misclassifies a catalysis as a positive activation"
The sentence

```GAPDH catalyzes the conversion of glyceraldehyde-3-phosphate to 1,3-bisphosphoglycerate```

Leads to an extraction of a positive activation event by ```Positive_activation_syntax_1_verb```, with GAPDH as the controller and glyceraldehyde-3-phosphate as the controlled. However GAPDH is actually here catalyzing the reaction that *consumes* glyceraldehyde-3-phosphate and *produces* 1

[2017-05-26 06:55] myedibleenso commented on #516
closed by #517

[2017-05-26 06:55] #516 closed

[2017-05-26 18:08] danebell opened #518 "Grounding issues for unexpected labels"
I'm working with Ben Gyori and John Bachman to create some new labels (and accompanying rules), but the new entity types we create are not grounded. It would be fine if they received an AZ id, but they get no grounding at all. I can't see how this is happening. For example, in `taxonomy.yml`, we add a top line `- Domain`, and we additionally add a file `entities/domain.yml` containing:
[code]

The

[2017-05-26 18:28] #513 closed

[2017-05-26 18:47] hickst commented on #518
AFAIK, at present, Reach does not have the ability to arbitrarily add new labels. Grounding has been implemented, per MS' design, to recognize a limited and fixed set of labels, which are assigned to mentions by the NER before grounding is every called. Since the NER is based on a trained CRF, it is my understanding that adding new labels would require re-training the CRF which, in turn, would be

[2017-05-26 19:11] hickst commented on #518
Having said that (previous comment), in `ReachEntityLookup.scala` any `BioTextBoundMention` whose label does not match one of the current fixed labels, should be given some grounding id:

https://github.com/clulab/reach/blob/master/main/src/main/scala/org/clulab/reach/grounding/ReachEntityLookup.scala#L39-L56

[2017-05-26 19:19] marcovzla commented on #512
These two problems are unrelated. Reach doesn't work on windows if the home variable used is `${HOME}`. I replaced it to `${user.home}` so that it runs, but now I am getting the exception I pasted above.

[2017-05-26 19:29] hickst commented on #512
More information....which version of Java?

[2017-05-26 20:06] danebell commented on #518
@hickst The fact that some grounding id should be assigned is exactly what is confusing me. Somehow this isn't working as expected, since this entity never gets grounded.

In these cases (so far at least), we are trying to find limited set of entities recognized not through the NER but rather only through rules, similar to how mutations are recognized, so there is no need to alter the NER or biore

[2017-05-26 20:16] marcovzla commented on #512
1.8.0_91-b14

[2017-05-26 20:18] marcovzla commented on #512
windows ☹️

[2017-05-26 21:46] hickst commented on #512
I still think the problems are related. This is the type of error that might be expected if the grounding code of Reach cannot find the KB files to load on startup. The initial error indicated that they couldn't be found because of the HOME variable but maybe they still can't be found via the config path OR they can't be found because of some other path/file reading problem...

[2017-05-26 23:50] johnbachman commented on #515
Another +1!!

[2017-05-27 15:45] hickst commented on #518
It's important to understand that grounding is not the component which recognizes entities -- it is simply the component which assigns previously recognized biological entities an ID (when possible).
If `palpatine` is really a biological noun phrase component, then you need to add it to the Bioresources KBs so that the NER will recognize it as such.

Note in the tested examples below that all NER-

[2017-05-27 15:45] #518 closed

[2017-05-30 00:39] hickst commented on #482
5. Add functionality:
    a. additional Reach transforms, configurable per label type
    b. add `rlookup` method taking additional `label` argument, i.e. `rlookup(text, label)`

[2017-05-30 18:28] hickst commented on #512
MS says Windows version is of very low importance, so closing this issue as "unsolved" for now.

[2017-05-30 18:28] #512 closed

[2017-06-01 23:43] MihaiSurdeanu commented on #505
Done

[2017-06-01 23:43] #505 closed

[2017-06-02 14:06] #511 closed

[2017-06-09 20:07] myedibleenso opened #527 "Context as a subproject?"
I think we should seriously consider making the context work a subproject (see `assembly`, `export`, etc.).

[2017-06-09 20:08] MihaiSurdeanu commented on #527
+1

[2017-06-09 21:59] enoriega commented on #527
I agree too.

[2017-06-11 20:54] enoriega opened #528 "REACH doesn't respect thread limits"
running ReachCLI doesn't respect the value assigned to the `threadLimit` setting in `application.conf`

[2017-06-11 22:22] hickst commented on #528
What makes you say that? Can you provide some more information to illustrate that?

[2017-06-13 22:11] hickst opened #529 "Update Reach JSON serialization"
Some initial work in branch `jsonupdate`

JSON serialization in Reach is broken by the restructuring of base code in Processors. I need Reach to compile and pass tests with the latest (6.0.6-SNAPSHOT) version of Processors. I started to update Reach but got stuck by missing (obsoleted?) JSON methods.

[2017-06-13 22:32] enoriega commented on #528
I ran a big job on multiple servers and despite specifying a particular value to the setting, it uses more threads in all of them

[2017-06-13 23:01] hickst commented on #528
Yes, I've glimpsed that pattern myself. Did you happen to see how many of the threads were active (vs blocked) at one time? I read somewhere that the ForkJoinPool is capable of spawning new threads to compensate for blocked threads (thus exceeding our limit?) *but* I don't believe that we've configured it to do this.

[2017-06-14 00:39] hickst commented on #528
I'm stymied: Our code uses a class called `scala.concurrent.forkjoin.ForkJoinPool` but I cannot find any documentation or source code for this class (or its package!) in Scala 2.11. The entire package is listed in Scala 2.12 docs as `deprecated`. So, I don't know where this class is being found when we compile.

[2017-06-17 05:11] myedibleenso commented on #529
Ah, didn't notice the branch you mentioned...oops.  Anyway, I've fixed this on [`proc6.0.6`](https://github.com/clulab/reach/tree/proc6.0.6) in commit 2c55e56eeefd7d6854cfad91ffd49568ccca07c2

[2017-06-17 14:55] hickst commented on #529
Thanks @myedibleenso ! I merged these fixes into my current working branch so I am going to close this issue (but not yet remove this branch).

[2017-06-17 14:55] #529 closed

[2017-06-21 21:46] hickst opened #530 "Assist SRI with evaluation prep"

[2017-07-12 14:37] JohnGiorgi opened #531 "Best way to use REACH as a web-service"
Is there a 'best' way to use REACH as a standalone web-service?

Right now, we have just dockerized a fork of REACH that essentially calls the WebUI (see [here](https://github.com/jvwong/reach_docker)), but is there a better approach?

(Note we are aware of the API but would like to set up a local instance of REACH as a web-service!)

Thanks very much in advance.

[2017-07-12 17:25] MihaiSurdeanu commented on #531
@hickst?

[2017-07-12 18:00] hickst commented on #531
I'll need a little clarification about what you guys are trying to do....

Q1) What must your `web-service` do? It seems to me that you want the functionality of the Reach API (http://agathon.sista.arizona.edu:8080/odinweb/api/help) but you want to run this on your locally compiled version of Reach?

Q2) The `FileProcessorWebUI` interface you are using is one that Gus created for his own research

[2017-07-21 14:56] JohnGiorgi commented on #531
That is exactly what we would like to do. I am working on a project for the Bader Lab and we want to ensure our demo will work when it needs to (this is why the team feels a little more comfortable running it locally).

I did not know the `FileProcessorWebUI` interface was for internal testing, but that is good to know! At this point it is not incredibly important which output format we use, so lo

[2017-07-21 20:54] hickst commented on #531
It sounds like the Uber JAR may solve your issue. Please correct me if that is not the case. Also, please let me know if you need any additional assistance. You probably already know about this but, don't forget the [additional information available on the Reach Wiki:](https://github.com/clulab/reach/wiki)

[2017-07-21 20:54] #531 closed

[2017-08-02 15:03] JohnGiorgi opened #535 "Issue with compiling single FAT JAR"
As per the suggestion in #531, I tried to compile a single FAT JAR using `sbt assembly`.

The error I get is:
[code]
The error is shown muliple times. I tried clearing `/Users/johngiorgi/.ivy2/cache` but this did not fix the problem. Any Idea how I might fix this? Thanks so much in advance!

Here is (what I imagine) the useful output when the error occurred:

[code]

[2017-08-02 18:47] hickst commented on #535
Thanks for catching this. We had forgotten to update a resource area when we updated one of the libraries that Processors depends on. It passed all our code tests because the clash **only** happens when one tries to create the FAT JAR.

Unfortunately, until we release the next Processors and Reach versions, you will have to compile (and use) your own local, SNAPSHOT version of Processors. To do th

[2017-08-02 18:47] #535 closed

[2017-08-02 19:32] hickst commented on #530
Closing this as accomplished by the Explorer API enhancements of June 30th.

[2017-08-02 19:32] #530 closed

[2017-08-08 13:41] JohnGiorgi opened #536 "In reference to #535 and #531"
@hickst
I was able to successfully create the FAT JAR (as per your instructions in #535). I just need some direction with running the JAR and accessing the service.

Currently, I am running the jar from the command line by calling:

`java -cp reach-gordo-1.3.5-SNAPSHOT.jar org.clulab.reach.RunReachCLI`

Which seems to do the trick, here is the output:

[code]
__I then have two questions__:

1) Is

[2017-08-08 15:14] hickst commented on #536
Hi John,

1. It is **one** correct way to run Reach: you are running the 'main' program to run a "batch" job; which processes multiple papers in NXML format from a specific directory (specified in the `application.conf` file). The resulting output files are written to a specific output directory (also specified in the `application.conf` file).

2. But, the JAR file contains multiple 'main' program

[2017-08-08 15:20] JohnGiorgi commented on #536
Hi Tom,

Thanks for the quick response. I tried running `org.clulab.reach.export.server.FileProcessorWebUI` but got this error:
[code]

I do not know anything about Akka. Is there an obvious mistake I am making? __I see this__: `Detected java.lang.NoSuchMethodError error, which MAY be caused by incompatible Akka versions on the classpath` but as far as I know, there is no instance of Akka in my cl

[2017-08-08 18:15] hickst commented on #536
Oh drats....we just recently added some more code that uses Akka and that must have caused this problem. I apologize; I know it's probably annoying but we appreciate your help in eliminating these FAT JAR related issues.

I'm pretty sure I understand the issue and it will require us to update some portion of the code. I will file a separate issue for this and will probably take us a day or two to

[2017-08-08 18:17] JohnGiorgi commented on #536
@hickst
No worries at all, I will hang tight until that fix is pushed.

Thanks again for all the help!

[2017-08-08 18:24] hickst opened #537 "Update Akka version in Assembly module"
The Akka version used in the Assembly module (2.4.3) is getting rather old. We have since used a newer version in the Reach processors core client (2.5.2) and this is causing runtime incompatibility errors, but only when running from the FAT JAR.

We need to update the version used by the Assembly module. We should also update the `akka-http` library (used by the `export.server.FileProcessorWebUI`

[2017-08-16 15:52] hickst commented on #536
Hi John,

I've updated Reach to allow you to produce a FAT JAR which directly runs the embedded file processing server. Basically, you will repeat the steps you did before to locally compile the latest version of Processors and then compile a Reach FAT JAR (using an additional flag) from our latest development branch.

To compile (and use) your own local, SNAPSHOT version of Processors (you've pro

[2017-08-16 16:33] JohnGiorgi commented on #536
Hi Tom,

Thanks so much, I followed your above steps and I was able to get the sever up and running without any trouble. I really do appreciate all the help!

Once the server is up and running, am I able to interact with Reach using a RESTful interface? (as opposed to uploading documents via the webUI).

[2017-08-16 17:19] hickst commented on #536
Hmmm.....looking at the code for this little server, it appears very form-oriented (remember, it was built for our own quick and dirty research purposes). I will write to you offline so we can discuss what your needs are and whether there are some alternatives.

[2017-08-16 23:28] hickst commented on #537
Completed by commit 0893e5c9a638576ed9a53e328f95d8d9d0315ad6 and awaiting integration into Reach from the proc6.0.8 branch (which is dependent on upcoming Processors 6.0.8).

[2017-08-16 23:28] #537 closed

[2017-08-24 15:44] bgyori opened #538 "Depletion ignored in double-negative event"
The stem of "deplete", "depletion", etc. should be added to this line:
https://github.com/clulab/reach/blob/38d2c4330e2ec8064a2829288a3c7b42b844eeef/main/src/main/scala/org/clulab/reach/darpa/DarpaActions.scala#L361
to correctly parse a sentence like "EEEB reduced GSH depletion".

[2017-08-24 16:37] MihaiSurdeanu commented on #538
I agree!

@hickst: can you please add "deplet" to the regex?
@bgyori: any other obvious ones we're missing?

[2017-08-24 21:39] myedibleenso commented on #538
Makes sense, but let's review a couple of examples of shell output to ensure this change looks good to everyone.

[2017-08-24 21:43] hickst commented on #538
I'm not sure what are expected results for this issue. Ignoring the fact that Reach doesn't recognize EEEB (what is it?)....If I type any of the following into the Reach shell they all produce the same result: a `Positive_activation` mention via the `Negative_activation_syntax_1_verb` rule which recognizes only `GSH` as the 'controlled' entity:
[code]

[2017-08-24 21:45] myedibleenso commented on #538
@hickst, that sounds right.  I would expect the polarity to be flipped (reducing a reduction).

[2017-08-24 21:54] hickst commented on #538
OK, thanks!

[2017-08-24 23:09] hickst commented on #538
Issue closed by pull request #539

[2017-08-24 23:09] #538 closed

[2017-09-09 16:18] hickst opened #541 "Add SRI drug synonyms data"
Created SRI drug synonyms KB. Added KB to Bioresources, Processors, and Reach projects (**sri** branches). Added new SRI KB test.

[2017-09-09 16:20] hickst commented on #541
Closed by **sri** branch commits to Bioresources, Processors, and Reach projects.

[2017-09-09 16:20] #541 closed

[2017-09-13 21:50] hickst opened #544 "Run 3.5k files for SRI task"
Data files unzipped to /net/kate/storage/data/nlp/corpora/pmc_openaccess/sri_170913/nxml
Saving results in `fries`, `cmu`, and `arizona` output formats.
Using previously created `sri` branch in Bioresources, Processors, and Reach.

[2017-09-14 01:10] hickst commented on #536
OK, I've added an internal server to Reach that you can use to process files locally from the command line or shell script (using cURL), or through your local network. To use it, you need to download and compile the latest Reach (master branch) into a standalone FAT JAR and run the FAT JAR, as follows:

1. cd to your local working copy of Reach
2. check out the master branch: `git checkout master;

[2017-09-14 01:10] #536 closed

[2017-09-14 19:34] johnbachman opened #546 "REACH build error due to failed download of corenlp"
Hi there,

I get the following error when I try to build the latest reach (Fatjar). Any help appreciated. Thanks!

[code]

[2017-09-14 19:54] hickst commented on #546
I see this JAR (and the other Reach) JARs in Maven Central. I note that it is a download failure, as if you are having network problems reaching Maven Central. Do the other Reach JARs download?

I just tried a new "clean" installation on another computer and it downloaded the Reach JARs without problem:
[code]

This really looks to me like a problem contacting Maven Central but, in general, there

[2017-09-14 21:22] johnbachman commented on #546
Hmm. I got this error building johnbachman/indra_deps_docker on Amazon Codebuild (so presumably not a internet issue) and then reproduced it on my local machine. Because the docker build in indra_deps_docker starts from a clean ubuntu machine, it seems unlikely that it's an issue with the ivy cache...but I will try that on my local machine to see if that fixes it.

[2017-09-14 21:45] hickst commented on #546
I'm not familiar with Amazon Codebuild but is it possible that they use their own repository servers (and not Maven Central where our artifacts are located)?

Looking at the error message you posted above it  looks to me like `sbt` is sayIng "Hey, I can't find and/or download the processors-corenlp_2.11.jar file" and, since that JAR file *is* available from Maven Central, it doesn't seem like a pr

[2017-09-15 16:55] johnbachman commented on #546
OK, interesting. On my local machine when I blew away the .ivy2 cache I was able to build successfully. Not sure why this would be failing on AWS given that it starts the build from a clean slate. Hmm.

[2017-09-15 17:00] johnbachman commented on #546
Here is the procedure we have for installing Java, SBT, and REACH on our docker image (see https://github.com/johnbachman/indra_deps_docker/blob/master/Dockerfile):

[code]

[2017-09-15 17:03] johnbachman commented on #546
In the Amazon build logs, I noticed the following earlier line when it was resolving locations of everything:

[code]

[2017-09-15 17:19] johnbachman commented on #546
Looks like it worked! Must have been some kind of temporary issue.

[2017-09-15 17:19] #546 closed

[2017-09-15 18:15] hickst commented on #546
Great! Always glad to hear when a problem goes away.
     cheers,
        -t

[2017-09-16 03:20] hickst commented on #544
The papers, results, some info about the run(s), and the gzipped TAR file of the results directory are in:
`/net/kate/storage/data/nlp/corpora/pmc_openaccess/sri_170913`

[2017-09-16 03:20] #544 closed

[2017-09-21 03:10] hickst opened #547 "Shutdown Akka system on main exit"
Actors keep going after main program(s) exit and so process doesn't end.

[2017-09-24 21:26] hickst commented on #547
This task is postponed by the design decision to move the Core Client Server into Processors.

[2017-09-25 19:54] pagreene opened #549 "Reach jarfile not using given config file."
We create a jar file to run reach (for portability), using the following in the top reach directory:
[code]
(Thus sudo is supposedly not needed, but sbt won't run on my system without it) We would then like to be able to run the script via
[code]
This has worked with previous versions of reach, however, it does not work for 1.3.4 or 1.3.5. I have verified that the conf file is valid, by running (s

[2017-09-26 14:02] JohnGiorgi opened #550 "Internal Reach Server shutdown when GET/POST request made"
@hickst

First of all, thanks very much for setting up the internal server to Reach - it is much appreciated.

I am able to compile the fat jar (`sbt -DmainClass=org.clulab.reach.export.server.ApiServer assembly`) and run the jar (`java -jar reach-1.3.5-SNAPSHOT-FAT.jar`) but when I hit the server with some text it shutdown. Here is the output around when things go wrong (I am not sure what is imp

[2017-09-26 14:13] hickst commented on #550
I believe this is a problem with a default parameter setting that is too low for some input files. I will fix this issue in the next release but, for now, the workaround is to simply set the parameter 'askTimeout' in the file 'reach/main/src/main/resources/application.conf' to some large value: 28800 for example.

Also, the amount of memory that the system requires seems to have gradually crept up

[2017-09-26 14:36] JohnGiorgi commented on #550
Okay,

I tried both suggestions,

1. running reach like: `java -Xmx6G -jar reach-1.3.5-SNAPSHOT-FAT.jar`
2. updating `askTimeout` in `reach/main/src/main/resources/application.conf` to 30000

but I get the same shutdown after my first POST/GET tot he server.

As per your other suggestion, how exactly do I run the jar with `sbt`? (sorry if this is a silly question, a quick google search didn't lead

[2017-09-26 16:51] hickst commented on #549
Bypassing the Reach build file is contra-indicated and discouraged. In this particular case, setting `mainClass` is not even necessary as the default `mainClass` is exactly what you want (`org.clulab.reach.RunReachCLI`). You can set another class to build by using the `-DmainClass` flag to `sbt` at build time. Please see the Wiki page on building a FAT JAR: https://github.com/clulab/reach/wiki/Usi

[2017-09-26 17:16] hickst commented on #550
That incantation looks good but, just to confirm...you did compile the standalone FAT JAR with the main class for the server, like this, right?:

```sbt -DmainClass=org.clulab.reach.export.server.ApiServer assembly```

Are you sure they are the **same** errors, since the error messages you showed originally are for a timeout of 180 seconds and you should not see that same timeout happen again if y

[2017-09-26 17:33] JohnGiorgi commented on #550
Ahh... this sentence:

Made me realize I had not recompiled after changing `askTimeout`.

I am now up an running, thanks so much for your help!

[2017-09-26 17:42] bgyori commented on #549
Hi Tom, thanks! Passing -Dconfig.file is working. However, unexpectedly, I found that after REACH is done reading all the papers in the input folder, it doesn't exit, and keeps waiting. Is this the expected behavior? Is there a way to configure REACH CLI so that it exits when done?

[2017-09-26 19:35] hickst commented on #549
Yea....this is a known problem: https://github.com/clulab/reach/issues/547 resulting from the Akka server threads remaining active and preventing the JVM from exiting. I was investingating a solution but the coordination was too complicated and we concluded that we needed a larger code refactoring anyway. We anticipate that the code refactoring will eliminate the issue but it will be awhile before

[2017-09-26 20:09] bgyori commented on #549
Alright, do you know what would be the latest REACH commit that we could use which doesn't suffer from this issue?

[2017-09-26 20:40] hickst commented on #549
Unfortunately, it was awhile ago.....late July....and I wouldn't recommend dropping that far back.

If this is an issue which has a big impact on you, we can do one of two things:
1) Investigate a workaround or special version tailored to your needs (and we'll have to discuss what those are, of course)
OR
2) If you have some time flexibility, I can make the refactoring a top priority (and you'll h

[2017-09-26 21:17] bgyori commented on #549
Thanks for the suggestions! Based on what I know has changed, it wouldn't be a huge problem to drop back to v1.3.4, which is from July. However, I've been having trouble building that version, with sbt assembly erroring due to a merge conflict for a dependency. If you prefer I can edit this comment and spin this off into a separate issue.

[code]

[2017-09-26 21:54] hickst commented on #549
This has to do with some resources internal to the Malt parser whose version has to match the version of Malt used. Since you are reverting Reach you have to revert (and locally compile) Processors. In reviewing the checkins, I believe you have to revert Processors to version 97f4f79e1bc022cee38f733dcc3e3916a8ce4f81 or earlier.

But I still think this is opening a can of worms. Unless you have abs

[2017-09-27 03:34] bgyori commented on #549
I managed to make a custom build that includes the latest Bioresources (important for us) and builds off of REACH 1.3.3 (which is fine for now). We'll keep monitoring #547 and update to the latest REACH once there is a fix for that. Thanks for your help!

[2017-09-27 06:37] #549 closed

[2017-09-28 16:14] JohnGiorgi commented on #550
I am having an issue with POST requests to the local running instance of Reach.

GET requests work fine, and return the expected output. However with a POST request that looks something like the following:

__Headers__
Content-Type: application/x-www-form-urlencoded
output: indexcard
__Body__
text: p53 binds to mdm2

I get an error : `Request is missing required query parameter ‘text'.`

Is there

[2017-09-28 20:06] hickst commented on #550
Have you seen the POST examples on the server's own [API documentation](http://localhost:8080/)? There are several examples there of POSTing from a text file using cURL.

Are you saying that you are POSTing, but not from a file? If so, where is your data coming from and what software are you using to do the POST?

[2017-09-28 22:00] hickst opened #551 "POST requests with arguments in POST body"
Six hours ago John Giorgi wrote:

[2017-09-28 22:00] hickst commented on #551
Have you seen the POST examples on the server's own API documentation? There are several examples there of POSTing from a text file using cURL.

Are you saying that you are POSTing, but not from a file? If so, where is your data coming from and what software are you using to do the POST?

[2017-09-28 22:02] hickst commented on #550
Opened new issue #551 for different problem. Re-closing this issue.

[2017-09-28 22:02] #550 closed

[2017-09-29 00:05] hickst commented on #551
Capability was added and issue closed by pull request #552

[2017-09-29 00:05] #551 closed

[2017-09-30 00:09] JohnGiorgi commented on #551
It works, thanks a lot!!

[2017-10-10 16:05] bgyori opened #554 "ReachCLI not picking up .txt files"
We used to rely on the ReachCLI picking up both .nxml and .txt files for reading. This was changed a while ago in this commit: https://github.com/clulab/reach/commit/7efbccb79fb91cbb6779994d2cf1c03ccd13a9af, which effectively results in skipping .txt files. If I were to make a PR that adds `txt` to the regexp, would you merge it? Or is there some reason why that would be a problem?

[2017-10-10 16:19] MihaiSurdeanu commented on #554
@bgyori: that sounds like a bug. I began a discussion in the commit above about this.

[2017-10-10 18:32] myedibleenso commented on #554
Oops!  Sorry to have inadvertently broken your workflow, @bgyori.  That pattern should be modified to gather all files matching formats that we support.

I think leaving out `txt` at the time was just an oversight.

[2017-10-12 21:38] adarshp opened #556 "Mixed-up fields in CMU output"
While looking through some REACH output exported in the CMU format,  I came across entries that have the fields mixed up. I’ve attached a (non-exhaustive) list of them with this post. They do not comprise a large fraction of the data, but I thought it might be good to bring it to your attention nonetheless. The file ‘MalformedEntries.txt’ has the entries that have wrong values for the fields “Data

[2017-10-12 21:57] MihaiSurdeanu commented on #556
Thank you!

@hickst: when you're back, can you please take a look?

[2017-10-12 22:22] adarshp commented on #556
No problem. It seems that for the first two documents in the list, it seems that the malformed entries come from a section called 'List of abbreviations used':

https://www.ncbi.nlm.nih.gov/pmc/oai/oai.cgi?verb=GetRecord&identifier=oai:pubmedcentral.nih.gov:1198222&metadataPrefix=pmc

https://www.ncbi.nlm.nih.gov/pmc/oai/oai.cgi?verb=GetRecord&identifier=oai:pubmedcentral.nih.gov:1382219&metadataP

[2017-10-12 22:29] adarshp commented on #556
Here is the tsv output from the REACH web service (http://agathon.sista.arizona.edu:8080/odinweb/uploader) processing the paper with PMID 1198222.

[PMID 1198222 REACH tsv output](https://github.com/clulab/reach/files/1380902/pmc_xml_file_171012-144729.txt)