[2017-10-13 23:35] enoriega opened #557 "REACH stalling when running second time"
Whenever I try to run ReachCLI, it doesn't close and I have to kill it. When I try to run it again it stalls when it reaches the point where it should start processing the nxml files.

This seems related to issue #547

[2017-10-18 17:16] hickst commented on #547
Interrelated to processors issue https://github.com/clulab/processors/issues/183
and is, therefore, also high priority.

[2017-10-18 19:37] hickst commented on #554
When I saw this issue I thought "Hey, I fixed that about a month ago (and in a couple of places)". I was right: I did fix it but, unfortunately, I forgot to pull the code into `master` from the development branch.

[2017-10-18 21:03] myedibleenso commented on #554
@hickst, why was this reopened?  The fix was already merged...

[2017-10-18 21:04] hickst commented on #554
OK, should be fixed by pull request #558.

[2017-10-18 21:04] #554 closed

[2017-10-30 15:26] pvtodorov opened #559 "Only identifies one interaction from a list of interactions in a sentence"
I get different outputs from REACH when processing the following sentence with and without the use of a serial comma:

With serial comma
`GRB2 binds SOS1, GAB2, CBL, CRKL and PTPN11.`
Without serial comma
`GRB2 binds SOS1, GAB2, CBL, CRKL, and PTPN11.`

With the serial comma, only the interaction of GRB2 binding SOS1 is identified, and the `"trigger":"binds"` appears only once in the `reach_output

[2017-11-15 17:52] MihaiSurdeanu opened #562 "Compare BioCluProc with FastBioNLP"

[2017-11-16 03:35] hickst commented on #557
Solved by pull request #561

[2017-11-16 03:35] #557 closed

[2017-11-16 03:35] hickst commented on #547
Solved by pull request #561

[2017-11-16 03:35] #547 closed

[2017-11-16 19:28] hickst opened #563 "Update Reach documentation for 1.4.0"
Review/update Wiki pages on how to run Reach.

[2017-11-21 00:07] JohnGiorgi opened #564 "Using Reach from a FAT JAR"
I am having an issue using reach from a FAT JAR. Following the instructions on the [wiki](https://github.com/clulab/reach/wiki/Using-Reach-from-a-FAT-JAR), I ran

[code]

And then
[code]

Judging by the output, the issue begins with this line:

[code]

I am not sure how to debug the issue. Any advice? (tried some simple stuff like freshly installing `sbt`).

Full output for reference:

[code]

[2017-11-21 01:33] hickst commented on #564
I'm sorry John: you are the first (but not the last, I suspect) to be caught by the total separation of our Client and Server pieces within Processors. (I have it on my list to update the documentation when I return from my current week of vacation but you were quicker to update than I anticipated).

Basically, to run Reach now, you need to start a Processor Server in a JVM and then start Reach in

[2017-11-21 16:40] JohnGiorgi commented on #564
_Please do not worry about answering me until after your vacation!_

Hi Tom,

Thanks for the quick response. Unless I am doing something seriously wrong (which is entirely possible) I cannot get either of the methods you mention to work.

__(1) Running from the command line__
[code]

__(2) Running using the FAT JAR__
[code]

Both give me errors (which are a little cryptic to me, listed below for r

[2017-11-21 21:49] hickst commented on #564
__(1) To run from the command line you should use the shell script `runReachCLI.sh`:__

[code]
If you look at the contents of `runReachCLI.sh` you will see that it starts the Server for you, then starts Reach for you (which starts the Client).

__2. Running from FAT JARs__

The commands you show look good, as far as they go. And the log messages show that both Server and Client successfully starte

[2017-11-21 21:52] hickst commented on #563
Updated today (11/21/17) https://github.com/clulab/reach/wiki/Using-Reach-from-a-FAT-JAR

[2017-11-21 21:52] #563 closed

[2017-11-22 14:53] JohnGiorgi commented on #564
I was careful to configure the `application.conf` to point to my input directory (`papersDir`), but just in case I repeated all steps above after ensuring `application.conf` was set.

Reach seems to think my `papersDir` is empty? Could the issue be that my input files are raw text? [This](https://github.com/clulab/reach/wiki/Supported-Input-Formats#txt-files) link seems to suggest that is okay.

H

[2017-11-22 20:31] hickst commented on #564
I didn't realize you were using text files and, when I tried one, it also failed to process. Thanks for finding this issue: we thought we had fixed this a few weeks ago. This should be fixed now. Please pull the latest version of Reach and try again.

[2017-11-26 01:03] JohnGiorgi commented on #564
Okay great - that worked! Thanks for all of your help.

I do have one more lingering question but I think its best if I open a new issue.

[2017-11-26 01:03] #564 closed

[2017-11-26 01:07] JohnGiorgi opened #567 "Get output in BRAT Standoff format?"
@hickst

I noticed the following lines in `application.conf`

[code]

However after running a batch job with reach, I do not see this folder or the output from reach in the BRAT-standoff format. I also can't find any documentation on this in the wiki.

How would I go about getting the output from a batch job with reach in the brat-standoff format? This would be awesome for my workflow. Thanks in a

[2017-11-26 02:23] MihaiSurdeanu commented on #567
Hi John,

Unfortunately, we no longer support the Brat format. We just don't have the resources to do it. But we would welcome help if you want to volunteer :). Any of the formats in:https://github.com/clulab/reach/tree/master/export/src/main/scala/org/clulab/reach/export
could serve as a starting point...

[2017-11-27 08:14] myedibleenso commented on #567
@JohnGiorgi, most of the work has already been done.

Brat standoff can be produced from Mentions using the following method call:

- https://github.com/clulab/reach/blob/master/main/src/main/scala/org/clulab/reach/brat/Brat.scala#L116

[code]

The one problem with this is that the code can produce invalid Brat [standoff](http://brat.nlplab.org/standoff.html) (see #383).

When dumping to Brat stan

[2017-11-27 21:09] myedibleenso opened #569 "Update README and Wiki"
With the switch to the client-server architecture, the README and wiki are in need of updating.

[2017-11-27 22:40] hickst commented on #569
Closed by commit e9657. Updated README, CHANGES, and 2 Wiki pages:
https://github.com/clulab/reach/wiki/Running-REACH
https://github.com/clulab/reach/wiki/Using-Reach-from-a-FAT-JAR

[2017-11-27 22:40] #569 closed

[2017-11-30 04:13] myedibleenso opened #570 "Strange behavior with thread-limited parallelization"
Based on behavior observed in a recent run, @danebell reported that `reach` doesn't seem to be making use of the `nThreads` configuration property.  With the switch to the Akka client-server system, are we being trumped by a hard-coded limit elsewhere, @hickst?

[2017-11-30 06:53] hickst commented on #570
No, we can't blame Akka for this: it was a problem before that....see issue #528
I think this issue is a duplicate of that one and I'm gonna mark this as 'duplicate' and close it. (Feel free to re-open it if it really isn't the same problem).

[2017-11-30 06:53] #570 closed

[2017-12-04 16:08] hickst opened #571 "Incorrect grounding of Erk"
Fri, 1 Dec 2017, Andrew Silberfarb wrote:

[2017-12-04 17:23] hickst commented on #571
I'm not seeing this issue in the current system, which correctly grounds `Erk` to `be:ERK`. I have asked Andrew Silberfarb and Dayne Freitag for specific examples of the problem.

[2017-12-04 17:25] hickst commented on #571
They were using results from the Reach Explorer. The Explorer is a search tool which indexes a previously computed set of results. Unfortunately, the results are now very old, having been last computed in September of 2016, and should not be relied upon.

If using the current version of Reach (via the command line or batch processing), we should not see a problem with 'Erk', as it is now grounded

[2017-12-04 17:25] #571 closed

[2017-12-07 21:57] danebell opened #573 "Errors during RunReachCLI over 100k papers"
When running RunReachCLI.sh, I'm getting many similar instances of this error (but only after it's been running for days):

[code]

[2017-12-07 22:54] hickst commented on #573
Yuck. How many papers (out of total) have processed? Does this occur near the end of the papers? (do `wc -l` on `output/restart.log` to see how many successfully processed).

[2017-12-07 23:05] danebell commented on #573
The first time, it occurred after about 50k of 100k papers. The second time was about 80k, and then the third 87k.

[2017-12-07 23:17] hickst commented on #573
OK, thanks. And how many papers failed in this manner each time?

[2017-12-07 23:21] danebell commented on #573
I didn't have the foresight to print the logs to files, but from what didn't get erased in my tmux window, it looks like more than 5.

[2017-12-08 00:17] hickst commented on #573
These kinds of distributed problems are **really** hard to debug. I'm gonna, at least, need to see the log file (look for `reach.log`). It seems like there may be a uncaught error that happens very sporadically, then the system recovers and continues. Note, that after the original error, the remoting library imposes a 5-second ban on client connections, which could cause other secondary errors. If

[2017-12-09 02:11] #463 closed

[2017-12-09 04:16] hickst commented on #573
Dane retrieved the log file and I notice that the very first error is a CMU-exporter error (i.e. not related to Akka) and that it seems likely (IMHO) to have been caused by a bad data structure. The log shows several other similar types of problems.
[code]

[2018-02-10 04:54] MihaiSurdeanu commented on #562
Done.

[2018-02-10 04:54] #562 closed

[2018-02-10 04:58] MihaiSurdeanu opened #576 "Infinite loop in findHeadsStrict()"
Hi @danebell,

The method findHeadsStrict() in org.clulab.reach.utils.DependencyUtils() has an infinite loop between lines 140 and 152 in the file. This doesn't happen for legit syntax, but it does happen on weird trees that I suspect have cycles (CluProcessor may generate these). Can you please add a test for cycles?

[2018-02-10 04:59] MihaiSurdeanu commented on #576
By "adding a test for cycles" I mean modifying followTrailOut() so it doesn't continue on nodes it's seen before.
Thanks!

[2018-02-10 07:13] kwalcock commented on #576
Then it wasn't just my computer!  I'm glad this is reproducible.

[2018-02-11 06:15] kwalcock commented on #576
In particular, text2 of TestDependencyUtils seems to be a problem.

[2018-02-11 08:00] kwalcock commented on #576
This sentence has a loop.  The same patch should be done in both findHeadStrict and findHeadsLocal.  I plan to use as head the last node before a loop back onto the list of heads.

[2018-02-11 16:50] kwalcock commented on #576
I have made a fix, but it is in a critical section of code, so it will be going through some regression testing.

[2018-02-12 01:32] MihaiSurdeanu commented on #576
Thanks!
I will add this sentence as a unit test in processors. I have to modify some parsing code there to avoid cycles as well (I got lazy when I wrote that code).

[2018-02-12 01:33] MihaiSurdeanu commented on #576
But we should try to avoid infinite loops in findHead* here as well!

[2018-03-14 10:26] andrewresearch opened #578 "Problem with accessing models within Play application"
I'm not sure if this is a bug, or a config error on my part (I suspect the latter).

CluProcessor POS tagging is working fine from the REPL in my play app, but within the running app itself, I'm getting the following NPE whenever I call `processor.annotate(doc)`:

[code]

I'm assuming that for some reason the processor can't find the necessary models, however I'm not sure why the models aren't bei

[2018-03-14 10:59] andrewresearch commented on #578
Found that I had a `Test` at the end of the SBT dependencies for the model - for some unknown reason!

[2018-03-14 10:59] #578 closed

[2018-03-27 13:15] jvwong opened #579 "Grounded simple-chemical: Accessing International Chemical Identifier (InChIKey)"
Background: We've recently been in contact regarding getting a local instance of REACH up and running to process full-text articles our project [Factoid](https://github.com/PathwayCommons/factoid) (see #551). We are using REACH grounding information for simple chemicals. Currently, information from PubChem (#167) is returned, but we are interested in retrieving records from other small-molecule da

[2018-03-27 20:09] hickst commented on #579
Grounding via ChEBI is available in Reach. To meet previous contractual dictates, we had to stop using it but it is available if you compile your own version of the [Bioresources project](https://github.com/clulab/bioresources). **Note**: to do so, you will also need to compile the [Processors library](https://github.com/clulab/processors) **first** as the code to modify Bioresources is contained

[2018-03-27 20:39] maxkfranz commented on #579
It's great to know that you support Chebi, but regardless of the underlying system, do you support returning InchiKeys?

[2018-03-27 20:44] hickst commented on #579
Sorry, no.

[2018-03-29 16:46] tomlue opened #580 "README.md Maven Repository"
It seems that version 1.4.0 isn't actually available on maven central. Only 1.3.2
http://mvnrepository.com/artifact/org.clulab/reach_2.11

[2018-03-29 19:51] hickst commented on #580
I've never seen this URL before but it's not the official [Maven Central repository](http://search.maven.org). I've attached a screen shot showing that 1.4.0 **is** in the official repository.

![mvncentral listing of Reach versions](https://user-images.githubusercontent.com/22797/38110140-808730a6-334f-11e8-8adf-51a3768c87b1.jpg)

[2018-05-30 18:09] MihaiSurdeanu opened #583 "Distinguish between regulations that indicate activity vs. regulation of amount"
See PR #582:
Comment from @johnbachman:
"Nice! One note: "turnover" indicates not only the polarity, but also specifically indicates a regulation of amount, rather than activity. Can that be easily captured? Might be worth coming up with a list of these words (e.g., "expression", "stability", "turnover", "degradation", etc.) that are markers of amount regulation--if these aren't already in REACH."

[2018-06-27 16:53] enoriega opened #584 "build.sbt dependencies broken"
If I try to add REACH as a dependency on another `sbt` project by following the README instructions:
[code]

SBT fails to resolve the following dependency:

[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: org.clulab#reach_2.12;1.4.0: not found
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn]
[warn] 	Note: Unresol

[2018-06-27 17:09] marcovzla commented on #584
We currently don't cross-compile reach to scala 2.12.
We only release for scala 2.11.
But we could, now that we cross-compile processors.

[2018-06-27 17:39] marcovzla commented on #584
try reach-main
http://search.maven.org/#search%7Cga%7C1%7Creach

[2018-06-27 17:42] enoriega commented on #584
Yep, that was it. Thanks!

[2018-06-27 17:42] #584 closed

[2018-06-28 00:08] marcovzla opened #585 "support for scala 2.11 and 2.12"
what the title says

[2018-08-29 19:21] enoriega opened #589 "Processors server for the web app visualizer"
Decouple processors as a server for the web app to improve iteration times during development

[2018-08-29 19:31] enoriega opened #590 "Restore color-coding on web app"
Eidos' web visualizer supports color coding. This functionality still needs to be ported into REACH's visualizer

[2018-08-29 19:34] enoriega opened #591 "Port loadable attributes into web visualizer"
Eidos' visualizer has a _loadable attributres_ feature that enables it to _hot reload_ editions to the rules without the need to restart the server.

Port it into REACH's visualizer

[2018-08-29 22:29] enoriega commented on #589
There's no action necessary to implement this. as long as the `application.conf` file is edited to include this setting:

[code]

[2018-08-29 22:29] #589 closed

[2018-10-01 22:52] myedibleenso opened #595 "Display sites and mutants from Modifications in webapp"
Some extracted information is still hidden in the webapp because of where and how it is stored within our mentions.

[2018-10-24 19:21] maxaalexeeva opened #599 "entity which is a RelationMention cannot be cast to BioTextboundMention"
Sentence:
`Akt1 (Akt334, AktTR, or Akt4H) is phosphorylated.`

Breaks here:
https://github.com/clulab/reach/blob/master/webapp/app/controllers/HomeController.scala#L81

[2018-10-25 20:07] maxaalexeeva commented on #599
@marcovzla these are the other failing tests we discussed:

1) Potentially wrong test:

`  val sent5 = "Figure 3. Raf and PI3K bind to ubiquitinated Ras."
  val sent5b = "Figure 3. Raf and PI3K bind more to ubiquitinated Ras than to non-ubiquitinated Ras."
  it should "extract correct bindings with theme and theme2" in {
    var mentions = getBioMentions(sent5)
    var bs = mentions.filter(_ match

[2018-10-25 20:14] maxaalexeeva commented on #599
@marcovzla

2) potentially wrong test:
https://github.com/clulab/reach/blob/afff6776cf2449c6de1c16c79776a499e1f06dc6/main/src/test/scala/org/clulab/reach/TestCoreference.scala#L233

Error message:
`- should not produce an activation with an activation controlled *** FAILED *** (847 milliseconds)
[info]   List(org.clulab.reach.mentions.CorefEventMention@be0001c, org.clulab.reach.mentions.CorefEvent

[2018-11-02 21:51] marcovzla commented on #599
The webapp no longer breaks after 33cddf3bf77fd2a864f2892f6879717b06b7ae30.
The issue is with coref entities. I am currenlty filtering them out, but perhaps a better approach would be to actually display them. I don't currently have the cycles to do it, so I fixed it this way instead.
@maxaalexeeva @MihaiSurdeanu fyi

[2018-11-02 22:43] marcovzla commented on #599
addc0eaba6cd23a4161a22c87fbff490370a0775 fixes the `TestCoreference` issue

[2018-11-02 22:50] marcovzla commented on #599
I can't reproduce the `TestBindingEvents` error. It passes locally using the `ud` branch.
IDK if addc0eaba6cd23a4161a22c87fbff490370a0775 fixed it too or I should be looking in another branch.

[2018-11-03 00:06] marcovzla commented on #599
this test [1] is failing because the output of the NER changed.
This is not a REACH issue, but a processors issue.

@MihaiSurdeanu fyi

[1] https://github.com/clulab/reach/blob/fa27f763b2a40666f836011baa9c061f00b00da1/main/src/test/scala/org/clulab/reach/TestCoreference.scala#L462

[2018-11-05 17:45] maxaalexeeva opened #600 "repeated event found"
The same regulation event is found by `Phosphorylation_syntax_1a_verb` and by `Positive_regulation_syntax_1_verb` and both are reported in the webapp. This causes a test-regulation-events to fail since it expects the event to happen only once.

Help.

sentence: GSK-3 promotes the pathway by phosphorylating LRP5

[code]

[2018-11-05 21:19] maxaalexeeva opened #601 "Feedback neede: potentially wrong test -- 4 events found instead of expected 2"
There should be two events based on the test, but there are four in the output. **Please, verify that the test asks for the right number of events.** If there should indeed be 2 and not 4, please indicate which of the events in the output are correct and which need to be discarded.

The test:
https://github.com/clulab/reach/blob/9f4a04fd5708ba0fba548ea071bcd9280fbdbc21/main/src/test/scala/org/clul

[2018-11-05 21:49] maxaalexeeva opened #602 "DNA-PK not found as entity in some contexts"
DNA-PK is not found as entity in three test sentences, which might be the reason the tests are failing:
![image](https://user-images.githubusercontent.com/31713912/48028296-6547ea80-e108-11e8-976c-fdaa64201220.png)
test: https://github.com/clulab/reach/blob/afff6776cf2449c6de1c16c79776a499e1f06dc6/main/src/test/scala/org/clulab/reach/TestActivationEvents.scala#L139

![image](https://user-images.gi

[2018-11-05 23:07] maxaalexeeva opened #603 "Negative_${ ruleType }_token_2_noun works on a phrase but not complete sentence"
Failing test:
https://github.com/clulab/reach/blob/afff6776cf2449c6de1c16c79776a499e1f06dc6/main/src/test/scala/org/clulab/reach/TestActivationEvents.scala#L133

In the visualizer below, you can see both the failing test and the passing phrase:

![image](https://user-images.githubusercontent.com/31713912/48032006-48fd7b00-e113-11e8-894c-9b66a505696a.png)

In the successful example ('Inhibition of

[2018-11-09 17:06] johnbachman opened #605 "Phosphorylation picking up residue information from from wrong protein"
Hi guys, I've included a set of 44 sentences where REACH makes the same systematic error each time. REACH is extracting (essentially) that Insulin phosphorylates AKT on *tyrosine,* when in fact the sentences are referring to a tyrosine residue on another protein (either IR or IRS1) in each case. Here are three examples:

I've attached a file containing INDRA Statements in JSON format (Github made

[2018-11-10 21:06] MihaiSurdeanu commented on #605
Thanks John!
We'll take a look at these soon.

[2018-11-12 17:45] johnbachman opened #606 "Words like "expression" and "overexpression" shouldn't be flagged as entity modifications"
Frequently certain generic terms like "expression" and "overexpression" are getting flagged as entity modifications in the REACH output. This is tricky for us because this ends up getting treated as a refinement on the agent in our assembly process, even though these terms don't really reflect a meaningful difference in agent state. Here are some examples:

Ras:

MALT1:

WOX1 (also note that the p

[2018-11-12 18:41] johnbachman opened #607 ""-KD" suffix (i.e., knockdown) should be added to list of negative polarity terms"
I only have a single example of this for now, but came across the following:

This is getting extracted as "BRCA1 leads to the phosphorylation of AKT on S473", but the implication is in fact the opposite (BRCA1 inhibits AKT phosphorylation).

This suffix is included in the list of inhibition affixes in FamPlex: https://github.com/sorgerlab/famplex/blob/master/gene_prefixes.csv#L133

[2018-11-12 19:19] MihaiSurdeanu commented on #606
Oh, we always thought these are important to capture... So, what would like done for these? Nothing?

[2018-11-12 19:20] MihaiSurdeanu commented on #606
@enoriega, @maxaalexeeva: something for your attention.

[2018-11-12 19:20] MihaiSurdeanu commented on #605
@enoriega, @maxaalexeeva: something more for you. To be discussed tomorrow.

[2018-11-12 19:45] johnbachman commented on #606
@MihaiSurdeanu One option is to do nothing, especially if it's just referring to "expression" in the context of natural variation. The other option is to flag it as a modification of type "overexpression" or "amount_increase" or something like that. Part of the problem is that these are included as modifications in the REACH output but have type "UNKNOWN". If they were typed we could give them spe

[2018-11-13 12:08] johnbachman opened #608 "Recognizing negative evidence"
REACH should distinguish between things that did/do happen ("A phosphorylates B") and things that did/do not happen ("A does not phosphorylate B.") This is more feature request than issue, but I know that Eidos can do this so I thought it would be great to bring this capability into REACH!

I've noticed a few sporadic examples in the statements I've been curating but I collected a more extensive s

[2018-11-13 15:29] johnbachman commented on #608
Also note that there are certainly other triggers for negative results than "did not"/"does not", one common one that comes to mind is "failed to". Will keep an eye out for others.

[2018-11-13 15:30] MihaiSurdeanu commented on #608
Thanks @johnbachman!

We will look at these examples soon. But note that Reach does extract negation. In fact, the code in Eidos is taken from the Reach code. It should appear as a modification. You don't see it even on simple statements?

[2018-11-13 16:12] johnbachman commented on #608
Hi @MihaiSurdeanu, sorry, yes! After filing the issue @bgyori actually reminded me that REACH *does* in fact extract negative evidence. However, the REACH processor in INDRA currently ignores these (it was written before we had an approach to handling this kind of evidence in assembly, whereas now we do--we will update accordingly). However, these examples are cases where REACH is not flagging the

[2018-11-13 16:26] johnbachman commented on #608
Additional clarification: the INDRA REACH processor currently checks the JSON output for the `is_negated` flag, as shown here: https://github.com/sorgerlab/indra/blob/3c19b13def4232f70b1b529d9bf5eb4c5d35a0e9/indra/sources/reach/processor.py#L590

(Currently, negated events are then skipped).

However, note that I tried the following simple sentences (using the REACH web service) and in each case I

[2018-11-13 17:24] MihaiSurdeanu commented on #605
@enoriega: please check if this is caused by broken syntax or something else. If it's syntax, I propose to postpone this until we merge UD in master. Please update on this thread.

[2018-11-13 17:32] MihaiSurdeanu commented on #606
@zhengzhongliang: can you please run the MALT1 example, and paste here what happens? I'd like to see what the output looks like, and what rule matched the "Expression of MALT1" part of the text.

[2018-11-13 17:34] MihaiSurdeanu commented on #608
@enoriega: can you please see what is happening in the 4 simple statements mentioned by @johnbachman? This might be a major issue...

[2018-11-13 17:35] MihaiSurdeanu commented on #608
@maxaalexeeva says that these examples work in the shell. So it may be that the JSON output is broken?

[2018-11-13 19:06] johnbachman commented on #608
Here is a real world example that I just came across with "fail to". REACH extracts this as "RAS phosphorylates BCL2":

[2018-11-14 18:17] johnbachman opened #609 "Misrecognition of clauses "process-inducing factor X""
I've included 89 sentences (INDRA JSON) that all lead to the generally incorrect extraction that "EMT activates SNAI2", where EMT refers to epithelial-mesenchymal transition and SNAI2 is a gene that is also referred to as Slug. In all cases that I've looked at, the relation should actually be reversed, i.e., "SNAI2 activates EMT". Here's one example of how the failure occurs:

In many, though not

[2018-11-14 21:42] maxaalexeeva commented on #605
@johnbachman: I am relatively new on the project, so I apologize if my question does not make much sense. Below is the output we get from the system--tyrosine is extracted as 'site' and 'IRS-1' as 'theme'. What would your desired output look like? Did you mean that 'IRS-1' should be extracted as 'site' instead of 'tyrosine', that 'tyrosine' should come as modification to a protein, or maybe some o

[2018-11-14 21:56] maxaalexeeva opened #610 "TestReachCLI failing after switching to UD"
This test fails in my branch (ud) after we switched from Stanford Dependencies to Universal Dependencies:

https://github.com/clulab/reach/blob/afff6776cf2449c6de1c16c79776a499e1f06dc6/src/test/scala/org/clulab/reach/export/TestReachCLI.scala#L43

Any ideas on what could have gone wrong will be appreciated.

Some more details:

[code]

[2018-11-14 21:58] maxaalexeeva commented on #610
@myedibleenso: @MihaiSurdeanu suggested assigning this to you. Thank you!

[2018-11-15 11:42] johnbachman commented on #605
@maxaalexeeva Actually, now that you point it out, that particular sentence is fairly ambiguous (and poorly written). "Tyrosine phosphorylation of IRS1 and pSer 473 AKT" could, in principle, indicate "tyrosine phosphorylation of IRS1" *and* "tyrosine phosphorylation of pSer 473 AKT". However, "pSer 473 AKT" refers (in abbreviated form) to "AKT phosphorylated at serine 473" (i.e., *not* tyrosine).

[2018-11-15 14:51] MihaiSurdeanu commented on #605
Thanks @johnbachman!

@maxaalexeeva: can you please paste here the outputs for the latter 2 sentences sent by John?
Also, can you please book a 1-hour slot for next week (separate from the regular ASDF meeting), so we can plan how to address these issues? For this meeting, I would like @maxaalexeeva, @zhengzhongliang, and ideally @enoriega (if you can join remotely) to participate. Please find a s

[2018-11-15 18:30] maxaalexeeva commented on #605
Here they are (run on master):
![image](https://user-images.githubusercontent.com/31713912/48573373-40523500-e8c9-11e8-985c-87a7d5b5d81e.png)

![image](https://user-images.githubusercontent.com/31713912/48573509-a343cc00-e8c9-11e8-84eb-1b2fb55ca912.png)

[2018-11-16 23:08] MihaiSurdeanu commented on #605
Thanks @maxaalexeeva!

Let's look at the second figure, it's simpler. Further, let's call the first instance of "phosphorylation" "p1", and the second instance "p2". Then, the following relations are incorrect:
 p1-PI,
p1-Akt,
p2-IRS-1, and
p2-PI

Can you please see which rules create these extractions? These rules should be constrained to not cross commas in enumerations of events.

[2018-11-17 06:39] maxaalexeeva commented on #605
@MihaiSurdeanu those rules are syntax rules (syntax_1a_noun and syntax_4_noun).

Here's the dep. parse for the second figure:

![image](https://user-images.githubusercontent.com/31713912/48657987-9a511880-e9f7-11e8-8277-56f3a8f3abc2.png)

My thinking was to limit what words hops can go through, e.g., we could prevent p1 relating to Akt through putting a constraint along these lines:
(?! nmod_of  [

[2018-11-17 08:32] maxaalexeeva commented on #605
![image](https://user-images.githubusercontent.com/31713912/48658962-7e557300-ea07-11e8-96f1-b4bfd4b509bc.png)

Does this look more like what we want?

That is from trying to solve it the first way I suggested (still haven't found a way to put a constraint on commas). Still need to try to make it more generalizable by not limiting the constraint to just the word 'phosphorylation' and  see how it i

[2018-11-17 15:59] MihaiSurdeanu commented on #605
@maxaalexeeva: this is much better! What exactly did you do?

[2018-11-17 17:58] maxaalexeeva commented on #605
@MihaiSurdeanu, in the syntax rules I mentioned, I basically disallowed hops if they involve a relation of this kind: 'phosphorylation of phosphorylation' (?! <nmod_of [word=phosphorylation]).

I also adjusted a token rule to avoid 'phosphorylation of IRS-1 and Akt' to be extracted as an event in a hypothetical scenario like this:

![image](https://user-images.githubusercontent.com/31713912/486641

[2018-11-18 02:56] MihaiSurdeanu commented on #605
@maxaalexeeva: this is a great intuition. I think we'll have to generalize this into a mention filter that is executed after the simple event grammar. This filter will disable any simple events that contain the trigger of another simple event in the syntactic dependency path between its own trigger and the theme. This has multiple advantaged:
- It works on any syntactic dependencies, not just nmod

[2018-11-19 21:05] johnbachman opened #611 "Incorrect regulation statements with "treated""
Here are a few sentences where a drug (Vemurafenib) is listed as an activator of its target (BRAF). In many cases the issue is not polarity per se, but rather that a relation is being picked up when one is not really explicitly stated. Many examples appear to involve the use of the words "treated" or "treatment" as a trigger for positive regulation:

Examples where REACH extracts "Vemurafenib acti

[2018-11-19 21:13] johnbachman commented on #611
Another one involving a different drug and "treated":

REACH: BYL719 activates BRAF-V600E:

[2018-11-19 21:49] MihaiSurdeanu commented on #611
Thanks @johnbachman !

[2018-11-19 22:39] MihaiSurdeanu commented on #605
@maxaalexeeva agreed to work on a mention filter for this issue.

[2018-11-19 22:46] MihaiSurdeanu commented on #606
@enoriega agreed trying to understand why this happens. Then point @zhengzhongliang to actionable things.

[2018-11-19 22:54] MihaiSurdeanu commented on #607
@enoriega: please extend the polarity component as follows: if the cause ends with "-KD" (or other polarity changing suffixes), flip the polarity.

@zhengzhongliang: what does your NN model produce on this sentence? (just for our own curiosity)

[2018-11-19 22:55] MihaiSurdeanu commented on #608
@MihaiSurdeanu will take a look at this.

[2018-11-19 22:56] MihaiSurdeanu commented on #611
@enoriega: I suggest you remove treat* and target* as positive activation/regulation triggers. These are ambiguous to begin with, and should probably be avoided.

[2018-11-19 23:10] MihaiSurdeanu commented on #609
This is tricky, because the critical "-" is not available to rules. So, this needs to be handled by the polarity component as follows:
- If the controller occurs to the left of trigger at 1 character distance, AND
- The character in between is "-", THEN
flip the polarity.

@enoriega: can you please look at this?

[2018-11-19 23:11] MihaiSurdeanu commented on #609
Sorry, incorrect statement "flip the polarity". The action should be flip the participant roles, e.g., the controller becomes the controlled

[2018-11-20 17:01] maxaalexeeva commented on #599
Resolved with processors version 7.4.3

[2018-11-20 17:01] #599 closed

[2018-11-20 19:01] maxaalexeeva commented on #602
Resolved with processors 7.4.3

[2018-11-20 19:01] #602 closed

[2018-11-20 19:19] maxaalexeeva commented on #603
Resolved with processors 7.4.3

[2018-11-20 19:19] #603 closed

[2018-11-20 19:34] maxaalexeeva commented on #601
@MihaiSurdeanu might be something for you to have a look at. One of the two curretnly ignored event tests.

[2018-11-20 20:16] MihaiSurdeanu commented on #601
Actually, I think the correct number if 4!

@johnbachman: what do you think?

[2018-11-21 00:34] bgyori opened #612 "Inconsistencies in text / verbose-text / entity-text"
We use an extracted `event`'s `verbose-text` entry as evidence text since the simple `text` entry of an `event` sometimes omits important information. The issue is that `verbose-text` doesn't exactly match the original raw text in some cases. Example:

The actual raw sentence from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4729835/ is:
[code]

The corresponding (edited) JSON extraction is:
[code

[2018-11-21 02:07] MihaiSurdeanu commented on #612
Yes, with the latest major release (1.5.0) this is now possible. Previously, it was not. We will work on this soon.

[2018-11-27 23:34] enoriega commented on #611
@MihaiSurdeanu I fixed this, but before proceeding with a PR, there's a rule that explicitly has as trigger `treated with` in `pos_act_only-template.yml`. I commented it out but its associated unit test fails.

The text of the test is:

```We now show that mTOR inhibition induces insulin receptor substrate-1 expression and abrogates feedback inhibition of the pathway , resulting in Akt activation

[2018-11-28 01:12] MihaiSurdeanu commented on #611
I think that statement is ambiguous, so it’s Ok to mark as ignore.
Thanks!

[2018-11-28 02:03] enoriega commented on #607
Done

[2018-11-28 02:03] #607 closed

[2018-11-29 19:48] enoriega commented on #606
I'm running the following sentence, simplifies from the MALT1 example provided by @johnbachman :

<img width="690" alt="image" src="https://user-images.githubusercontent.com/4502559/49247229-00fd0b80-f3d4-11e8-96c8-20fb7be284e8.png">

And get _four_ events: A phosphorylation, a transcription and two regulations. Both the phosphorylation and the transcription (which is triggered by `Expression` and

[2018-11-29 19:49] enoriega commented on #606
This is the shell output for the same sentence, where the duplication of the regulation can be appreciated more detailedly:

[2018-11-29 20:00] MihaiSurdeanu commented on #606
Yeah... This happens because the controller of a regulation can be both an event and an entity.
But I do agree that there should be an action to remove the Regulation with the entity controller when a similar Regulation where the trigger is an event over the entity above.
@johnbachman: what do you think?

[2018-11-29 20:08] enoriega commented on #608
I took a look to that final example, and REACH indeed detects `fail` as a negation, as well as `not` on the previous four examples. I attach the shell output at the end of this post. I suspect that either the json output code is not writing the negation modification or maybe the latest version of REACH fixed this issue.

Maybe @zhengzhongliang could take a look into the json output code? @MihaiSur

[2018-11-29 20:13] MihaiSurdeanu commented on #608
Thanks @enoriega!

I just ran the 4 examples in @johnbachman's latest post, and I can confirm that they are properly negated in the shell. I will take a look at the output format. @johnbachman: which output format do you commonly use?

[2018-11-29 20:35] MihaiSurdeanu commented on #608
Note that the "json" format includes these negation modification. Search for "Negation" in the attached file, for example.
I am looking into our other formats.

[1.json.txt](https://github.com/clulab/reach/files/2630784/1.json.txt)

[2018-11-29 20:36] MihaiSurdeanu commented on #608
Sorry, the above format is "serial-json"

[2018-11-29 20:39] MihaiSurdeanu commented on #608
And I can confirm that the "arizona" and "fries" formats do NOT capture negation... I will look into this.

[2018-11-29 20:39] zhengzhongliang commented on #608
Hi Enrique,
I can take a look at the Json file.

Best regards,
Zhengzhong

Mihai Surdeanu <notifications@github.com>于2018年11月29日 周四下午1:36写道：

[2018-11-29 20:45] MihaiSurdeanu commented on #608
@zhengzhongliang: I will fix this.

[2018-11-29 21:12] zhengzhongliang commented on #608
Thanks professor.

Mihai Surdeanu <notifications@github.com>于2018年11月29日 周四下午1:45写道：

[2018-11-30 01:15] zhengzhongliang commented on #607
I run the sentence in the NN model. It predicts "positive activation"

REACH's output for this sentence is:

MENTION TEXT:  Phosphorylation of AKT, a downstream effector of the IGF-1R pathway, at S473 was also increased by BRCA1-KD
LABELS:        List(Positive_regulation, Regulation, ComplexEvent, Event, PossibleController)
DISPLAY LABEL: Positive_regulation
	------------------------------
	RULE =

[2018-12-01 07:18] maxaalexeeva commented on #605
I need help writing the filter. Will anyone be available Monday between 11 and 4:30? @MihaiSurdeanu @marcovzla @enoriega.

Alternatively, does anyone have tips on how to approach this? I've been trying to use .paths (like these: https://github.com/clulab/reach/blob/afff6776cf2449c6de1c16c79776a499e1f06dc6/main/src/main/scala/org/clulab/reach/mentions/CorefMention.scala#L118), but I don't know how

[2018-12-01 17:57] MihaiSurdeanu commented on #605
If @marcovzla and @enoriega can't make it, can you pick a 30 min slot Monday from my meetings?

[2018-12-03 17:51] johnbachman commented on #608
@MihaiSurdeanu excellent! We use the FRIES format. For future reference here is a link to the REACH config file that we use in INDRA:

https://github.com/sorgerlab/indra/blob/4d687fc8eba9f479080d9d8dbfd0088b51a3b61a/indra/tools/reading/util/reach_conf_fmt.txt

[2018-12-03 18:07] MihaiSurdeanu commented on #608
Thanks!

This was merged in master over the weekend, so closing this.

[2018-12-03 18:07] #608 closed

[2018-12-08 19:51] maxaalexeeva commented on #605
A solution suggested by @myedibleenso to avoid the check being too expensive (the steps below are a direct quote):

[2018-12-10 01:13] MihaiSurdeanu commented on #605
This makes sense!

[2018-12-10 19:17] enoriega commented on #609
@MihaiSurdeanu: My plan is to plug in a function that follows the description you mentioned into this function:

[code]

Which can be found here: https://github.com/clulab/reach/blob/master/main/src/main/scala/org/clulab/reach/ReachSystem.scala#L200-L209

I think the best place to write the implementation of that role-flipping function is in the `org.clulab.reach.darpa` package, along `MentionFilt

[2018-12-11 03:04] MihaiSurdeanu commented on #609
I agree the best place for this is in the `org.clulab.reach.darpa` package.
And the example in extractEventsFrom makes sense. Of course, your code will be different (see my comment above).

[2018-12-11 17:43] johnbachman opened #617 "Subject/object roles reversed."
I'm attaching some sentences where REACH is extracting that "X regulates/phosphorylates/etc EGF", where EGF (epidermal growth factor) is incorrectly identified as the object of the relation.

This may be related to #250, #327, and #609.

For the following sentences, REACH extracts "EGFR activates EGF". Because EGF is the ligand and EGFR the cognate receptor that EGF activates, this extraction (whi

[2018-12-11 17:44] MihaiSurdeanu commented on #617
Thanks @johnbachman!

[2018-12-15 18:31] enoriega commented on #609
Finished

[2018-12-15 18:31] #609 closed

[2018-12-19 22:13] myedibleenso commented on #610
Just now seeing this :)

@MihaiSurdeanu and @maxaalexeeva: Unfortunately, updating the serialized model is nontrivial in this case, as someone will need to translate the current assembly dataset (we'll need to write a runnable that does the following: 1. loads assembly dataset, 2. re-parses each sentence, 3. assigns the updated doc to each corresponding mention/copies each mention with new doc, 4.

[2018-12-19 22:18] maxaalexeeva commented on #610
Thanks for the update, @myedibleenso. Yes, we are ignoring the one failing test for now.

[2018-12-20 18:43] MihaiSurdeanu commented on #610
@myedibleense: the wrapper exists in the fatdynet project. Enrique has Scala code that uses it in research (soon to be included in reach). I plan to write multiple components with it in processors in the Spring semester. Then we will have a bunch more examples.

[2018-12-21 15:32] myedibleenso commented on #610
@MihaiSardini:

:)

Are you planning to publish the wrapper?

[2018-12-22 00:54] MihaiSurdeanu commented on #610
Already done: https://search.maven.org/search?q=fatdynet

On Fri, Dec 21, 2018 at 10:32 AM Gus Hahn-Powell <notifications@github.com>
wrote:

[2019-01-01 03:52] maxaalexeeva commented on #605
@MihaiSurdeanu, that's a lot of information below, but I could use some feedback.

@bsharpataz wrote the bulk of the filter for me. See here: https://github.com/clulab/reach/blob/e5e11dc1a8534e5eb0d018759ce66ad9265c7e95/main/src/main/scala/org/clulab/reach/darpa/MentionFilter.scala#L27

I finally managed to get it to run without breaking any tests. I call it here: https://github.com/clulab/reach/b

[2019-01-01 23:31] MihaiSurdeanu commented on #605
Thanks @maxaalexeeva and @bsharpataz!

- the code looks nice! But can you please comment it better? Minimally, it would be nice to add an example of extractions that filterOverlappingMentions fixes. Also, this line:

https://github.com/clulab/reach/blob/e5e11dc1a8534e5eb0d018759ce66ad9265c7e95/main/src/main/scala/org/clulab/reach/darpa/MentionFilter.scala#L33

should be optimized. For example, it'

[2019-01-03 04:10] maxaalexeeva commented on #605
_But can you please comment it better?_ - will do.

_Line 33_ -- done. I realized that this line I added for something else already makes sure a mention is not compared to itself: https://github.com/clulab/reach/blob/f520fc2d9efb154b6a02e4e4db0909883094f0ab/main/src/main/scala/org/clulab/reach/darpa/MentionFilter.scala#L53

_I agree with adding some constraints to the filter_ - I will try that.

_

[2019-01-03 16:46] MihaiSurdeanu commented on #605
Ok.

I agree. Good catch.

Yep. I propose to leave it as is.

[2019-01-22 15:42] MihaiSurdeanu commented on #605
Thanks @maxaalexeeva!

My brain can't handle that many regulations at once... Which ones do you think are incorrect? I think most of those are fine. IL-1alpha indeed controls the two phosphorylations mentioned later in the sentence, which would lead to many regulations.

Also, John's comments does not seem to be about this text, no?

[2019-01-22 17:00] maxaalexeeva commented on #605
@MihaiSurdeanu, sorry, I should have been more specific. The incorrect rel that I meant was IRS-1 being attached to phosphorylation2, but not phosphorylation1. The parser basically does what I tried to avoid with the filter -- it attaches an argument (IRS-1) by going through a different phosphorylation.

Maybe we can have some sort of token rule/action for 'of' (only for cases when it is right aft

[2019-01-23 00:43] MihaiSurdeanu commented on #605
Hmm... This clearly a broken parse.
I wonder if we need to add a *surface* rule like: SITE simple_event_trigger of PROTEIN? Can you please look into this?

In any case, this comment is independent of your filter, which I think is good and should be merged. Anything stopping us from merging this in master?

[2019-02-05 06:08] maxaalexeeva commented on #605
@MihaiSurdeanu, I looked into the possibility of using a surface rule to help with the broken parse (we discussed that a few messages up, but here is what the wrong output looks like---notice how IRS-1 is the theme to phosphorylation2 here instead of to phosphorylation1):

![image](https://user-images.githubusercontent.com/31713912/52253598-48b57d00-28c6-11e9-88cd-440e61bc38e6.png)

This token rul

[2019-02-05 17:03] maxaalexeeva commented on #605
@bsharpataz, @MihaiSurdeanu, thank you both for the responses. I will deal with this in the next couple of days.

[2019-02-05 18:01] bsharpataz commented on #605
@mihai -- I know we don't allow overlapping mentions, but priority wouldn't
affect that, depending on how you filter (i.e. are you using a keepLongest
/ keep most complete type of method?).  That would be overriding if it were
simply an overlap issue, right?  (I could be misunderstanding the situation)

On Tue, Feb 5, 2019 at 10:03 AM Maria (Masha) Alexeeva <
notifications@github.com> wrote:

[2019-02-05 19:23] MihaiSurdeanu commented on #605
Yeah, I remember that the order in which the mentions were created matters. Something along the lines of allow only certain overlaps with *existing* mentions.

I think the keepLongest heuristic applies for conflicting mentions generated in the same layer.

[2019-04-03 02:21] #605 closed

[2019-05-08 19:24] bgyori opened #627 "Conflict errors during fat jar assembly"
With the latest master, when I try to do `sbt assembly` to build a fat jar, I get some dependency conflict errors. I don't have any local changes to my config files and I deleted my ivy cache before the build. Does anyone know what the problem could be?

[code]

[2019-05-08 19:48] kwalcock commented on #627
On my machine, the two files

[error] /home/bmg16/.ivy2/cache/org.maltparser/maltparser/jars/maltparser-1.9.0.jar:appdata/features/liblinear/conllu/2PlanarEager.xml
[error] /home/bmg16/.ivy2/cache/org.clulab/processors-modelsmain_2.11/jars/processors-modelsmain_2.11-7.5.1.jar:appdata/features/liblinear/conllu/2PlanarEager.xml

differ in line endings.  The clulab version has CRLF and the malt versi

[2019-05-08 20:05] kwalcock commented on #627
Yes, it looks like git "helpfully" converted everything in processors to CRLF, which normally doesn't matter unless I do the release and they get into something other than github.  I'm working on it.  There will probably have to be a 7.5.2 release of processors to fix it.

[2019-05-08 21:39] kwalcock commented on #627
I reproduced the error, then re-cloned processors with the correct settings, did a publishLocal, then updated reach to use the updated version, and the problem goes away.  So, @MihaiSurdeanu, I need to do a PR to processors to update the version to 7.5.2, then republish to maven (which you want to know about), then do a PR to reach to use the updated version.  Sorry about the mistake, everyone.

[2019-05-08 21:42] kwalcock commented on #627
That's not quite right.  The publishing process will automatically bump the version to 7.5.2.  I'll add a comment to CHANGES.md, though.

[2019-05-08 21:43] MihaiSurdeanu commented on #627
Please do!

On Wed, May 8, 2019 at 2:39 PM Keith Alcock <notifications@github.com>
wrote:

[2019-05-08 22:28] kwalcock commented on #627
Is it OK to include Becky's "Enabling finding triggers through named mentions" as well?

[2019-05-08 22:54] MihaiSurdeanu commented on #627
@BeckySharp ?

[2019-05-09 02:46] BeckySharp commented on #627
It was merged i think, there's a unit test, i mean, as far as I'm
concerned, yes.... asking bc it's a PR from me?

On Wed, May 8, 2019 at 3:54 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2019-05-09 03:10] kwalcock commented on #627
Maybe it's bigger than a 0.0.1 change, perhaps it can only be used with an updated version of reach, ...  I was insufficiently paranoid the last time, so just checking.  Thanks!

[2019-05-09 04:01] BeckySharp commented on #627
sure? :) hope it was helpful, I doubt the change will affect reach (bc it adds prev unavailable ways to write rule, rather than changing existing functionality), but hopefully if I'm wrong unit tests in reach (which i haven't run) will catch it?

[2019-05-09 06:46] kwalcock commented on #627
It *should* be fixed (famous last words).  I'll add a unit test to help make sure it doesn't happen again.  reach master should use processors 7.5.2.

[2019-05-09 15:15] bgyori commented on #627
Just tested the build and it works. Thanks!

[2019-05-09 15:15] #627 closed

[2019-05-13 17:51] enoriega opened #629 "Possible out-of-order error on the CMU output"
Manujinda from Clay and Adarsh's  group reported that there is a case in which the CMU output in which the lines are print out or oder.

I attach the example file in which the error occurs in case it is worth investigating.

[PMC4471258-cmu-out.txt](https://github.com/clulab/reach/files/3174151/PMC4471258-cmu-out.txt)

[2019-06-06 23:34] cannin opened #630 "Add Verbose Text to Index Output"
Would it be possible to add the verbose-text used in the FRIES format to the index card format? Perhaps, it could be added as verbose_evidence. This is related to #612

# Index Format
<img width="359" alt="Screen Shot 2019-06-06 at 7 30 10 PM" src="https://user-images.githubusercontent.com/790284/59072716-b207c580-8891-11e9-899d-83a887c4e997.png">

# FRIES Format
<img width="486" alt="Screen Shot

[2019-06-07 02:41] MihaiSurdeanu commented on #630
This is now fixed in master.

[2019-06-07 02:41] #630 closed

[2019-07-14 16:22] RohitChattopadhyay opened #634 "NxmlReader error | No roots in graph"
I am getting this error on several nxml files downloaded from ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/oa_bulk/comm_use.A-B.xml.tar.gz

I have made a gist using 2 such files (PMC6588870 , PMC5109642 ) [here](https://gist.github.com/RohitChattopadhyay/76ad34323e63a54650e57ef7e91c95a9).

I am using the out of box `application.conf` file with `outputTypes = ["indexcard"]`

[code]

[2019-07-15 05:25] MihaiSurdeanu commented on #634
Unfortunately, this error comes from the CoreNLP parser, not from our code. So, it is harder to control... But, I believe that our code robustly skips these sentences, without failing on the whole paper. To double check, can you please:
- Paste the whole stack trace here.
- Attach one of these Nxml files, so I can replicate the experiment?

Thanks!

[2019-07-15 07:39] RohitChattopadhyay commented on #634
Thanks

### File (PMC3420630) : [Gist Link](https://gist.github.com/RohitChattopadhyay/76ad34323e63a54650e57ef7e91c95a9#file-pmc3420630-nxml)

Stack trace
------
[code]

[2019-07-16 15:24] MihaiSurdeanu commented on #634
I can confirm that, while this is a CoreNLP issue, we are not recovering nicely from this. We'll fix this soon.

[2019-07-16 16:59] MihaiSurdeanu commented on #634
This was fixed in processors master, in the sense that we recover from the CoreNLP error wo/ crashing everything. To take advantage of the fix before the new processors release, please:
1. Clone processors, and run `sbt +publishLocal`.
2. In reach, change `procVer` to `7.5.3-SNAPSHOT` in `main/build.sbt`.

[2019-07-16 19:12] RohitChattopadhyay commented on #634
Thanks for your help, it worked. But now I am facing another issue

Link to file( PMC4379733.nxml ) : [Gist](https://gist.github.com/RohitChattopadhyay/b0100ddec75d32773f8a69d46794a019#file-pmc4379733-nxml)

Stacktrace
[code]

Thank You

[2019-09-18 20:01] kwalcock opened #636 "runAllTests.sh does not return failing code if a subtest fails"
Some bash programmer might want to fix runAllTests.sh so that it remembers the return codes from each subtest and if any of them are non-zero, returns nonzero itself.

[2019-09-19 03:08] MihaiSurdeanu commented on #636
See PR #637

[2019-09-20 16:10] #636 closed

[2019-10-11 06:52] SSicaaJL opened #640 "Problems interpreting results"
Hello, may I ask what this UAZ ID represent, and where can I find them i.e. the database? Also, how can I interpret this result? Thank you.

Output:
(UAZ ID)

"text" : "carboxymycobactin",
    "frame-id" : "ment-complex-UAZ-r1-complex-8-11",
    "type" : "protein",
    "frame-type" : "entity-mention",
    "end-pos" : {
      "reference" : "pass-complex-UAZ-r1-complex",
      "offset" : 868,

[2019-10-16 23:11] hickst commented on #640
_Caveat: I haven't worked on Reach in over two years so take this with a grain of salt._

If I remember correctly, the UAZ ID means that the entity in question was not found in any of the preceding Bioresources knowledge bases. All entities need *some* ID, so a UAZ ID is assigned. If the entity is important to you, you should take the UAZ ID as a signal that you should properly identify the entity

[2019-12-12 12:30] guerrerosimonl opened #645 "missing event annotations"
I tried to figure out if it is possible to add manually new annotations but I still don't completely understand how it works so there it goes my question:

I found that there are some compounds that REACH cannot identify (because they are not annotated). In my case, I need to process a few papers which main subject is the chemical "lindane". I found out that its synonym "gamma-HCH" is annotated, b

[2019-12-12 16:41] MihaiSurdeanu commented on #645
Yes, this is possible without writing actual code.

The list of known entities are stored and managed in this project:
https://github.com/clulab/bioresources

In particular, the actual entities, organized by type are here:
https://github.com/clulab/bioresources/tree/master/src/main/resources/org/clulab/reach/kb

You probably should add the missing chemical to the PubChem.tsv.gz file (which stores

[2019-12-13 13:57] guerrerosimonl commented on #645
Hi!

Thank you very much for your fast answer.I'm new using GitHub, so I really didn't know in which branch I had to upload the file while doing the PR. I'm sorry! Here it is the updated PubChem.tsv.gz.

[PubChem.tsv.gz](https://github.com/clulab/reach/files/3961076/PubChem.tsv.gz)

Laura

[2019-12-13 19:35] MihaiSurdeanu commented on #645
I added this file to the bioresources project.
I am about to leave on a trip, so I don't have the time to release these projects now.
@kwalcock: when you get a chance can you please release bioresources 1.1.26 to maven? Then update main/build.sbt in reach to this new version? And, ideally, check that unit tests still pass :)

Thanks a lot!

[2019-12-13 19:49] kwalcock commented on #645
Acknowledged.  It may be a couple days before the chance arrives.

[2019-12-16 08:20] guerrerosimonl commented on #645
Thank you so much to both of you!

Please, can you let me know when it is released?

Laura

[2019-12-18 21:12] johnbachman opened #646 "Misleading extraction of siRNA descriptions as self-activations or inhibitions"
Hi there, this is an issue that we've known about for a while but I just came across a great example so I thought I would share it. Also with the work going on to extract information about experimental methods (siRNA, knockout, chemical inhibition, etc.) it might now be possible to actually solve, either at the reader level or the assembly level.

The issue is that when an author says "We found th

[2019-12-19 04:22] kwalcock commented on #645
If anyone is waiting on this task (@guerrerosimonl), please be advised that it has been completed.

[2019-12-19 04:23] kwalcock commented on #645
Addressed with #647.

[2019-12-19 18:42] MihaiSurdeanu commented on #646
Thanks @johnbachman!

A lot of the biology is over my head, so, bringing this back to a language I understand, what should be the correct output in this case?

You are right that we are probably now in a position where we can address this issue, as this type of information is now captured and attached to the corresponding regulation/activation events.

[2020-01-22 10:56] Hasnae-25 commented on #645
Hi all, I am very new using Github. Can someone release this project?

Thanks in advance!

Kind regards, Hasnae

[PubChem.tsv.gz](https://github.com/clulab/reach/files/4096690/PubChem.tsv.gz)

[2020-01-22 12:30] MihaiSurdeanu commented on #645
@kwalcock: can you please indicate what version number corresponds to this?
Thanks!

[2020-01-22 15:35] kwalcock commented on #645
This file is the same as what is in the repo except for the addition of (L|l)indane in the new file.  I think the idea is to make a PR with the new file, merge it, and then release bioresources anew with the update.  It would be a new number like 1.1.27.

[2020-01-27 09:29] guerrerosimonl opened #648 "REACH crashes"
Hi!

We have been using REACH within INDRA system from the sorgerlab. It has been working perfectly until a few days ago, when one of the commands started crashing, and I think it is a REACH problem, because the error has taken place when reading plain text with REACH.

In some cases it works normally, but in some others it doesn't (it gets stuck and there is no output), like for example with this

[2020-01-27 13:29] MihaiSurdeanu commented on #648
Thanks @guerrerosimonl!
I will take a look. But I am traveling for the next two weeks, so it might take a while.

[2020-01-27 21:18] bgyori commented on #648
I believe there is some confusion between a local instance of REACH and the REACH web service instance. The _web service_ seems to be having some issues, including getting stuck on this text. But this text can otherwise be processed well with a local instance of REACH. I advised using a local instance of REACH for reading tasks: https://github.com/sorgerlab/indra/issues/1032

[2020-01-28 01:59] MihaiSurdeanu commented on #648
So, should this be closed @bgyori ?

[2020-01-29 09:58] Hasnae-25 commented on #645
Hi,

@MihaiSurdeanu @kwalcock, Please, can you let me know when it is released? Kind regards, Hasnae

[2020-01-30 00:05] MihaiSurdeanu commented on #645
@kwalcock: can you please release bioresources 1.1.27?

[2020-01-30 15:29] kwalcock commented on #645
With the updated PubChem.tsv.gz, I assume.  Working on it...

[2020-01-30 16:29] kwalcock commented on #645
The procedure I outlined above is not complete.  I neglected to run ner_kb.sh.  Therefore do not use 1.1.27.  It will be 1.1.28 instead.

[2020-01-30 18:13] kwalcock commented on #645
I reran the program and was expecting only the Simple_chemical.tsv file to change, but was surprised when most of the files did.  It looks like all the changes are related to whitespace.  Not all the changes look legitimate.  Here are some questionable ones:

**Family.tsv**

new: Lecithin : cholesterol and phospholipid :d iacylglycerol acyltransferase
old: Lecithin : cholesterol and phospholipid :

[2020-02-05 11:47] Hasnae-25 commented on #645
Hi @kwalcock @MihaiSurdeanu Is the file released now? Thanks in advance!

Kind regards, Hasnae

[2020-02-05 17:44] kwalcock commented on #645
@MihaiSurdeanu, did you have a chance to think about my previous message?  Is there a good way to confirm that there isn't a problem?  FWIW, the reach and processors tests still pass when I publish bioresources locally with the change and then depend on it.  However, I doubt that the tests are sensitive enough to notice small problems in the data.

[2020-02-06 00:30] MihaiSurdeanu commented on #645
@kwalcock: this is caused by the change in tokenizers in processors. The examples you included are not ideally handled, but they are not that important. I propose to release.

[2020-02-06 10:29] Hasnae-25 commented on #645
@MihaiSurdeanu @kwalcock Let me know  when the file is released.Thanks in advance! Kind regards, Hasnae

[2020-02-06 16:32] kwalcock commented on #645
bioresources 1.1.28 has been released.  Others may notice it being accessible before I do.  Does reach need to be updated to match?

[2020-02-06 23:57] MihaiSurdeanu commented on #645
Yes, please!

On Thu, Feb 6, 2020 at 9:32 AM Keith Alcock <notifications@github.com>
wrote:

[2020-02-07 22:22] kwalcock commented on #645
reach v1.5.1 has been updated to use the new bioresources v1.1.28.

[2020-02-14 01:36] MihaiSurdeanu commented on #645
@kwalcock: the differences you observed above in tokenization are caused by incorrect tokenization of emoticons (e.g., :d) in processors. I'm working on fixing that. Afterwards, we should release bioresources.

[2020-02-14 03:29] MihaiSurdeanu commented on #645
@kwalcock : This has been addressed by PR #362 in processors.
When you have a chance, can you please release a new version of bioresources?
This not urgent at all. I think the tokenization differences do not have any major impact. They are just annoying.

[2020-02-14 03:40] kwalcock commented on #645
Will do.  Thanks for checking out that problem.

On Thu, Feb 13, 2020 at 8:29 PM Mihai Surdeanu <notifications@github.com>
wrote:

[2020-02-17 22:29] kwalcock commented on #645
bioresources has been updated to 1.1.29 and appears to be accessible already.  @Hasnae-25, fyi.

[2020-02-17 22:29] #645 closed

[2020-02-17 23:26] MihaiSurdeanu commented on #645
Thank you!

On Mon, Feb 17, 2020 at 15:29 Keith Alcock <notifications@github.com> wrote:

[2020-02-18 18:51] bgyori commented on #612
@MihaiSurdeanu I confirmed that with the latest master, in the `fries` output, `verbose-text` is the same as before. Would it be possible to either change `verbose-text` to be unprocessed text, or add a new entry under some other name that captures the original text? Thanks!

[2020-02-19 00:29] MihaiSurdeanu commented on #612
Can you please provide a simple example I can debug? verbose-text now comes from Sentence.raw, so I'd like to understand better what is going on.

[2020-02-19 00:29] MihaiSurdeanu commented on #612
Oh, nm. I see the example above. I'll use that.

[2020-02-19 02:34] MihaiSurdeanu commented on #612
I believe this is now fixed. The current output (in a branch) for the text above is:

[code]

Is this what you expect @bgyori ?

[2020-02-19 03:43] bgyori commented on #612
Yes, I also just tested some other examples on your branch and it works great! Once merged, we can close this issue.

[2020-02-19 03:52] MihaiSurdeanu commented on #612
Ok. Running all tests. If no issues, I'll merge next.

[2020-02-19 16:42] MihaiSurdeanu commented on #612
Merged in master.

[2020-02-19 16:42] #612 closed

[2020-02-26 04:01] bgyori opened #653 "Exclude promoter binding as complex formation event"
There are many sentences of the form "A binds the B _promoter_". Here, a Binding event between A and B (implying physical interaction between two proteins) should not be extracted since promoter binding is a form of (possible) gene expression regulation.

To achieve this, `binding1b` should be changed to not allow an incoming `compound` edge from "promoter" on the second theme. Further, to handle

[2020-02-26 04:22] MihaiSurdeanu commented on #653
Hi @bgyori,
You need a negative look around in the binding rule(s), which has the "(?! pattern)" form.
Syntactic look arounds are described in section 4.4.3 (page 18) of this document:
https://arxiv.org/pdf/1509.07513.pdf

Can you please see if these work? If not, I'll take a look. Or bring in one of the Odin experts.

[2020-02-26 04:54] bgyori commented on #653
Thanks, that was useful but in the end I realized that the solution was a bit simpler and opened a PR with the fix.

[2020-02-26 18:25] #653 closed

[2020-02-27 09:23] #648 closed

[2020-03-03 23:40] #567 closed

[2020-03-06 18:21] bgyori opened #657 "Transcription_0 rule seems to be backwards"
After staring at this for a while, I'm starting to think that transcription_0 is accidentally implemented backwards, i.e.,
[code]
(note I'm using a slightly older version of the rule here before some of the edge types were replaced by variables, for clarity).

`cause` and `theme` should be flipped here. An example is "SRF induces TAZ transcription":
[code]
in which TAZ (supposed to be the theme) i

[2020-03-06 20:09] MihaiSurdeanu commented on #657
Yeah, I think you're right. Agree it's worth flipping.

This rule is subtle because it uses a `compound` dependency for cause, which is ambiguous. That is, if you see just "Elk-1 transcription" it's hard to say if Elk-1 is the cause or the theme. But, in this case, knowing that the cause is found somewhere else (at the end of the `<dobj nsubj` path), I think it's safe to flip.

[2020-03-08 01:00] bgyori commented on #657
After having flipped the cause and theme, the next issue I'm running into is that two redundant events are extracted: `transcription_0 + toRelationMention` and `Positive_regulation_syntax_1_verb` both produce a positive regulation over the transcription event. Should / can something be done to eliminate this redundancy?
[code]
the first two

[2020-03-08 17:30] MihaiSurdeanu commented on #657
Just a note that I’ve seen this and we’ll respond soon.

On March 7, 2020 at 6:00:38 PM, Benjamin M. Gyori (notifications@github.com)
wrote:

After having flipped the cause and theme, the next issue I'm running into
is that two redundant events are extracted: transcription_0 +
toRelationMention and Positive_regulation_syntax_1_verb both produce a
positive regulation over the transcription event. S

[2020-03-09 02:48] MihaiSurdeanu commented on #657
I think I need some help here. @marcovzla, @myedibleenso, @danebell: did one of you wrote this method:
https://github.com/clulab/reach/blob/master/main/src/main/scala/org/clulab/reach/darpa/MentionFilter.scala#L120

I think it needs to be extended to remove 1 of the regulations above. I think both rules are doing what they're supposed to, but the filterRegulations action is not detecting that two

[2020-03-09 16:35] bgyori opened #658 "Relative path to resource files cause problems with JAR-based reading"
Context: One of the ways in which we use Reach is by creating a far JAR (using `sbt assembly`), putting it on the CLASSPATH, and then instantiating a Python-Java bridge to interact with Reach classes directly.

I noticed that the polarity classifier refers to resource files whose path is not correctly resolved in the context of a fat JAR. For instance, the logging output
[code]
indicates that `Sav

[2020-03-09 16:39] MihaiSurdeanu commented on #658
Yes, this is a bug. @kwalcock: can you please fix this, by changing the model path to the value that is resource friendly? Basically, just `SavedLSTM_WideBound_u_tag`
Thanks!

[2020-03-09 16:41] bgyori commented on #658
Thanks! Note that there are other files that would need a similar change, e.g., SentencesInfo_all_label_final_ExactRecur_ExpandBound.txt, perhaps more.

[2020-03-09 21:49] kwalcock commented on #658
I saw this and it is gradually getting to the top of the list.

[2020-03-11 00:21] kwalcock commented on #658
If I understand it correctly, a change to the value in the config file won't be enough.  There is code like
[code]
that looks for a file rather than a resource.  If Ben has used `sbt assembly`, there is no more file, unless he copies from the source code and puts it relative to the pwd/cwd at runtime so that it is found.  The next step is
[code]
which has the Java dynet call the C++ dynet to load

[2020-03-11 14:55] danebell commented on #657
I think it was mostly me and @marcovzla. I'll see if I can work out what's going wrong.

[2020-03-11 14:57] MihaiSurdeanu commented on #657
Thank you @danebell !

[2020-03-17 19:13] MihaiSurdeanu commented on #657
@danebell : can you please look at this issue?

[2020-03-17 19:13] MihaiSurdeanu commented on #658
@kwalcock : can you please address this issue?
Thank you!

[2020-03-17 19:32] kwalcock commented on #658
Yes.  Are those slightly more invasive changes acceptable?

[2020-03-17 19:34] MihaiSurdeanu commented on #658
I think so. Thanks!

[2020-03-18 03:00] #657 closed

[2020-03-18 03:02] MihaiSurdeanu commented on #657
The duplicated events issue was fixed by @danebell. The fix is now in master.
@bgyori: can you please check that you now have the expected output?
Thanks!

[2020-03-18 15:16] kwalcock commented on #658
It's at the top of the list now.

[2020-03-18 18:06] kwalcock commented on #658
Just for the record, I'm reading the model and writing it out as a test.  The model changes ever so slightly in the process:
[code]
I have not noticed this behavior before.  Now it's at least written down.

[2020-03-18 19:54] kwalcock commented on #658
This is being addressed with #660.

[2020-03-19 14:18] bgyori commented on #658
Thank you so much for looking into this! I am just in the process of testing this, and it appears that the specific problem related to the polarity classifier models has been fixed. However, I am still running into an error when invoking the JAR file is from any working folder other than the Reach  repo folder. I am trying to figure out what the specific issue is and will post it here.

[2020-03-19 14:55] kwalcock commented on #658
Stranger things have happened.  Let me know how I can help.

[2020-03-23 19:45] bgyori commented on #658
It took me a while but I figured out how to reproduce the error I mentioned above without going through INDRA. On the latest master, if you do `sbt assembly`, you get `<reach_repo>/target/scala-2.11/reach-1.5.2-SNAPSHOT-FAT.jar`. Now navigate to any folder other than `<reach_repo>`, and do
[code]
and send a request on the api/text endpoint to read some text. I get the following error:
[code]

[2020-03-23 20:00] kwalcock commented on #658
Thanks, @bgyori.  I didn't try the ApiServer and so will now.

[2020-03-23 20:03] bgyori commented on #658
I don't think it's specific to the ApiServer - you can probably reproduce this with other entry points of Reach. I just thought that was relatively easy to work with.

[2020-03-23 21:20] kwalcock commented on #658
Thanks for the tip.  I do get errors when running ApiServer.  For me they have to do with a different part of the configuration,
[code]
which I hadn't addressed.  So hopefully we're looking at the same problem.

[2020-03-23 22:40] kwalcock commented on #658
The branch just PRed as #661, kwalcock-ResourceAccess, should fix the problem.  It will probably be merged shortly.

[2020-03-24 17:13] bgyori commented on #658
Just tested it and it now appears to work! Thank you!

[2020-03-24 17:13] #658 closed

[2020-04-01 17:00] bgyori opened #662 "Unicode issue related to Python integration"
Context: One of the ways in which we use Reach is by creating a far JAR (using sbt assembly), putting it on the CLASSPATH, and then instantiating a Python-Java bridge using the `pyjnius` package to interact with Reach classes directly.

In the last couple of years a few changes have come together that now cause a problem when non-ASCII Unicode characters are read using this approach. First, in `cl

[2020-04-01 17:11] MihaiSurdeanu commented on #662
I think this makes sense.
But Unicode encoding has always confused me. @kwalcock: do you agree with this solution? If so, I can implement it quickly.

[2020-04-02 03:03] kwalcock commented on #662
I saw this and will get to it soon.

[2020-04-02 04:08] kwalcock commented on #662
I have some doubts about that explanation for line 87, `writeJsonToString(uniModel)`.  Java strings are UTF-16 (modulo some optimizations which are supposed to be hidden) and I don't think that writing to a string would involve any encoding to UTF-8.  It looks like a standard Java StringWriter is being used.  Stranger things have happened, though.  The error message complains about a surrogate.  I

[2020-04-02 04:09] MihaiSurdeanu commented on #662
Thanks @kwalcock !

[2020-04-02 13:32] bgyori commented on #662
Hi @kwalcock, thanks for looking into this, I am also confused and so my best attempt at an analysis above may not be correct - sorry. You are right about the character range, in one of our unit tests, we, on purpose, use a character un the U+10000-U10FFFF range (we happen to use U+1F4A9 in the test but you can use a nicer emoji like U+1F600 too :) ). Here is the pointer to the specific test: http

[2020-04-03 03:06] kwalcock commented on #662
Thanks for providing the excellent example.  That UTF-32 character, \U0001F4A9, translates to two UTF-16 characters, \ud83d \udca9.  (The tool at https://www.branah.com/unicode-converter seems to work reliably.)  These aren't affected by the ScienceUtils and they pass through it, despite the variable name textWithoutUnicode in Preprocess.preprocess.  It is really textWithoutRecognizedUnicode.  The

[2020-04-03 03:11] MihaiSurdeanu commented on #662
Thanks @kwalcock !
So... what is the solution then?

[2020-04-03 04:19] kwalcock commented on #662
It looks like that wasn't quite right.  The spaces aren't inserted until the text of a sentence is calculated for json output or other uses.  The problem is that the two characters are placed into separate tokens and words and in some instances those tokens/words are concatenated together with spaces used as separators.  Once they have been separated, there's a reasonable chance that something lik

[2020-04-03 04:27] MihaiSurdeanu commented on #662
The tokenizer is easy to change :)

This is the antlr file that contains the tokenizer lexer:
https://github.com/clulab/processors/blob/master/main/src/main/java/org/clulab/processors/clu/tokenizer/OpenDomainLexer.g

I think at this position we need to add a rule called SEQ_OF_UNICODES: ...
If you tell me what should be in there I can add it.

Then:
2) Install antlr4. For convenience, I am attachi

[2020-04-06 19:38] kwalcock commented on #662
@MihaiSurdeanu, something you said this morning made me wonder whether this was still an issue.  Are these things being replaced or just moved or something else?

[2020-04-06 19:45] MihaiSurdeanu commented on #662
Yes, please wait. Things are being moved around.

[2020-04-07 03:05] MihaiSurdeanu opened #663 "Unnecessary code in DeepLearningPolarityClassifier"
This method gets called when the polarity classifier is used in Reach:
https://github.com/clulab/reach/blob/master/main/src/main/scala/org/clulab/polarity/ml/DeepLearningPolarityClassifier.scala#L523

It should not be called, as it has no impact at runtime.

[2020-04-07 03:36] MihaiSurdeanu opened #664 "Double checking Family resolution"
Hi Ben,
This may be a non issue, but I'd like to check that it is Ok that the entities commented out in this test block are no longer Family:

https://github.com/clulab/reach/blob/proc800/main/src/test/scala/org/clulab/reach/TestFamilyResolutions.scala#L229

Thanks!

[2020-04-07 04:06] bgyori commented on #664
The ones with underscores were a very old artifact, obviously those are not valid lexicalizations, so those can be deleted, e.g.:
//(bePF.resolve("IKK_family")) should be (defined)
 However, at least one example I looked at that is currently uncommented should work:
//(bePF.resolve("death receptor")) should be (defined)

[2020-04-07 04:17] MihaiSurdeanu commented on #664
Thanks!

Where is "death receptor" defined now in bioresources?

[2020-04-07 04:19] bgyori commented on #664
Locally, I have it on line 1301 of famplex.tsv. I couldn't find it in any of the other tsv-s, so I believe it should resolve to FamPlex without an override.

[2020-04-07 04:43] MihaiSurdeanu commented on #664
Ok, thanks!

I'll look at this next.
Other than this issue, processors + bioresources have been released. Reach has been modified to depend only minimally on processors. For most changes, we will have to modify only bioresources and reach. All unit tests pass. This is all in the "proc800" branch. I will merge it in master once I fix this issue.

Thanks for all the help!!

[2020-04-08 00:59] MihaiSurdeanu commented on #664
False alarm. "death receptor" is recognized correctly.
I added back a unit for this.

[2020-04-08 00:59] #664 closed

[2020-04-08 01:04] MihaiSurdeanu commented on #585
@kwalcock: this is not urgent, but when you have a moment, it would be great to update Reach to cross-compile for scala 2.11 and 2.12.
There was an issue with that, but I can't recall what it was. @marcovzla: do you remember?
Thanks!!

[2020-04-08 01:05] MihaiSurdeanu commented on #610
Solved.

[2020-04-08 01:05] #610 closed

[2020-04-08 01:05] MihaiSurdeanu commented on #583
@johnbachman : I believe this is solved now, no?

[2020-04-08 01:07] MihaiSurdeanu opened #666 "assembly subproject still needed?"
@myedibleenso : are you still using the assembly subproject here? If not, should we remove it? I'd like to begin streamlining reach, and this is a subproject that might have a single user...

[2020-04-08 01:08] #509 closed

[2020-04-08 01:09] MihaiSurdeanu commented on #478
This is trivial now with a fat jar.

[2020-04-08 01:09] #478 closed

[2020-04-08 01:49] bgyori commented on #583
All the polarity handling related to these verbs is correct but the activity vs amount regulation issue isn't solved yet. I tried the following sentences in the shell (on master):
- MDM2 decreases TP53 expression: correct polarity, correct amount regulation
- MDM2 decreases TP53 stability: correct polarity, incorrect regulation type as activation
- MDM2 increases TP53 turnover: correct polarity, i

[2020-04-08 03:30] myedibleenso commented on #666
Thanks for letting me know.  I certainly don't to place the burden of maintaining unused code on the future of the project.  This why I had originally created `assembly` as a standalone project.

Considering the amount of time I spent on it, though, I should be the one to put the pillow to its lips and usher it into oblivion.

I've forked reach, and I'll put in a PR to resolve this.

[2020-04-08 03:31] MihaiSurdeanu commented on #666
Thanks!

The pipes are singing in the background.

[2020-04-08 04:05] myedibleenso commented on #666
btw, I'm honored this is issue 666! 👿

[2020-04-08 04:08] zhengzhongliang commented on #663
Hi Professor,
I think this function is called only when we instantiate it, so it is loaded when we start Reach, and will not be loaded for each sample (but please correct me if I am wrong). And as for usefulness, I think every time I load the model, I use the spreadsheet to build the vocabulary. But let me check if I am wrong.

[2020-04-08 16:07] MihaiSurdeanu commented on #663
You are right that this method is called only at initialization. BUT, it is bad practice to construct the vocabularies at runtime. Vocabularies and other meta data you need should be constructed during training and saved then. At runtime, you should simply load them from the saved files.
See, for example, how this is done in processors:

Meta data is stored in the corresponding objects:
https://gi

[2020-04-08 16:40] #666 closed

[2020-04-08 16:44] MihaiSurdeanu commented on #583
Thanks @bgyori !

The last 3 cases are caused by the fact that we do not recognize currently stability/turnover/degradation as events. In Reach (following BioPAX) regulations operate over other events as Controlled. Since we do not recognize those 3 as events, we fall back to Activations, where the Controlled is an entity. The fix would be to create SimpleEvent grammars for these 3 events...

[2020-04-08 18:52] marcovzla commented on #585
Sorry, I don't recall what the issue was.

[2020-04-08 20:09] bgyori opened #668 "Out of memory error during sbt assembly"
As a follow-up to #665 and #667 having been merged, I tried to do `sbt -J-Xmx32G assembly` on the latest master and keep getting:
[code]
Note that I'm using the `-J-Xmx32G` setting and my computer actually has 20+GB free memory. I also tried to remove my whole .ivy cache but that didn't help either.

[2020-04-08 20:24] kwalcock commented on #668
I don't think that the size of the ivy cache should be related.  The -J-Xmx32G may be telling sbt how much memory to give java when sbt arranges for a java program to run, but it doesn't seem like it would work to increase the amount of memory that sbt itself is getting.  Would just -Xmx work?  I'm looking at sbt.bat, but you have something else, and it's quite complicated.  Is it (or something si

[2020-04-08 20:25] MihaiSurdeanu commented on #668
For sbt config, I believe you have to edit this file instead:
https://github.com/clulab/reach/blob/master/.sbtopts

[2020-04-08 20:30] bgyori commented on #668
Thanks! Based on your comments I tried `sbt -Xmx16g assembly` but for that, I get `[error] Not a valid command: Xmx16g`, I also looked at .sbtopts and changed the first line from `-J-Xmx13G` to `-J-Xmx32G` but got the same out of memory error.

[2020-04-08 20:39] kwalcock commented on #668
I found the sbt file and it's informative reading.  You might try `export JAVA_OPTS=-Xmx12G` and that might be used when starting sbt.  Or the switch can be placed in .jvmopts.

[2020-04-09 00:07] bgyori commented on #668
Thanks @kwalcock, I tried both of those settings but it didn't help. I also tried to do sbt assembly on a different machine, also with 32G RAM, and got the same out of memory error. Does it work for either of you? This has never been a problem so I suspect that it's due to one of the two PRs I mentioned above, though I'm not sure how.

[2020-04-09 00:44] MihaiSurdeanu commented on #668
Well, I can at least confirm I can replicate this issue.
I'll look into it. I'd appreciate help from @kwalcock if he has any cycles available :)

[2020-04-09 00:47] MihaiSurdeanu commented on #668
I wonder if this is because now processors-models is 2.2GB...

[2020-04-09 01:30] kwalcock commented on #668
I'll be looking at this tomorrow when I check on getting Scala 2.11/12 support added.

[2020-04-09 03:39] MihaiSurdeanu commented on #668
A couple of updates:
- sbt is indeed using the settings from .sbtopts (I set them incorrectly and it complained).
- I tried setting -Xmx200G and it still ran out of memory. So I suspect it's a different JVM memory zone that needs to be configured, not the main RAM.

[2020-04-09 20:28] kwalcock commented on #668
There is a bug/feature in older versions of the assembly plugin that make it unable to work with some large files.  It was fixed here (https://github.com/sbt/sbt-assembly/pull/312) and released here (https://github.com/sbt/sbt-assembly/releases/tag/v0.14.7).  The current version is `addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "0.14.10")` and when I use it, there are no complaints about memory.

[2020-04-09 20:42] kwalcock commented on #585
The first problem that surfaces is this,
[code]
and maven, according to https://mvnrepository.com/artifact/ai.lum/nxmlreader, thinks that's a legitimate complaint.

[2020-04-09 21:57] MihaiSurdeanu commented on #668
@bgyori: can you please run a quick test?

[2020-04-09 21:58] MihaiSurdeanu commented on #585
@marcovzla or @myedibleenso: can you please cross compile and release nxmlreader?

[2020-04-10 01:23] bgyori commented on #668
Fixed in #669

[2020-04-10 01:23] #668 closed

[2020-04-10 04:32] bgyori opened #671 "FamPlex with incorrect keys in xrefs"
It appears that there is an issue with how I integrated the recent update for FamPlex in Bioresources. For instance, in the fries output, "MEK" appears as
[code]
Here, "namespace" should be "fplx", and I don't think "family" should appear as a value under xrefs. Also, I now realize that "species" is not necessary for FamPlex entries (that is something I remember adding so I can revert that). "id"

[2020-04-10 04:33] MihaiSurdeanu commented on #671
I see. Do you want to fix it? I can release it then.

[2020-04-10 04:36] bgyori commented on #671
Yes, I'll look at this tomorrow

[2020-04-10 21:48] bgyori commented on #662
I confirmed that this is still an issue, and since the restructuring is done, perhaps this is a good time to revisit it. Let me know if I can help!

[2020-04-10 21:54] kwalcock commented on #662
Thank you for checking!  I'll wait on word from Mihai in case something is still in flux or plans have changed, etc.

[2020-04-10 21:55] MihaiSurdeanu commented on #662
Things are stable again. Ok to work on this!
Thanks @bgyori and @kwalcock !

[2020-04-11 16:02] #585 closed

[2020-04-11 21:39] zhengzhongliang commented on #663
Hi Professor,
Thanks for the suggestions and the examples. I saved the word to index map and the character to index map to two txt files in the resource folder, so that they are loaded at runtime. I created a new branch to clean this and I will send a pull request.

Best regards,
Zhengzhong

[2020-04-14 18:36] #663 closed

[2020-04-16 03:47] #671 closed

[2020-04-16 03:48] bgyori commented on #662
Fixed by https://github.com/clulab/processors/pull/379

[2020-04-16 03:48] #662 closed

[2020-04-24 01:44] bgyori opened #680 "Case-sensitive handling of stopwords and overrides"
This is related to https://github.com/clulab/bioresources/pull/32, and also https://github.com/clulab/bioresources/pull/30. Currently, stopwords and overrides are used in a case-insensitive way with the following behavior:
- If there is a grounding entry that matches a stopword in a case-insensitive way, the entity is extracted and the grounding is always produced. Example where this is a problem:

[2020-04-24 02:49] MihaiSurdeanu commented on #680
This would take some engineering to fix...
We made this decision early on, because people write gene/protein names inconsistently. Sometimes they are capitalized, sometimes they are not. So, in addition of the engineering work, I am afraid that this change may cause us to lose some valid entities...

[2020-04-24 03:48] bgyori commented on #680
What I am suggesting is a bit more specific than making everything case sensitive. Namely, this would only apply in cases where there is ambiguity between two choices, i.e., a grounding entry and either a stopword or an explicit override with different capitalization. If there is no ambiguity with either of these entry types then case-insensitive matching would continue to apply.

[2020-04-24 03:49] MihaiSurdeanu commented on #680
I see. Let me think about this.

[2020-04-25 04:03] MihaiSurdeanu commented on #680
@bgyori: for the stop words matching, maybe we can improve the logic here?
https://github.com/clulab/reach/blob/master/processors/src/main/scala/org/clulab/processors/bionlp/BioNERPostProcessor.scala#L85

Note that this already handles "impact" vs. "IMPACT" correctly. That is, the former is not extracted, while the latter is marked as a GGP and grounded to Q9P2X3.

[2020-04-27 14:27] bgyori opened #682 "Allow BioProcess as controller?"
Currently, in most instances, controllers of modifications and activity/amount regulations are constrained to being a BioChemicalEntity, which is reasonable if the assumption is that we are representing only direct physical interactions. However, for indirect regulations in general, BioProcess-es should be allowed to be controllers. For instance "DNA damage leads to the phosphorylation of H2AX" is

[2020-04-27 14:37] bgyori commented on #680
I see, you're right about `impact`, so that wasn't a valid example in my original comment. Maybe a better example for ignores is `II` which, when all caps should be ignored but `Ii` is a valid protein synonym. As for overrides, there is no special logic like for stopwords, and the override is applied irrespective of capitalization, right?

[2020-04-28 03:15] MihaiSurdeanu commented on #682
Good point. I believe BioProcess can serve as Controlled but not as Controller (I'll have to double check that). I agree we should allow it as Controller, in theory. A small eval would be great!

[2020-04-28 14:21] MihaiSurdeanu commented on #680
Let's discuss stop words first, since they may be simpler to address.
However, I am struggling to find a general solution for handling stop words. We found in the past that capitalization is a strong indicator that we are looking at valid protein names... I can think of maybe two solutions:
1. A simple fix: we now remove stop words that have upper initial. We can refine this, and change it to remo

[2020-04-30 15:51] bgyori opened #685 "Crash due to a dynet error"
When running the latest system on a batch of documents, I got an error/crash that appears to be coming from dynet.
[code]
I haven't yet isolated the piece of text causing this but will post here if I find more info.

[2020-04-30 15:53] MihaiSurdeanu commented on #685
Thanks!

Usually the bug is somewhere else... It shows up in dynet.

[2020-05-12 04:35] myedibleenso commented on #585
@kwalcock @MihaiSurdeanu:  Can one of you please publish a cross-compiled version to Maven?

- https://repo1.maven.org/maven2/org/clulab/

[2020-05-12 04:44] MihaiSurdeanu commented on #585
We will, but there is a bug in the current version that needs to be fixed first.
Can you publishLocal for now?

[2020-05-12 05:49] myedibleenso commented on #585
I could, but the bug you mentioned has me thinking it might be better to just wait.  I can get by with using processors v7.5.3 for the time being.

[2020-05-12 14:15] MihaiSurdeanu commented on #585
I think you should use the latest. There are many useful improvements.
You can disable the piece of code that has the bug by setting polarity.engine = Linguistic in the conf file.

[2020-05-12 14:16] MihaiSurdeanu commented on #685
Hey,
Did you manage to identify the text where this crash happens?
Thanks!

[2020-05-12 14:21] bgyori commented on #685
No, I have a 300-document corpus that this crash happens with, but subdividing the corpus to try to identify a particular document has not worked so far, and I haven't had time to dig into this further.

[2020-05-12 14:52] MihaiSurdeanu commented on #685
Maybe we can take over, if you send us these docs.

On May 12, 2020 at 7:21:26 AM, Benjamin M. Gyori (notifications@github.com)
wrote:

No, I have a 300-document corpus that this crash happens with, but
subdividing the corpus to try to identify a particular document has not
worked so far, and I haven't had time to dig into this further.

—
You are receiving this because you commented.
Reply to thi

[2020-05-12 17:47] myedibleenso commented on #585
As a bandaid, how about merging that conf change and publishing? : )

[2020-05-12 17:49] MihaiSurdeanu commented on #585
Good point. I can do that.

@bgyori: do you have anything against releasing Reach, w/ that DyNet component disabled by default?

[2020-05-19 04:33] myedibleenso commented on #585
Any complaints, @bgyori ?

[2020-05-19 14:05] MihaiSurdeanu commented on #585
@myedibleenso, @bgyori: there is a Reach PR that fixes the bug I mentioned. I hope to release the full Reach today.

[2020-05-19 14:24] bgyori commented on #585
I'm fine with any release approach (with/without dynet). I could run a test off of @zhengzhongliang's PR to see if the dynet crash is gone now and report back if that's useful.

[2020-05-19 14:35] MihaiSurdeanu commented on #585
This would be great. I'll move the conversation in that PR.

[2020-05-26 20:05] MihaiSurdeanu commented on #685
Fixed and merged.

[2020-05-26 20:05] #685 closed

[2020-05-26 20:09] MihaiSurdeanu commented on #528
This has been fixed.

[2020-05-26 20:09] #528 closed

[2020-10-14 20:21] kwalcock opened #695 "Maintenance issues"
* sbt and plugins need to be updated
  * there's a branch kwalcock-updateSbt in waiting for this
* possibly account for Java 11, the default for newer Ubuntu releases
  * just one compilation problem was noted so far and addressed with kwalcock-updateSbtJava11
* make the correction in proonto branch
  * this is done
* remove CR/LF from github
  * this is on bioresources, but the code that generate

[2020-10-14 20:22] MihaiSurdeanu commented on #695
Awesome. Thank you!

[2020-10-15 06:36] kwalcock commented on #695
All the issues above except the last have been solved.  The last one causes an error in export/test TestApi.scala.  the positive activation only gets 7 of the 9.
[code]
[code]
I will try to provide details tomorrow.

[2020-10-15 17:45] kwalcock commented on #695
Recent changes, probably to reach, result in the following results being now missing from the new version so that the test fails:
[code]
There's also a case where the "mM' is now missing in the text of the mention, but it doesn't cause a problem with the test.
[code]

[2020-10-15 17:46] MihaiSurdeanu commented on #695
@bgyori : I think these are also side effects of you (correctly) removing 2-character entities?

[2020-10-15 17:54] bgyori commented on #695
Yes `mM` stands for micro-molar, a unit, not a named physical entity, and so this is actually a good change!

[2020-10-15 18:01] kwalcock commented on #695
Thanks, both.  It sounds like 60 and 63 which had Positive_activation before but aren't found any longer, should have been there anyway and I should have the test check for 7 rather than 9 Positive_activation instances.

[2020-10-15 18:10] MihaiSurdeanu commented on #695
Yep. Thanks!

On October 15, 2020 at 1:01:50 PM, Keith Alcock (notifications@github.com)
wrote:

Thanks, both. It sounds like 60 and 63 which had Positive_activation before
but aren't found any longer, should have been there anyway and I should
have the test check for 7 rather than 9 Positive_activation instances.

—
You are receiving this because you commented.
Reply to this email directly, view

[2020-10-20 01:32] #695 closed

[2020-10-20 01:44] kwalcock opened #709 "Reach release does not look right"
I tried to publish reach, using the usual "sbt release" and was surprised to see some output on the screen that seemed to mean that  a snapshot version was being published.  The screen at sonatype seems to confirm that's what happened, not just now but also for the previous release.  It seems like we recently started trying to release versions for both Scala 2.11 and 2.12.  Another screen makes it

[2020-10-20 02:10] MihaiSurdeanu commented on #709
Hmm... It's possible I screwed up the release of 1.6.0...
And it looks like 1.6.1 never happened. Based on the CHANGES file, all changes in 1.6.1 should be 1.6.2, no?

And unfortunately, I have no idea why we're releasing snapshots...

[2020-10-20 02:11] MihaiSurdeanu commented on #709
But it looks like the release process in processors is very different:

[code]

[2020-10-20 02:12] MihaiSurdeanu commented on #709
The above one is reach. The one in processors is:

[code]

[2020-10-20 06:02] kwalcock commented on #709
An update of build.sbt seemed to do the trick.  Is it important to release a version 1.6.0 that was intended back in May?

![image](https://user-images.githubusercontent.com/8679738/96546417-121cc300-125f-11eb-969d-8916203be5de.png)

[2020-10-20 11:44] MihaiSurdeanu commented on #709
Thanks @kwalcock !
No, it's not important to release 1.6.0.

[2020-10-27 18:00] #709 closed

[2020-10-27 18:05] kwalcock opened #712 "README needs to be updated"
* The badge on top may be for plain reach rather than reach-main, etc., because the version number is very old.
* The excerpt from the CHANGE file should be updated.
* Current version is 1.6.1.
* It can at least compile on Java 11.
* It builds and passes tests on Scala 2.12.
* The shell scripts is probably runReachCLI.sh.

[2020-11-29 07:37] sateeshperi opened #713 "/lib64/libc.so.6: version `GLIBC_2.14' not found"
I am trying to run the FAT jar of reach on HPC and get the following error. It works fine on VM where I assemble the fat jar.

	Suppressed: java.lang.NoClassDefFoundError: Could not initialize class edu.cmu.dynet.internal.dynet_swigJNI
			... 35 more
			Suppressed: java.lang.UnsatisfiedLinkError: /tmp/dynet816865678061882470.dll: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /tmp/d

[2020-11-29 08:25] kwalcock commented on #713
Here is an old email I have about that error.  I haven't closely followed the updates on UA's HPCs to know whether simply moving to the other one would solve it or not (if there still are two).  A docker container could provide the necessary version if necessary.

[code]

[2020-11-29 19:32] sateeshperi commented on #713
The `El Gato` and `Puma` compute nodes have no `java/8/` module available for executing the fat jar.

I tried installing `glibc` as per the instructions [here](https://unix.stackexchange.com/questions/176489/how-to-update-glibc-to-2-14-in-centos-6-5) but, was unsuccessful

please see my notebook with error logs [Here](https://github.com/sateeshperi/reach_pubmed/blob/main/PubmedReach.ipynb)

[2020-11-30 18:14] kwalcock commented on #713
The unavailability of Java on El Gato may not be accurate.  It *seems* to be preinstalled and I'm fairly sure this was the machine we've run on before.

[code]

[code]

[2020-11-30 18:16] MihaiSurdeanu commented on #713
Thanks Keith!

[2020-11-30 18:18] kwalcock commented on #713
https://public.confluence.arizona.edu/display/UAHPC/Software+Resources says that Puma has Java pre-installed, but it doesn't say which version.  Have you checked it out?

[2020-11-30 18:26] sateeshperi commented on #713
Thank you @kwalcock I can confirm java8 is pre-installed on `elgato` and `puma` and it works now.

[2020-11-30 18:26] #713 closed

[2020-12-02 07:31] sateeshperi opened #714 "[error] (run-main-0) java.lang.ClassNotFoundException: org.clulab.processors.server.ProcessorServer"
I keep getting the following error when trying to launch the processor server by `sbt 'runMain org.clulab.processors.server.ProcessorServer'`
[code]
I have cloned the git repo and modified the `application.conf` to get to this point...any help debugging is appreciated.

[2020-12-02 15:21] kwalcock commented on #714
ProcessorsServer was removed back in September 2019 in the commit https://github.com/clulab/processors/commit/9bc56e21f781dfd7a919bd50f6954e6acb06044a related to PR https://github.com/clulab/processors/pull/350.  There just isn't a server anymore (AFAIK).

[2020-12-27 01:29] kwalcock opened #715 "keywords for frailty"
On December 26, 2020 at 12:31:17 PM, Enrique Noriega (enoriega@email.arizona.edu) wrote:

Hi,

About the Arizona output: Good question. It looks like it’s been disabled/removed from the current state of the code. The output formats I showed are the only ones that seem to be currently supported:

https://github.com/clulab/reach/blob/5777d66448f1ccb737e69bedae5f8f8073e562b7/src/main/scala/org/clulab

[2020-12-27 01:31] kwalcock commented on #715
Find out when/why Arizona output was removed.

[2020-12-27 01:32] kwalcock commented on #715
Find out what causes this error and whether it is responsible for any slowdown:

Scala.MatchError: KDtrigger(org.clulab.reach.mentions.BioTextBoundMention@5ebec77a) (of class org.clulab.reach.mentions.KDtrigger)

[2020-12-27 01:43] bgyori commented on #715
I believe the Arizona output was removed as part of #667 since it required certain parts of assembly.

[2020-12-27 02:27] MihaiSurdeanu commented on #715
But I believe @myedibleenso added it as part of the ASKE hackathon. I am trying to trace it down.

[2020-12-27 13:54] myedibleenso commented on #715
I can't speak to the hackathon you mentioned as I'm not involved in that project.  I was asked to add assembly back to support work on causal ordering of events/relations.  Perhaps that was around the same time?

There has been a PR open since August 26 that adds back assembly along with compatibility changes related to universal dependencies:

- https://github.com/clulab/reach/pull/691

It looks

[2020-12-27 16:20] MihaiSurdeanu commented on #715
Thanks Gus!

This is my fault. I dropped the ball on this... @enoriega, I will solve this either today or tomorrow, and then hopefully you'll be able to generate the arizona format again.

[2020-12-27 21:01] myedibleenso commented on #715
Not your fault, @MihaiSurdeanu.  There was likely a good reason for waiting to merge at the time this was opened, but we've since forgotten what it was.  Please let me know if you run into issues.

[2020-12-28 17:27] MihaiSurdeanu commented on #715
@kwalcock: I implemented all the changes recommended by @myedibleenso in his branch: `myedibleenso/assembly`
However, compilation fails with this error:

[code]

Can you please look into it?

[2020-12-28 17:51] kwalcock commented on #715
Acknowledged

[2020-12-29 02:02] kwalcock commented on #715
@MihaiSurdeanu, all the other mentions of scalatest were for version 3.0.1.  After changing assembly/build.sbt to that version of scalatest, the library problem went away.  Some other problems did appear, though.  Perhaps they are related to what you were working on.

[2020-12-29 02:57] MihaiSurdeanu commented on #715
@myedibleenso: one of the compilation errors comes from the fact that the old writeJSON had an Assembler as parameter:

https://github.com/clulab/reach/blob/13c06ef793f9c2346a799d299e02d7b63c6fd9c7/export/src/main/scala/org/clulab/reach/export/JsonOutputter.scala#L61-L69

But (see L69) this method calls another writeJSON *without* the Assembler. Am I missing something, or is that Assembler not use

[2020-12-29 04:21] myedibleenso commented on #715
Very strange.  [According to git I am to blame for that](https://github.com/clulab/reach/commit/16172fa46828e0d3f58aa49492816f40063792e3#diff-084551bb66b00dcc28d6ad3f48d459a032813f3e64b0d9a6f2d6de5de334be7cR53), but I can see no reason behind the change.  I think it's safe to remove, as it is unused.  It must've been in anticipation of some output format.  Sorry about that!.

[2020-12-29 14:52] MihaiSurdeanu commented on #715
Thanks @myedibleenso ! Fixed that and added the missing Arizona and CMU outputters. I think we're almost there.
But I ran into one more error:

https://github.com/clulab/reach/blob/myedibleenso/assembly/export/src/main/scala/org/clulab/reach/export/cmu/CMUExporter.scala#L104

`equivalenceHash` takes a parameter, but here it is called without one. Do you know what value should be the default?
Thank

[2020-12-30 17:58] kwalcock opened #716 "With the Arizona and CMU formats enabled, reach drops the ball"
Regarding #691, @enoriega reports

I think there is some sneaky bug in there.

After enabling the Arizona and CMU formats, ReachCLI is picking up papers, generating the fries output and apparently dropping the ball without actually producing the other output format files. It doesn't report any exceptions nor stack traces.

The log file reports starting the papers but not finishing them. Can someon

[2020-12-30 18:05] MihaiSurdeanu commented on #716
Thanks!

On December 30, 2020 at 10:58:40 AM, Keith Alcock (notifications@github.com)
wrote:

Regarding @691 <https://github.com/691>, @enoriega
<https://github.com/enoriega> reports

I think there is some sneaky bug in there.

After enabling the Arizona and CMU formats, ReachCLI is picking up papers,
generating the fries output and apparently dropping the ball without
actually producing the other

[2020-12-30 19:30] enoriega commented on #716
@kwalcock Let me know if I can provide data to reproduce this

[2021-01-02 20:39] enoriega opened #717 "JSON serialization error"
I have experienced the following error repeatedly. This goes unhandled and error crashes `ReachCLI` instead of logging and recovering gracefully.

I'm not sure which file is the culprit of triggering it, but the last PMCID shown before crashing is `PMC6600461`.

I attach reach's log to this ticket.

[json_error.log](https://github.com/clulab/reach/files/5760833/json_error.log)

[code]

[2021-01-02 20:48] enoriega opened #718 "NxmLReader problem probably associated to assembly"
When I turn on assembly in the config, sometimes I see an an `NxmlReader` error that I didn't see otherwise. The stack trace points back to some of the assembly methods. I suspect there is an unexpected corner case with this class of files that crashes their processing.

The error is not catastrophic, as processing of the other files carries on.

I attach the stack trace of the exception and an nx

[2021-01-03 14:13] MihaiSurdeanu commented on #717
@kwalcock: can you please take a look at this asap? Not sure what is causing this: an incorrect json4s library version?

Adding @myedibleenso, in case he knows what this is.
Thank you both!

[2021-01-04 03:33] myedibleenso commented on #717
Not sure what might happening here.  There are tests in place for json serialization.  This only happens for some papers?

I would take a look at the history for any changes to json serialization and the `json4s` dependency.  You might also need to look at changes to the json serialization code in `processors`.

[2021-01-04 18:23] kwalcock commented on #717
I'm looking at the history and testing, but it looks like this isn't the first time the problem has been encountered.  @zhengzhongliang has code in one of his branches in which
[code]
has been changed to
[code]
Perhaps he can comment on what happened.

[2021-01-05 02:30] kwalcock commented on #718
This stack trace is deceptive, probably because of the reflection involved.  It is hiding an array index out of bounds exception which is thrown from LinguisticPolarityEngine line 46.  At that point there is a sentence with a token interval [3, 29] but incoming edges only from [0, 28].
[code]

[2021-01-05 02:44] kwalcock commented on #718
This may well have been fixed with https://github.com/clulab/processors/pull/428 which should be in processors 8.2.2, but that's exactly what is supposed to be being used...

[2021-01-05 14:31] MihaiSurdeanu commented on #718
Indeed. This should be fixed there...
@enoriega: if you can isolate this a sentence, I will debug this.

[2021-01-05 14:38] kwalcock commented on #718
I know which sentence it is.  Will report soon.

On Tue, Jan 5, 2021, 7:32 AM Mihai Surdeanu <notifications@github.com>
wrote:

[2021-01-05 15:58] kwalcock commented on #718
It is this sentence, which is almost the only one in the attached file:
[code]

AFAICT, the problem is in the processors project, file CoreNLPProcessor.scala, around line 129-130, in which these lines do not pass in a preferredSize when they call CoreNLPUtils.toDirectedGraph, unlike the code in FastNLPProcessor, method parseWithStanford, which might be used as a template.

[code]

[Sentence110.nxm

[2021-01-05 15:59] MihaiSurdeanu commented on #718
Thanks! I'll take a look soon.

[2021-01-05 16:22] kwalcock commented on #718
@enoriega's keen observational skills are greatly appreciated.  Thanks for taking the time to report the problem.

[2021-01-05 16:49] MihaiSurdeanu commented on #718
Solved in processors PR #439, which is in the process of being tested and then merged.

@enoriega: this means that you have to publishLocal processors 8.2.4-SNAPSHOT, and use this version in reach/processors/build.sbt.

[2021-01-05 16:49] MihaiSurdeanu commented on #718
The processors PR has been merged.

[2021-01-05 18:53] kwalcock commented on #718
This has likely been handled with https://github.com/clulab/processors/pull/439.

[2021-01-05 18:54] enoriega commented on #718
I tested again with a freshly cloned processors version 8.2.4-SNAPSHOT and am still getting the same error trace. Could it be that there's still a corner case not covered in processors?

[PMC2669449.nxml.txt](https://github.com/clulab/reach/files/5772017/PMC2669449.nxml.txt)

[code]

[2021-01-05 18:55] enoriega commented on #717
@kwalcock I'll  find a couple files that trigger this and come back with them

[2021-01-05 19:13] kwalcock commented on #718
I'll check.

[2021-01-06 00:11] kwalcock commented on #718
It looks like the same error, but has a completely different cause.  This line in reach does not check the bounds correctly:
[code]

[2021-01-06 00:22] MihaiSurdeanu commented on #718
Can you please try to fix it?
Thank you!

[2021-01-06 00:24] kwalcock commented on #718
Yes, doing so.

[2021-01-06 01:11] kwalcock commented on #718
@enoriega, while it is being tested, approved, and merged, you can use the changes from #719 or the kwalcock-fixes branch.

[2021-01-06 01:11] #718 closed

[2021-01-06 01:12] enoriega commented on #718
Thanks @kwalcock

[2021-01-06 01:30] kwalcock commented on #716
You aren't running afoul of the restart mechanism, are you?  It was turned on by default not too long ago (May, this year).  It looks for restart.log in the output directory and skips files recorded there.  If you ran once with the fries output successfully, added some formats, and ran again, the second run would not reprocess the files already done unless restart.log was first erased.

The json o

[2021-01-06 01:32] kwalcock commented on #716
It's really cool that we can output in Friesian!

[2021-01-06 03:54] kwalcock commented on #717
I found a file that fails.  The best solution IMO is to stick with the json4s that processors uses.  Mixing and matching them seems to lead to problems.  The change has been made in the PR, #719.

[2021-01-06 03:58] kwalcock commented on #715
@enoriega, do you have the format you need now?

[2021-01-06 15:51] enoriega commented on #718
I have been running REACH using branch `kwalcock-fixes` for a while and haven't seen this error. I think it is safe it has been fixed now. Thanks @kwalcock

[2021-01-06 15:59] kwalcock commented on #718
Thanks for the update.  We're working on the merge to master and a new release.

[2021-01-06 16:03] enoriega commented on #717
Ok. Same as with issue #718, this error hasn't happened while running branch `kwalcock-fixes`, so I think this is safe to close too.

[2021-01-06 16:03] #717 closed

[2021-01-06 16:17] enoriega commented on #716
@kwalcock I am aware of the restart mechanism. So far I am pointing this issue w.r.t. files that haven't been processed yet.

After the fixes in `kwalcock-fixes`, I noticed that for some nxlm files are processed correctly and all the files are generated. Others crash at the time of json serialization, (as in json4s, not necessarily REACH's json format) with missing matches, like:

`scala.MatchErro

[2021-01-06 16:18] enoriega commented on #715
@kwalcock Not yet, but almost there!

[2021-01-06 16:34] kwalcock commented on #716
Thanks for the files.  I can confirm a crash.

[2021-01-06 16:43] MihaiSurdeanu commented on #716
@kwalcock: please let me know if you need my help on this. A small reproducible test case would help.

[2021-01-06 20:12] kwalcock commented on #716
The diagnosis seems to be correct.  There were triggers/Modifications added as far back as July 2019 which do not have proper serialization support.  IntelliJ does very poorly with multiple package objects with implicit conversions, so things were a little confusing.  There should be a fix shortly.

[2021-01-06 21:08] kwalcock commented on #716
The most recent change to #719 may take care of it.  I'm still going to try for a less wordy version, though.

[2021-01-06 21:10] MihaiSurdeanu commented on #716
Thanks @kwalcock !

[2021-01-06 21:33] enoriega commented on #716
@kwalcock I can confirm I no longer see those error in the log. I think this is safe to be closed. Thanks!

[2021-01-06 21:33] #716 closed

[2021-01-06 21:34] enoriega commented on #715
This issue has been addressed successfully. Thank you everybody.

[2021-01-06 21:34] #715 closed

[2021-01-08 20:53] kwalcock commented on #712
There is no runReachShell.

[2021-01-09 00:40] #712 closed

[2021-01-09 00:52] kwalcock commented on #629
I just noticed this issue.  In the very latest update I made sure that it is a stable sort used in the output so that it is at least consistent.  Anything that was tied before will end up in the same place each time.  However, if the sorting was underspecified before and those things aren't really tied, there could be a problem.  The previous sort was by
[code]
and the new one just adds alphabetic

[2021-01-09 02:01] MihaiSurdeanu commented on #629
I don't think this matters, as we are not promising any specific ordering.

[2021-01-12 04:12] bgyori opened #722 "Entity boundary issue related to sites"
A very common entity boundary issue currently happens with cyclins, which can both be described as a family ("cyclin") or specific proteins like "cyclin A1". Currently, in many of these cases, the entity boundary is cropped to just "cyclin", even if a specific type like "A1" or "D1" follows.

Looking at bioresources, in `hgnc.tsv.gz` we have
[code]
and `cyclin A1` also appears in `ner/Gene_or_gene

[2021-01-12 14:46] MihaiSurdeanu commented on #722
Thanks @bgyori !
I think this behavior was on purpose based on what we saw when we developed it. We observed a while ago that the NER "eats" into descriptions of sites because of the same overlap you observed. So we allowed the Site detector (which is executed downstream of the NER) to take away tokens from the NER if the site grammar thinks it's a site. I think I can revert that if we decide that

[2021-01-12 15:07] bgyori commented on #722
I see, is there any documentation / communication from around that time that has examples of issues before that change? That might help figure out how to engineer an overall better solution.

[2021-01-12 15:10] MihaiSurdeanu commented on #722
No... This was an early decision, which may not even be justified right now. Not sure.
I think we could employ your tactic here: revert the change, and compare outputs before and after to understand the impact.

[2021-01-12 15:20] bgyori commented on #722
Yes, I think in principle a good prioritization would be to first check if the named entity can be grounded fully as is (in the above example as "cyclin A1"). Then if it cannot be grounded, check if it can be broken up into a protein + site combination. I'm actually not sure what some examples of this latter case might be since in most cases e.g., "ERK2 T185" the site isn't recognized as part of t

[2021-01-12 15:55] MihaiSurdeanu commented on #722
I'll take a look at the code later today.

[2021-01-12 21:35] enoriega opened #723 "Multiple problems with the indexcard output format"
There are a few bugs in the indexcard output format which I think are because of changes made to data structures posterior to the creation of the output format.

Below are all the exceptions that appear in the log after a few days running.

[code]

Please find the log file and a couple papers to reproduce it attached to the issue.
[error.log](https://github.com/clulab/reach/files/5804921/error.log

[2021-01-12 21:58] MihaiSurdeanu commented on #723
This is a format that really nobody uses anymore. I propose to remove it.
@kwalcock : can you please do it when you get a chance?

[2021-01-12 22:04] kwalcock commented on #723
Yes.  Not having looked at it yet, I wonder whether it is easier to fix than to remove.  Last time something was removed, it had to be added back.  However, I can certainly follow instructions

[2021-01-12 22:06] MihaiSurdeanu commented on #722
Just FYI, if you look at this file:
https://github.com/clulab/reach/blob/master/main/src/main/resources/org/clulab/reach/biogrammar/entities/entities.yml

you'll see that the rule that creates Site have priority 1, whereas these rules:
https://github.com/clulab/reach/blob/master/main/src/main/resources/org/clulab/reach/biogrammar/entities/entities.yml#L129-L233

which convert BIO notations into ac

[2021-01-12 22:06] MihaiSurdeanu commented on #723
Either way...
But, for historic background, this was a format that was used in an early DARPA eval, and was abandoned after.

[2021-01-12 22:52] MihaiSurdeanu commented on #722
There's a little more here than just priorities. More soon, hopefully.

[2021-01-13 01:17] MihaiSurdeanu commented on #722
It was not a priority issue. It was this line:
https://github.com/clulab/reach/blob/master/main/src/main/resources/org/clulab/reach/biogrammar/entities/entities.yml#L186

which prevents entities contain upper-case letters followed by digits.
As the comment says this was added to prevent the entity to "eat" mutations.
Removing the `!word=...` constraint it makes Reach recognize "cyclin A1" as an en

[2021-01-13 14:40] bgyori commented on #722
I see, I'm still wondering if there was a good reason for adding that condition but I couldn't come up with any examples, even synthetically where it would make a difference. For instance, if we have a typical mutation listed as a separate word, like `BRAF V600E`, the `V600E` part is not recognized as part of the named entity anyway and so this condition isn't applied. In other cases, where there

[2021-01-13 15:16] bgyori commented on #722
Just for the record, some synthetic examples I've tried (not all of them make sense biologically) are e.g., `KRAS G13`, `KRAS G13C`, `EGFR A1`, `EGFR C15`, `EGFR A66C`, `AKT1 A66`, etc. There are a few different cases for entity labels, one is
[code]
where we get a new `B-` (not `I-`) entity for the site. Another is
[code]
where the site is an `O` (again not `I-`). I couldn't produce any examples

[2021-01-13 15:20] MihaiSurdeanu commented on #722
This came up because in addition of the bioresources NER, which you know, Reach merges in the outputs of a CRF NER, which (at least in past) we have observed to "eat" into mutations and sites. But it doesn't seem to be happening commonly at all. So it's maybe safe to just remove? Should I do it?

[2021-01-14 19:10] bgyori commented on #722
I'm trying to do some analysis on papers with mutations to see if we lose anything, I'll report what I find here.

[2021-01-15 02:51] bgyori commented on #722
A larger scale test actually highlighted some consequences to this proposed change. Several instances of figure names were extracted as named entities e.g.:
- `Fig. 5a`
- `Fig. 4f`
- `figure 4A`
I found that before the change, from the same sentences we still extracted
- `Fig.`
as a named entity but we didn't get `figure`, presumably because that is a stop word. Is there a way to recognize Fig. an

[2021-01-15 02:59] MihaiSurdeanu commented on #722
Can you please give us a couple of example sentences?

On Thu, Jan 14, 2021 at 19:51 Benjamin M. Gyori <notifications@github.com>
wrote:

[2021-01-15 03:06] bgyori commented on #722
- Similarly, we showed that wild-type p53 was polyubiquitinated by Pirh2 but not by Pirh2-DN and Pirh2-ΔRING (Fig. 5C, compare lane 3 with lanes 4 and 5).
- In contrast, the levels of IRP2 and TfR1 were increased, whereas the level of FTH1 was decreased, by ectopic mutant p53 (Fig. 4f, compare lanes 3–4 with 1–2, respectively).
- In addition, knockout of IRP2 led to decreased expression of TfR1 an

[2021-01-15 03:37] MihaiSurdeanu commented on #722
Thanks!

On Thu, Jan 14, 2021 at 20:06 Benjamin M. Gyori <notifications@github.com>
wrote:

[2021-01-15 15:30] MihaiSurdeanu commented on #722
@enoriega, can you please:
- Add unit tests for these sentences.
- Add all the "figure" variants to the NER stop words here: https://github.com/clulab/bioresources/blob/master/src/main/resources/org/clulab/reach/kb/ner_stoplist.txt

Thanks!

[2021-01-16 02:15] kwalcock commented on #723
Here are some more details about the exceptions that were thrown.  Some don't seem connected to the output but were problems encountered before the output, which I call reading here.  Some seem to have been for non-indexcard formats.

Exception | Format | Plan
-- | -- | --
java.lang.IllegalArgumentException:   requirement failed: Controllers of an Activation must be Entities! | fries |  
java.lang

[2021-01-16 02:40] MihaiSurdeanu commented on #723
Hmm. Some of these seem errors in the format code. Some are legit exceptions in the data that should be handled.
To make this more manageable to fix, @enoriega: can you please create a unit test for each of these exceptions, ideally using a single sentence per test? Than I can take a look at each, and hopefully either fix them or tell you what needs to be done.

Thanks!

[2021-01-16 04:10] kwalcock commented on #723
If I had had the corresponding files, I would have already volunteered to do it.  Feel free to reassign.

[2021-01-17 06:21] kwalcock opened #725 "UAZ IDs could be more consistent"
These IDs are given out on a first come, first served basis.  This works well when only one file is being processed, but if multiple files are being processed in parallel, the output of two separate runs will be different.  If that is important, then it would be possible to generate the 5-digit numbers (is that enough?) by taking the hash code of the string % 100,000 and then controlling for colli

[2021-01-17 14:27] MihaiSurdeanu commented on #725
Nice. I don't think this is very important for downstream users. But I agree this would be nice to have for reproducibility.

[2021-01-18 03:06] enoriega commented on #722
@MihaiSurdeanu adding `figure` and variants to the stop list file doesn't work for this problem:

If you consider `figure 4A`, the CRF assigns tags `B-` and `I-` to the tokens. The stop list is only checked for single word entities (https://github.com/clulab/reach/blob/master/processors/src/main/scala/org/clulab/processors/bionlp/BioNERPostProcessor.scala#L85-L89). At this point the grammar hasn't

[2021-01-18 15:19] MihaiSurdeanu commented on #722
I fixed this a while ago in the NER post-processing code:
https://github.com/clulab/reach/blob/master/processors/src/main/scala/org/clulab/processors/bionlp/BioNERPostProcessor.scala#L100-L107

But this obviously doesn't work anymore. Can you please try to fix that block of code?
Thanks!

[2021-01-18 17:12] enoriega commented on #722
Done. I noticed that after fixing it, the figure numbers (4a, 5C, etc) where recognized as sites. I updated the rule to fix this too.

https://github.com/clulab/reach/blob/4d7445bcd3cdd524abf58f571c9cc3a145d64785/main/src/main/resources/org/clulab/reach/biogrammar/entities/entities.yml#L33

Pull request coming soon.

[2021-01-18 17:17] enoriega commented on #722
@MihaiSurdeanu I had to bump the `bioresources` dependency to version `1.1.37-SNAPSHOT`. Should I leave this on for the pull request? Otherwise, what is the recommended course of action?

I see how this I inconvenient, and will propose a fix soon.

[2021-01-18 18:20] MihaiSurdeanu commented on #722
Great, thanks!

reach master should not depend on any snapshot. So, we need to release
bioresources first.

On Mon, Jan 18, 2021 at 10:17 AM Enrique Noriega <notifications@github.com>
wrote:

[2021-01-18 21:40] enoriega commented on #723
I updated the table with a reference to a file for each error kind. The attached zip contains all the referenced input files. I'll get some example sentences for each error.

Exception | Format | Plan | PMCID
-- | -- | -- | --
java.lang.IllegalArgumentException: requirement failed: Controllers of an Activation must be Entities! | fries |   | PMC4265014
java.lang.NegativeArraySizeException | serial

[2021-01-19 20:18] #722 closed

[2021-01-20 01:25] kwalcock commented on #723
Thanks you.  I'll get to them soon.

[2021-01-20 02:22] sateeshperi opened #729 "cannot run javac"
[error] (processors / Compile / compileIncremental) java.io.IOException: Cannot run program "javac" (in directory "/xdisk/sateesh/reach"): error=2, No such file or directory

[2021-01-20 02:22] #714 closed

[2021-01-20 02:25] enoriega opened #730 "Merge bioresources into REACH"
Every time we make an update to the [Bioresources](https://github.com/clulab/bioresources/) project, we need to bump the version number and publish it to maven central before being able to integrate the change into reach.

Given that reach is the only _consumer_ of bioresources, it makes sense to merge the repositories to streamline the process.

This will be done by migrating bioresources' sbt pr

[2021-01-20 02:34] enoriega commented on #729
I think there is a problem in the configuration of your environment. I assume you're trying to run on the HPC.
Have you tried running `module load java/1.8` in your script before calling `sbt`?

[2021-01-20 02:38] enoriega commented on #714
We need to update the wiki to reflect this. It still refers to the processors' server

[2021-01-20 02:40] MihaiSurdeanu commented on #730
+1!

[2021-01-20 02:41] enoriega opened #731 "Update Wiki with latest updates"
Some of the wiki pages in this repo are out of date. For example, https://github.com/clulab/reach/wiki/Running-REACH still makes reference to the processors server, which has been removed now.

Go through the pages and remove or update outdated information as necessary

[2021-01-20 02:44] sateeshperi commented on #729
hi @enoriega this is the jdk available on the node
[code]

[2021-01-20 02:46] bgyori commented on #730
Do you think there's a way to preserve the git history of the bioresources repo while migrating? I pretty often look at the history / blame there to figure out what happened when and why so it might be useful. (Maybe something like this: https://medium.com/@leyanlo/how-to-move-one-git-repository-into-a-subdirectory-of-another-with-rebase-2b297b628c57, or making use of https://git-scm.com/book/en/v

[2021-01-20 02:49] enoriega commented on #730
I'll take a look. Worst case, we can trace back the changes in the history of the stand alone repo. We need to keep it to support older versions

[2021-01-20 02:59] enoriega commented on #729
Thinking about it, you shouldn't need to compile reach in the HPC.  Please try building a "fatjar" in your work station by running: `sbt assembly`

Then upload it to the HPC and run

[code]

[2021-01-20 04:31] #729 closed

[2021-01-20 15:15] kwalcock commented on #731
See also #712.  The readme file also has problems.

[2021-01-20 20:33] kwalcock commented on #723
I'll update this as they are figured out.

Exception | Format | Plan | PMCID | Sentence
-- | -- | -- | -- | --
java.lang.IllegalArgumentException: requirement failed: Controllers of an Activation must be Entities! | fries |   | PMC4265014 | N/A
java.lang.NegativeArraySizeException | serial-json |   | PMC7176272 |  
java.lang.reflect.InvocationTargetException | reading |   | PMC7040422 |  
java.lan

[2021-01-20 21:53] enoriega commented on #730
I am a little wary of the solution described in https://medium.com/@leyanlo/how-to-move-one-git-repository-into-a-subdirectory-of-another-with-rebase-2b297b628c57 because it involves overwriting git's history, I think it is too risky, but did make a test with the submodules and it works relatively well.

I created branch `bioresources_submodule` that has the following changes:

- Added the bioreso

[2021-01-21 01:22] MihaiSurdeanu commented on #730
I agree that it's not worth porting the commit history from bioresources, since bioresources will continue to exist as a repo, and all those git commands scare me. But if @kwalcock thinks differently, I defer to him.

Also, I don't understand what the last 3 commands are for? Once bioresources is included in reach, we will no longer develop anything under the bioresources standalone repo. Am I mis

[2021-01-21 01:38] kwalcock commented on #730
I don't know of a better solution offhand.  I'd have to be googling.  It seems like the thing someone might have written a script for and it would be really nice to be able to run it on a clone first to see what might happen.  Did anyone look at things like https://www.nomachetejuggling.com/2011/09/12/moving-one-git-repo-into-another-as-subdirectory/ ?

[2021-01-21 01:41] enoriega commented on #730
@MihaiSurdeanu Git allows you to "embed" another git repository into a main git repository with submodules.

For example, imagine I wrote a cool RL library we want to use in reach but I didn't publish it to maven central. Instead requiring the end user to install the library manually by him/herself you can include the actual sources of another repo as a submodule (instead of copying the files manu

[2021-01-21 01:43] kwalcock commented on #730
FWIW I've noticed that Gus sometimes uses submodules.

[2021-01-21 01:50] enoriega commented on #730
This looks clever and non-destructive. I will test it locally tomorrow to see the result

[2021-01-21 15:30] #629 closed

[2021-01-21 19:05] kwalcock opened #732 "AzFailsafeKBML does not seem to be threadsafe"
It may be that I misunderstand, but it appears that ReachCLI processes papers in parallel.  It seems that a single instance of AzFailsafeKBML with its memoryKB is used to generate names for all unknown texts.  The code for resolve() does not seem to be threadsafe.

[code]
If two copies of the same text arrive at nearly the same time, they can be given different refIds.  Only one of these will be s

[2021-01-21 19:06] MihaiSurdeanu commented on #732
Nice catch! That block needs to be synchronized.

[2021-01-21 21:18] kwalcock commented on #723
This java.lang.NegativeArraySizeException for PMC7176272 is very suspicious.  It doesn't occur anywhere near any of our code that could be subtracting wrong.  The input file of 300KB takes a very, very long time to process.  My computer ran overnight and I see in the log that Enrique worked on it for 22 hours.  When I paused it periodically I noticed that the stack was very, very long.  It looked

[2021-01-21 21:23] enoriega commented on #723
What you say sounds plausible and I think that this is a corner case too bizarre, so probably it's not worth fixing. We can instead keep this note in a "Knowledge Base" somewhere in the wiki in case it happens again eventually.

[2021-01-21 21:31] kwalcock commented on #723
I haven't yet noticed in the serialization code anything that is looking out for loops, like a list of already visited Mentions being passed around.  Perhaps a short unit test can at least show what would result if that were ever to happen.

[2021-01-22 02:30] MihaiSurdeanu commented on #723
I have seen this in the past, but very infrequently...
I agree that this sounds like an infinite loop. but not sure where it's coming from...

[2021-01-22 02:46] kwalcock commented on #732
Fixed with #733.

[2021-01-22 02:46] #732 closed

[2021-01-22 02:47] kwalcock commented on #725
Fixed with #733.

[2021-01-22 02:47] #725 closed

[2021-01-22 19:54] #730 closed

[2021-01-27 16:00] kwalcock opened #736 "Possible infinite loop in serial-json output"
As noted in #723, reach seems to hang and never make it through this particular file with this output format, at least until some internal part overflows, positive numbers become negative, and an exception is thrown a day later.

Exception | Format | Plan | PMCID | Sentence
-- | -- | -- | -- | --
java.lang.NegativeArraySizeException | serial-json | unsolved | PMC7176272 | There seems to be an infi

[2021-01-27 17:53] kwalcock commented on #723
Addressed by PR #724 with one moved to issue #736.

[2021-01-27 17:53] #723 closed

[2021-01-27 19:01] enoriega commented on #731
I went through the wiki pages and updated them where it seemed appropriate. I also looked at the README.md file and made a slight change.

[2021-01-27 19:01] #731 closed

[2021-02-05 02:13] kwalcock commented on #736
There seems to be something strange going on with the Antecedents related to the Anaphoric trait.  There are very long chains of them.  I stopped when they got to 100.  When printing output for one of them, the 100 antecedents must be printed.  For the 99th, its 98 must be printed, for the 98th, its 97, etc.  This quickly explodes.  There is a loop detector now and if it is trustworthy, there are

[2021-02-05 02:17] MihaiSurdeanu commented on #736
This was probably done by @danebell. @danebell: any chance you can look into this probable infinite loop thing?
Thank you!

[2021-02-05 14:53] danebell commented on #736
Absolutely. Do you have the sentence or document that produced this problem, @kwalcock ? That would help me make a test.

[2021-02-05 15:54] kwalcock commented on #736
@danebell, please see branch kwalcock-loop and the test TestLoop (which I just updated).  It should access PMC7176272.nxml which is one of the test resources.  It is a large file in which something like 4000 mentions are found.  Finding them is not a big problem, but outputting them will take overnight and break when a buffer exceeds 2gb, it seems.  I can figure it out eventually, but if someone h

[2021-03-31 17:30] kwalcock opened #743 "bioresources should be standard text files, version controlled, directly readable, etc."
There are probably good reasons that the bioresources are stored in gzip files, but maybe it's time to revisit them.  It is incredibly difficult (for people spoiled by large hard drives and fast network connections, etc.) to do very useful things with them like observe how they have changed over time or even just read them.  Only one of the files, uniprot-proteins.tsv, expands to a size larger tha

[2021-03-31 17:39] bgyori commented on #743
I've been dreaming about this for a long time! Looking at the files with vi has worked for me without decompression but comparing versions for diffs is really a pain. I think the only issues are with the file size limit and the fact that at the level of interacting with the repo itself, things would get more bulky and a bit slower (if there are large diffs being carried around in the git history).

[2021-03-31 18:02] MihaiSurdeanu commented on #743
This was my call at the time because of file size limits in github. If we can uncompress files and still push them, I am all in favor!

[2021-03-31 19:59] enoriega commented on #743
I did a quick test, the repo's size is 778 MB with gziped files and 992 MB without compression. This is barely under the 1GB limit of the free tier. However, I am not sure if trying to push unzipped files will accumulate the sizes due to versioning or if the quota is computed by the size of HEAD.

I will fork it and test it on my personal account

Another option is to  use GitHub's Large File Stor

[2021-03-31 20:30] kwalcock commented on #743
Ah, I wasn't aware of a per repo limit.  Are you sure?  https://docs.github.com/en/github/managing-large-files/what-is-my-disk-quota and https://stackoverflow.com/questions/38768454/repository-size-limits-for-github-com mention other numbers.  When I've checked the LFS possibility before, there was a troublesome data transfer limit to worry about.  Even if there is enough space, moving the data ba

[2021-03-31 20:35] enoriega commented on #743
You're right @kwalcock. It is a _recommended_ size. I did the test in my personal fork. Uncompressed all the `gz` files. There is one, `uniprot-proteins.tsv` that exceeds the 100 MB hard limit on per-file size. However, it can be split into multiple files and pushed this way. It worked well.

Of course, this will require some refactoring of `bioresources` to account for the split, which shouldn't

[2021-04-06 20:20] enoriega opened #746 "Remove duplicate entries from Bioresources"
I am about to remove the duplicate entry for E3:

[code]
@MihaiSurdeanu  Which one is the correct entry?
Also, I detected more entities with duplicate but identical entries in `NER-Grounding-Override.tsv`. I will remove the redundant ones.

Now that I am on this, should I look for duplicate entries in the other KB files?

[2021-04-06 20:21] MihaiSurdeanu commented on #746
Not sure. @bgyori ?

You should check the override KB for duplicates. Probably not the other ones.
Thanks!

[2021-04-06 20:27] kwalcock commented on #746
See also the list at the bottom of #742 .

[2021-04-06 20:52] enoriega commented on #746
Thanks @kwalcock . I am not sure of how to deal with the other duplicates. Consider `axin`, it appears in uniprot, but has a manual override. Does it make sense to remove it from uniprot? I think it doesn't

[2021-04-06 21:03] bgyori commented on #746
Duplicates in the overrides: interesting, I don't think having duplicates in there make sense so we should probably remove those - if possible I'd like to take a look at the choices to see if they make sense. As for the other files, duplicates at the level of the entity string are normal ambiguities that are to be expected so we shouldn't remove them.

[2021-04-06 21:08] kwalcock commented on #746
I *think* that they have duplicates within the overrides because I stopped adding to the list before it got to processing the regular KBs.  As usual, I may be mistaken.

[2021-04-06 21:24] bgyori commented on #746
Actually, I could work on eliminating the override duplicates and push here, shall I do that?

[2021-04-06 21:40] MihaiSurdeanu commented on #746
Please!

On Tue, Apr 6, 2021 at 2:24 PM Benjamin M. Gyori ***@***.***>
wrote:

[2021-04-09 00:40] #746 closed

[2021-07-09 01:18] djinnome opened #758 "Difficulty installing reach through sbt"
Hi folks,

Apologies for the newbie questions.

I followed [these directions](https://indra.readthedocs.io/en/latest/modules/sources/reach/index.html#indra-communicating-with-a-locally-running-reach-server-indra-sources-reach-api) for installing a local version of reach here:

[code]
But I got this error message:

[code]

I noticed that `sbt` downloaded `Scala 2.13.3` instead of `Scala 2.12.8` as

[2021-07-09 01:25] djinnome commented on #758
Same problem even after I install openjdk 11 through homebrew:

[code]

still results in:

[code]

[2021-07-09 01:35] kwalcock commented on #758
Hi.  Thanks for the detective work.  I don't think that sbt understands --version, but it is supposed to understand about and sbtVersion.  Do those give errors?
[code]

[2021-07-09 03:00] djinnome commented on #758
To downgrade to Java 8, I did this:

[code]

Still get the same error:

[code]

[2021-07-09 03:04] djinnome commented on #758
I'm suspect I am falling prey to some newbie Java trap.  Maybe a `CLASSPATH` issue?

[2021-07-09 03:18] kwalcock commented on #758
Does `java -version` at least work OK?  A google search for `sbt internal.ClassLoaderWarmup$.warmup(XMainConfiguration.scala:31)` turns up some hits, so you aren't the first person to get the error.  It might not be directly related to reach.  Does a simple sbt command (and then "exit" to get out of it) work in the reach directory or an empty directory?

[2021-07-09 17:48] djinnome commented on #758
Apparently (part of) the problem was using [`brew install sbt`](https://www.scala-sbt.org/download.html)

[code]
[code]
[code]

I downloaded the `sbt` tarball and in every directory but `reach` I can do this:

[code]

But as soon as I enter the `reach` directory, the same problem occurs:

[code]

Any clue what could be going on?

[2021-07-09 18:34] kwalcock commented on #758
It seems close.  I wonder if sbt has cached some things that it now has trouble reading because in that directory there is a real project.  `sbt clean` probably doesn't work.  Are there any `target` directories that can be erased or can a clean clone be made from github?  I hope a real Mac user can chime in.  We have plenty of them.  I see in project/build.properties that reach wants sbt 1.4.0.  I

[2021-07-09 19:06] djinnome commented on #758
OK, check this out:

[code]

Why does it think that version 1.4.0 is actually 1.5.4?

And it still fails in the reach directory even when I perform a clean clone:

[code]

Interestingly, the same phenotype occurs when I run sbt in the `/usr/local/share/sbt/bin` directory

[code]

[2021-07-10 19:43] bgyori commented on #758
Hi @djinnome, a while ago I added a Dockerfile for Reach that might be easier to get working: if you have the reach repo cloned, you can build it as
[code]
and then run it as
[code]
You can then interact with it the same way as a natively running local Reach web service. Does that work for you?

[2021-07-10 20:07] kwalcock commented on #758
Thanks, Ben!  djinnome, the only explanation I can think of is that either the path or some brew thing is interfering.  My impression is that sbt is only a shell program that calls up the real sbt (i.e., runs java on some jar file) and it may be be getting the wrong version number and compatibility issues from the wrong jar file or wrong java.

[2021-07-10 23:40] djinnome commented on #758
Hi @kwalcock

I think sbt 1.4.0 is the issue here, according to https://github.com/sbt/sbt/issues/6587#issuecomment-877714299
Any chance you can upgrade to a later version of sbt?

[2021-07-10 23:51] djinnome commented on #758
Hi @bgyori

I tried the instructions you provided, but I got some kind of authentication error.

[code]

Full logfile attached: [docker.log](https://github.com/clulab/reach/files/6796108/docker.log)

[2021-07-11 00:11] djinnome commented on #758
Good news!  I changed `project/build.properties` to use `sbt 1.5.4` and it is now running the server locally.

Thanks everyone for the helpful hints!

[2021-07-11 01:54] kwalcock commented on #758
Congratulations!  Thanks or sticking it out.  We'll see what it takes to update everyone to that version.

[2021-07-11 03:32] djinnome commented on #758
Everyone else may not need to upgrade all the way to `sbt 1.5.4`.   @eed3si9n seemed to think the issue was resolved by `sbt 1.4.3`

[2021-07-11 03:55] kwalcock commented on #758
Thanks for the tip.

[2021-08-24 02:48] bgyori opened #759 "Problem with resource files in fat jar"
I am trying to create a fat JAR of the latest Reach using `sbt assembly` and then using it to process text with the ApiRuler's annotate_text method (this has been our standard integration approach, no change here). If I do this exactly from the Reach repo's main folder, it works, i.e. it is able to load all the resource files and return a result
[code]
However, if I move to any other folder, loadi

[2021-08-24 02:59] bgyori commented on #759
As a minor side-issue, note how in the logging message in the case I was running this from the reach repo folder, it says
[code]
so the line count is not shown as intended.

[2021-08-24 15:13] kwalcock commented on #759
At runtime (except maybe during testing, so testtime), nothing should refer to the directory structure of the source code.  So, I think you've found a problem.  I'm looking into what to do about it.

[2021-08-24 15:23] MihaiSurdeanu commented on #759
Thank you Keith!

On Tue, Aug 24, 2021 at 8:14 AM Keith Alcock ***@***.***>
wrote:

[2021-08-24 15:58] kwalcock commented on #759
The logging statement does have a bug as well, but it is readily fixed.

[2021-08-24 22:35] kwalcock commented on #759
This is being addressed with #760.

[2021-08-29 01:52] bgyori commented on #759
Thank you! I have now been using this and everything seems to work.

[2021-08-29 01:52] #759 closed

[2022-01-24 16:32] kingfish777 opened #765 "API key for Elsevier"
Hi Ben,
How do you load the API key to connect to Elsevier, etc.? I was not able to satisfactorily answer this question from the documentation!
Thanks!
Scott

[2022-01-24 16:36] bgyori commented on #765
Hi @kingfish777, not sure if this issue was meant for INDRA (https://github.com/sorgerlab/indra) which can be configured with API keys for Elsevier access? In any case, you can register here: https://dev.elsevier.com/ to get API access and then set your API key in the INDRA config file in ~/.config/indra/config.ini. Hope that works!

[2022-01-24 16:41] kingfish777 commented on #765
Excellent, yes that was what I meant. Thanks!

[2022-02-09 09:57] zebulon2 opened #766 "Differences in processing between Arizona/Odinweb and local installation"
Hi,
I notice I get different results using the Web API service on http://agathon.sista.arizona.edu:8080/odinweb/api/text and a local installation of REACH. I am wondering if it is a difference in code or settings. Notably, I used this test sentence:
`The ribosomal S6 protein phosphorylation.`

On the odinweb REACH service API, I get this response:
`"events" : {
    "frames" : [ {
      "frame-id"

[2022-02-09 15:15] MihaiSurdeanu commented on #766
Hi @zebulon2,
Thanks for the report!
Unfortunately, the web demo install uses an old version of Reach, considerably older than the master branch. Since then, we changed many things, including extending the knowledge bases used. One undesired side effect of this is increased ambiguity for tokens with multiple types, which you observed here.

Just to be extra safe, @enoriega: can you please double c

[2022-02-09 16:44] enoriega commented on #766
@MihaiSurdeanu @zebulon2

I replicated the extraction. Indeed `S6` is detected as as site:

[code]

Thanks for the report. We hope to extend the NER to handler ambiguities like this better soon.

[2022-04-10 20:59] #765 closed

[2022-04-23 20:28] myedibleenso commented on #576
What's the status of this?  The linguistic polarityEngine relies on some head finding, so I'm worried it might run into nasty corner cases.

[2022-06-30 03:07] kwalcock opened #771 "Wrong field in PubmedAbstractIndexer"
This code looks suspicious:

[code]

[2022-06-30 06:55] MihaiSurdeanu commented on #771
This indeed looks incorrect. @enoriega : I think you added this, no?

[2022-08-26 23:25] compbiolover opened #773 "Installation Error When Attempting to make REACH Jar"
Hi @kwalcock,
I have tried to package REACH and its dependencies into a `JAR` by following the directions from here: https://indra.readthedocs.io/en/latest/modules/sources/reach/index.html.
I have successfully installed `SBT` and `Java JDK version 8` but I am getting an error when running `sbt assembly`. It appears to be a bad gateway error with a couple of dependencies. I am attaching a screensho

[2022-08-27 00:47] kwalcock commented on #773
Thanks for letting me know.  It looks like one (or more) of our servers is down.  We're looking into it and will report back.

[2022-08-28 01:14] compbiolover commented on #773
No problem, @kwalcock. Will watch for your update.

[2022-08-28 01:54] kwalcock commented on #773
@compbiolover, the server seems to be working again.  Thanks for your patience.

[2022-08-28 01:54] #773 closed

[2022-10-27 10:29] Crispae opened #774 "Error installing REACH with sbt."
I followed the steps mentioned in documentation:

`git clone https://github.com/clulab/reach.git
 cd reach
 sbt 'runMain org.clulab.reach.export.server.ApiServer'`

Gettiing this error

<img width="440" alt="Screenshot 2022-10-27 122822" src="https://user-images.githubusercontent.com/74324530/198261517-67f07aea-17af-42a0-b8ee-279d77fa21a7.png">

[2022-10-27 14:58] kwalcock commented on #774
Can you try that command with double quotes instead of single ones?  I don't see that step in the documentation.  Can you point me to it?  Thanks.

[2022-10-28 13:40] Crispae commented on #774
I follow the steps mentioned in this documentation https://indra.readthedocs.io/en/latest/modules/sources/reach/index.html. In this there are 4 steps.

I tried  **INDRA communicating with a locally running REACH Server**, on normal command line. It is giving error while in power shell it is working fine.

While i was trying the **INDRA using a REACH JAR through a Python-Java bridge**, using the co

[2022-10-28 17:00] kwalcock commented on #774
That's strange.  I get a clean assembly.  There is code in `build.sbt` to take care of the conflicts.  Can you do a `git status` to check what you are working on?  That code has been in place since 4/9/2022.  Thanks.

[2022-10-31 09:11] Crispae commented on #774
<img width="357" alt="Screenshot 2022-10-31 100938" src="https://user-images.githubusercontent.com/74324530/198972377-9c9e44e7-fd41-47d9-b6ee-abc4fde1d512.png">

This is up to date with current changes. May be environment variables are causing this issue?

[2022-10-31 09:13] Crispae commented on #774
I added all my environment variables in path
<img width="416" alt="Screenshot 2022-10-31 101239" src="https://user-images.githubusercontent.com/74324530/198973052-3936ed5e-2275-44d3-adfb-e009fef2a759.png">

[2022-10-31 16:26] kwalcock commented on #774
What has changed in build.sbt?  To unchange it to match the current master branch, you would need to do `git restore build.sbt`.  It would be nice to know what the change is first: `git diff build.sbt`.

[2022-10-31 16:29] kwalcock commented on #774
I don't see anything suspicious in the environment variables.  We generally use Java 8, but I don't think that's the problem.

[2022-11-02 10:18] Crispae commented on #774
Assembly is working fine now, but still offline reading is not available. I already installed pyjnus.
<img width="762" alt="Screenshot 2022-11-02 111750" src="https://user-images.githubusercontent.com/74324530/199464494-f5890f71-3b2a-4f85-ab33-041a1c46d07b.png">

[2022-11-02 16:04] kwalcock commented on #774
If you have advice for others on how to get assembly to work, I'm sure they'd appreciate it.

Given those error messages, I wouldn't trust that jnius is installed or configured correctly.  Is REACHPATH set, for example?  For questions that are more about INDRA than REACH, you might have better luck at https://github.com/sorgerlab/indra/issues.

[2022-11-18 15:49] Crispae commented on #774
Sorry for late response. offline system work fine, in the process_pmc function no need to add offline parameter, In url just use api.local_nxml_url.

[2022-11-18 15:49] #774 closed